<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  fullScreen="true"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <!-- <div class="content-wrap rgnl-mng"> -->

  <div class="">
    <div id="primary" class="content-area col-md-12">
      <!-- header text  -->
      <div class="card-header">
        <div class="card-title">
          <div class="title">
            <h1>Physicians List</h1>
          </div>
        </div>
      </div>

      <!--/////////////////////////////////// search section//////////////////////////// -->

      <div style="padding-bottom: 5px; padding-top: 5px;">
        <div class="specimen_border">
          <div class="">
            <div class="">
              <form [formGroup]="searchForm" (ngSubmit)="searchData()">
                <div class="col-md-2 entre_name speciman_top">
                  <div id="search_value_holder" style="margin-left: 0">
                    <select
                      formControlName="status"
                      [(ngModel)]="statusSelect"
                      class="form-control"
                    >
                      <option value="">User status</option>
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3 entre_name speciman_top">
                  <div id="search_value_holder" style="margin-left: 0">
                    <input
                      type="text"
                      formControlName="fname"
                      class="form-control"
                      placeholder="Search by First Name Or Last Name"
                    />
                  </div>
                </div>

                <div class="col-md-2 entre_name speciman_top">
                  <select formControlName="state" class="form-control">
                    <option value="">Select State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                  </select>
                </div>

                <div class="col-md-2 entre_name speciman_top">
                  <input
                    type="text"
                    class="form-control highlight_class"
                    bsDatepicker
                    [bsConfig]="{
                      dateInputFormat: 'YYYY-MM-DD',
                      containerClass: 'theme-red'
                    }"
                    [maxDate]="maxDate"
                    formControlName="from_date"
                    placeholder="From date (Y-M-D)"
                  />
                </div>

                <div class="col-md-2 entre_name speciman_top">
                  <input
                    type="text"
                    class="form-control highlight_class"
                    bsDatepicker
                    [bsConfig]="{
                      dateInputFormat: 'YYYY-MM-DD',
                      containerClass: 'theme-red'
                    }"
                    formControlName="to_date"
                    [maxDate]="maxDate"
                    placeholder="To date (Y-M-D)"
                  />
                </div>
                <div class="clearfix" style="margin-bottom: 5px;"><br /></div>

                <div class="col-md-1 no_padding3">
                  <input type="submit" value="Search" class="btn btn-success" />
                </div>

                <div
                  class="col-md-1 reset_btn no_padding3"
                  style="margin-left: 12px;"
                >
                  <a
                    href="javascript:void(0);"
                    (click)="ngOnInit()"
                    class="btn btn-info"
                  >
                    <i class="fa fa-repeat"></i> Reset</a
                  >
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                  <input
                    type="text"
                    placeholder="Quick Search"
                    class="form-control"
                    (keyup)="search_filter($event.target.value)"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- alert message -->
      <div *ngIf="succMessage" class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>{{ succMessage }}</strong>
      </div>

      <!--/////////////////////////////////// listing//////////////////////////// -->
      <p class="clear"></p>
      <div class="clearfix"></div>
      <div class="table-responsive">
        <table
          class="display table table-responsive table-bordered"
          style="width:100%"
          [mfData]="data"
          #mf="mfDataTable"
          [mfRowsOnPage]="10"
        >
          <!-- table header -->
          <thead>
            <tr class="users_list">
              <th width="20%">
                <mfDefaultSorter by="full_name">Physician Name</mfDefaultSorter>
              </th>
              <th *ngIf="user_role === 'partner'" width="20%">
                <mfDefaultSorter by="clinic_addrs"
                  >Clinic Address</mfDefaultSorter
                >
              </th>
              <th *ngIf="user_role !== 'partner'" width="10%">
                <mfDefaultSorter by="sales_reps_name"
                  >Data Collectors
                </mfDefaultSorter>
              </th>
              <th width="5%">
                <mfDefaultSorter by="short_totalSpecimen"
                  >Nail Specimens
                </mfDefaultSorter>
              </th>
              <th width="5%">
                <mfDefaultSorter by="short_totalSpecimen"
                  >Wounds Specimens
                </mfDefaultSorter>
              </th>

              <th width="10%">
                <mfDefaultSorter by="specimen_submitted_date"
                  >Last Specimen Date
                </mfDefaultSorter>
              </th>
              <th width="10%">
                <mfDefaultSorter by="user_status">Status</mfDefaultSorter>
              </th>
              <th width="20%">Actions</th>
            </tr>
          </thead>

          <!-- table body -->
          <tbody>
            <ng-container *ngIf="!notFount; else elseTemplate">
              <tr *ngFor="let physician of mf.data | filter: searchText">
                <td>
                  <div>
                    <a
                      routerLink="/physician-specimens-details/{{
                        physician.physician_id
                      }}"
                      >{{ physician.full_name }}</a
                    >
                  </div>
                </td>

                <td valign="middle" *ngIf="user_role === 'partner'">
                  <div>
                    <a
                      href="https://maps.google.com/?q={{
                        physician.clinic_addrs
                      }}"
                      target="_blank"
                      >{{ physician.clinic_addrs }}</a
                    >
                  </div>
                </td>

                <td valign=" middle" *ngIf="user_role !== 'partner'">
                  {{ physician.sales_reps_name }}
                </td>
                <td valign="middle">
                  <div style="text-align: center ; cursor: pointer;">
                    <a
                      routerLink="/physician-specimens-details/{{
                        physician.physician_id
                      }}"
                      title="Number of Data Collectors"
                      ><i class="glyphicon fa fa-flask"></i
                      >{{ physician.totalSpecimen_NF }}</a
                    >
                  </div>
                </td>
                <td valign="middle">
                  <div style="text-align: center ; cursor: pointer;">
                    <a
                      routerLink="/physician-specimens-details/{{
                        physician.physician_id
                      }}"
                      title="Number of Data Collectors"
                      ><i class="glyphicon fa fa-flask"></i
                      >{{ physician.totalSpecimen_W }}</a
                    >
                  </div>
                </td>

                <td valign="middle">
                  <div>{{ physician.specimen_submitted_date }}</div>
                </td>

                <td valign="middle" *ngIf="user_role == 'partner'">
                  <div>
                    <a
                      href="javascript:void(0);"
                      class="btn btn-success"
                      *ngIf="physician.user_status === 'Active'"
                      data-toggle="tooltip"
                      title="Active"
                      >Active</a
                    >

                    <a
                      href="javascript:void(0);"
                      class="btn btn-danger"
                      *ngIf="physician.user_status === 'Inactive'"
                      data-toggle="tooltip"
                      title="Inactive"
                    >
                      Inactive</a
                    >
                  </div>
                </td>

                <td valign="middle" *ngIf="user_role !== 'partner'">
                  <div>
                    <a
                      href="javascript:void(0);"
                      class="btn btn-success"
                      *ngIf="physician.user_status === 'Active'"
                      (click)="
                        active_inactive(
                          physician.user_status,
                          physician.physician_id
                        )
                      "
                      data-toggle="tooltip"
                      title="Click to Inactive"
                      >Active</a
                    >

                    <a
                      href="javascript:void(0);"
                      class="btn btn-danger"
                      *ngIf="physician.user_status === 'Inactive'"
                      (click)="
                        active_inactive(
                          physician.user_status,
                          physician.physician_id
                        )
                      "
                      data-toggle="tooltip"
                      title="Click to Active"
                    >
                      Inactive</a
                    >
                  </div>
                </td>

                <td>
                  <div class="buttonList btn-group">
                    <a
                      class="btn btn-primary"
                      routerLink="/view-physician/{{ physician.physician_id }}"
                      routerLinkActive="active"
                      rel="shadowbox;width=800;height=720;"
                      data-toggle="tooltip"
                      title="Click to View"
                    >
                      <i class="fa fa-eye"></i
                    ></a>
                    <ng-container
                      *ngIf="
                        user_role == 'aps_sales_manager' ||
                        user_role == 'data_entry_oparator'
                      "
                    >
                      <a
                        class="btn btn-info"
                        type="button"
                        routerLink="/edit-physician/{{
                          physician.physician_id
                        }}"
                        routerLinkActive="active"
                        data-toggle="tooltip"
                        title="Click to Edit"
                        ><i class="fa fa-pencil-square-o"></i
                      ></a>
                    </ng-container>
                    <ng-container *ngIf="user_role == 'aps_sales_manager'">
                      <button
                        class="btn btn-danger"
                        mwlConfirmationPopover
                        [popoverTitle]="popoverTitle"
                        [popoverMessage]="popoverMessage"
                        confirmText="Yes <i class='glyphicon glyphicon-ok'></i>"
                        cancelText="No <i class='glyphicon glyphicon-remove'></i>"
                        placement="top"
                        (confirm)="delete_phy(physician.physician_id)"
                        (cancel)="cancelClicked = true"
                      >
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </ng-container>
                  </div>
                </td>
              </tr>
            </ng-container>
            <ng-template #elseTemplate>
              <tr id="no_data_found" class="text-center">
                <td colspan="12" class="text-center">
                  <h4>{{ statusMessage }}</h4>
                </td>
              </tr>
            </ng-template>
          </tbody>

          <!-- table footer -->
          <tfoot>
            <tr class="users_list">
              <th>Physician Name</th>
              <th *ngIf="user_role === 'partner'">Clinic Address</th>
              <th *ngIf="user_role !== 'partner'">Data Collectors</th>
              <th>Nail Specimens</th>
              <th>Wounds Specimens</th>
              <th>Last Specimen Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>

            <tr>
              <td colspan="6">
                <mfBootstrapPaginator
                  [rowsOnPageSet]="[10, 25, 50, 100]"
                ></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-md-6"></div>
      <div class="show_physician_list">
        <strong>Showing Number of Physician: </strong
        ><span>{{ total_showing_users }}</span>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
<!-- </div> -->
