.heading {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #424242 !important;
    font-family:"Yanone Kaffeesatz";
    font-weight: 400;
    font-size: 30px;
    padding: 9px;
}
input.ng-invalid.ng-touched {
    border-color: red;
}
.error {
    color: red;
    position: absolute;
    line-height: 15px;
    font-size: 12px;
    margin: 0;
}