<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-4 mid-align">
        <a routerLink="/home"><img src="./assets/images/logo-footer.png" alt="logo"></a>
        <a routerLink="/survey"><button type="button" class="survey_button"><i class="fa fa-ticket"
              aria-hidden="true"></i> Survey</button></a>
        <a class="policy_footer" href="#">Privacy Policy</a>
      </div>
      <div class="col-md-2 col-xs-12 col-sm-4 footer-address mid-align">
      </div>
      <div class="col-md-6 col-xs-12 col-sm-4 footer-address mid-align">
        <ul>
          <li class="copyright">Copyright © {{ year }} Antares Physician Services - All Rights Reserved</li>
        </ul>
      </div>
    </div>
  </div>
</footer>