footer {
    background: grey;
    padding: 20px 0;
    border-top: 4px solid #6b6b6b;
    margin-top: 30px;
}
.survey_button {
    background: #424242 none repeat scroll 0 0;
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    font-family:"Yanone Kaffeesatz";
    font-size: 17px;
    font-weight: 300;
    border: 0;
    padding: 6px 15px;
    margin-top: 20px;
    margin-left: 5px;

}
footer a.policy_footer {
    color: #fff;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-left: 25px;
}
footer .mid-align a img {
    display: block;
}
.footer-address ul li, .footer-address ul li a {
    color: #fff;
    font-family: 'Lato', sans-serif !important;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
}
.footer-address ul {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:991px) {
.col-md-4.col-xs-12.col-sm-4.footer-address.mid-align p {
    overflow-wrap: break-word;
    white-space: inherit;
  }
  ul li p {
    word-wrap: break-word;
  }
}

@media screen and (max-width:767px) {
    .col-md-4.col-xs-12.col-sm-4.footer-address.mid-align li {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
      .col-md-4.col-xs-12.col-sm-4.footer-address.mid-align p {
        margin: 0;
        margin-left: 11px;
      }
      .col-md-4.col-xs-12.col-sm-4.mid-align > a {
        text-align: center;
        display: flex;
        justify-content: center;
      }
}

/**10.9.19**/

@media screen and (max-width:480px) {
.footer-address ul li, .footer-address ul li a {
    font-size: 14px;
    text-align: center;
}

}