<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->



  <div class="body_content">

    <div class="container-fluid no-pad header-gap">
      <h1 class="page-title">Antares Physician Services</h1>
      <h2 class="page-title-secondary"><span>Notifications List</span></h2>
    </div>

    <div class="">
      <div class="contact">

        <div class="table-container">
          <h3 style="padding-bottom: 20px;">Incomplete Notifications</h3>
          <div style="overflow-y: scroll; height:400px;">



            <div *ngFor="let noti of incom_notification" style="padding:10px; ">
              <div [ngClass]="{
                  'alert alert-info alert-dismissible': noti.note_read ==='Unread',
                  'alert2 alert-danger alert-dismissible': noti.note_read ==='Read'
                }" role="alert">
                <button type="button" class="close" (click)="change_status(noti.note_id)" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <a (click)="read_unread(noti.note_id)"
                  href="javascript:void(0)"><strong>{{noti.notification_details}}</strong></a>
              </div>
            </div>

            <div *ngIf="total_incom_notification === '0'">There have no data.</div>


          </div>
        </div>


        <hr />
        <h3 style="padding-bottom: 20px;">Completed Notifications</h3>
        <div style="overflow-y: scroll; height:400px;">
          <div class="complete"></div>

          <div *ngFor="let notifi of com_notification">
            <div [ngClass]="{
          'alert alert-info alert-dismissible': notifi.note_read ==='Unread',
          'alert2 alert-danger alert-dismissible': notifi.note_read ==='Read'
        }" role="alert">

              <strong>{{notifi.notification_details}}</strong> <br>
              <span style="color: #c80000; font-size: 14px">Notification Submitted By
                :{{notifi.reader_name}}</span><br />
              <span style="color: #c80000; font-size: 14px">Notification Complete Date :{{notifi.modify_date}}</span>
            </div>
          </div>

          <div *ngIf="total_com_notification === '0'">There have no data.</div>


        </div>


      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>