.page-title-secondary, .page-title-secondary span {
    font-size: 38px;
    color: red;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    background: #fff;
    width: 400px;
    margin: 0 auto;
    z-index: 9999;


}
.page-title {
    font-size: -21px;
    color: #6b6b6b;
    text-align: center;
    padding: 0;
    margin: 0;
}

.page-title-secondary::after, .page-title-secondary::before {
    border-top: 1px solid #ccc;
    margin-top: 19px;
    position: absolute;
    width: 100%;
    content: "";
    left: 0;
    z-index: -11;
}
 .alert2 {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
.alert-dismissible .close {
        position: relative;
        top: -2px;
        right: -1px;
        color: inherit;
    }
    .body_content {
        margin-top: 50px;
    }