th {
    color: #ffffff;
    background-color: black;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    border: 1px solid;
    padding: 5px;
}
.card-title .title h1 {
    background: rgba(0, 0, 0, 0);
    color: #444;
    font-family:"Yanone Kaffeesatz";
    font-weight: 400;
    font-size: 44px;
    margin: 20px 0;
    padding: 0 0 4px;
    text-transform: capitalize;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 10px 12px;
    align-items: center;
    display: inline-block;
    width: 100%;
    position: relative;
}
.margin_left {
    margin-left: 133px;
}
.form-inline span {
    margin-right: 5px;
}

.test_type {    
    background: #f7f7f7 linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #999;
  display: inline-block;
  font-size: 12px;
  margin-left: 0;
  padding: 8px;
  vertical-align: middle;
  margin-left: 10px;
}
.datatype-checkbox{
    margin-bottom: 20px;
}
.show_physician_list {
    border-bottom: 1px dashed #ccc;
    display: inline-block;
    margin: 0;
    padding: 10px;
    width: 100%;
  }