<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <div id="primary" class="content-area">
    <div id="registration-form" class="form">
      <div class="alert alert-danger alert-dismissable" *ngIf="message">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Error!</strong> {{ message }}
      </div>

      <form [formGroup]="FormData" (ngSubmit)="update_user_deatails()">
        <input type="hidden" name="action" value="update" />

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Basic Details</h3>
          </div>

          <div class="panel-body bg-light">
            <div class="basic-bx">
              <div class="col-md-6 no_padding">
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    >First Name :&nbsp;<span>*</span></label
                  >
                  <input
                    type="text"
                    formControlName="first_name"
                    class="form-control required"
                    placeholder="First Name"
                  />

                  <div
                    *ngIf="
                      FormData.controls['first_name'].touched &&
                      !FormData.controls['first_name'].valid
                    "
                  >
                    <span
                      *ngIf="
                        FormData.controls['first_name'].hasError('required')
                      "
                      class="error"
                      >First Name is required</span
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 no_padding">
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    >Last Name :&nbsp;<span>*</span></label
                  >
                  <input
                    type="text"
                    formControlName="last_name"
                    class="form-control"
                    placeholder="Last Name"
                  />

                  <div
                    *ngIf="
                      FormData.controls['last_name'].touched &&
                      !FormData.controls['last_name'].valid
                    "
                  >
                    <span
                      *ngIf="
                        FormData.controls['last_name'].hasError('required')
                      "
                      class="error"
                      >Last Name is required</span
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 no_padding">
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    >User Name :&nbsp;<span>*</span></label
                  >
                  <input
                    type="text"
                    formControlName="user_login"
                    class="form-control"
                    placeholder="User Name"
                    readonly
                  />
                </div>
              </div>

              <div class="col-md-6 no_padding">
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    >Email :&nbsp;<span>*</span></label
                  >
                  <input
                    type="email"
                    formControlName="user_email"
                    class="form-control"
                    placeholder="Email"
                    readonly
                  />
                </div>
              </div>

              <div class="col-md-6 no_padding">
                <div class="form-group">
                  <label
                    >User Password :(<small>For ex. Ability@1234</small
                    >)&nbsp;<span>*</span></label
                  >
                  <input
                    type="password"
                    formControlName="user_pass"
                    class="form-control"
                    placeholder="User Password"
                    autocomplete="off"
                  />

                  <div
                    *ngIf="
                      FormData.controls['user_pass'].touched &&
                      !FormData.controls['user_pass'].valid
                    "
                  >
                    <!-- <span *ngIf="FormData.controls['user_pass'].hasError('minlength')" class="error">Password minimum 6
                      characters.</span> -->
                    <span
                      *ngIf="FormData.controls['user_pass'].hasError('pattern')"
                      class="error"
                      >Password MUST contain at least 8 characters (one digit,
                        one lower case, one upper case, and one special
                        characters (!@#$%^&*))</span
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 no_padding">
                <div class="form-group">
                  <label>Confirm Password :</label>
                  <input
                    type="password"
                    formControlName="con_pass"
                    class="form-control"
                    placeholder="Confirm User Password"
                  />

                  <div
                    *ngIf="
                      FormData.controls['con_pass'].touched &&
                      !FormData.controls['con_pass'].valid
                    "
                  >
                    <span
                      *ngIf="FormData.controls['con_pass'].hasError('equalTo')"
                      class="error"
                      >Password does not match.</span
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 no_padding">
                <div class="form-group">
                  <label for="exampleInputEmail1">Office Phone :</label>
                  <input
                    type="tel"
                    formControlName="mobile"
                    class="form-control"
                    placeholder="Phone"
                  />
                </div>
              </div>

              <div class="col-md-6 no_padding">
                <div class="form-group">
                  <label for="exampleInputEmail1">Website :</label>
                  <input
                    type="text"
                    formControlName="user_url"
                    class="form-control"
                    placeholder="website"
                  />
                </div>
              </div>

              <div class="col-md-6 no_padding">
                <div class="form-group">
                  <label for="exampleInputEmail1">Address :</label>
                  <textarea
                    formControlName="address"
                    class="form-control"
                    placeholder="Address"
                    >{{ userdata.add }}</textarea
                  >
                </div>
              </div>

              <!--//////////////////////////////// for sales /////////////////////////////// -->

              <div *ngIf="user_role === 'sales'">
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">
                      Bank Routing Number :</label
                    >
                    <input
                      type="text"
                      formControlName="brn"
                      class="form-control"
                      placeholder="Bank Routing Number"
                    />
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Bank Account Number :</label
                    >
                    <input
                      type="text"
                      formControlName="ban"
                      class="form-control"
                      placeholder="Bank Account Number"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Name on Bank Account :</label
                    >
                    <input
                      type="text"
                      formControlName="nbaccount"
                      class="form-control"
                      placeholder="Name on Bank Account"
                    />
                  </div>
                </div>
              </div>
              <!--//////////////////////////////// for sales /////////////////////////////// -->

              <!--//////////////////////////////// for dataentry /////////////////////////////// -->
              <div *ngIf="user_role === 'data_entry_oparator'">
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Specimen Control Access:</label
                    >
                    <div style="color: #e22525; font-size: 16px">
                      <p *ngIf="userdata.acc_cntrl === 'add'">Add Specimen</p>
                      <p *ngIf="userdata.acc_cntrl != 'add'">QC Check</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--//////////////////////////////// for dataentry /////////////////////////////// -->

              <!--//////////////////////////////// for physician /////////////////////////////// -->
              <div *ngIf="user_role === 'clinic'">
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>Fax :</label>
                    <input
                      type="tel"
                      class="form-control"
                      formControlName="fax"
                      placeholder="fax"
                    />
                  </div>
                </div>
              </div>
              <div *ngIf="user_role === 'physician'">
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Second Address :</label>
                    <textarea
                      formControlName="clinic_addrs"
                      class="form-control"
                      placeholder="Clinic Address"
                      >{{ userdata.clinic }}</textarea
                    >
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>Fax :</label>
                    <input
                      type="tel"
                      class="form-control"
                      formControlName="fax"
                      placeholder="fax"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>Cell Phone :</label>
                    <input
                      type="tel"
                      formControlName="cell_phone"
                      class="form-control"
                      placeholder="Cell phone"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>Office Manager Contact Name :</label>
                    <input
                      type="text"
                      formControlName="manager_contact_name"
                      class="form-control"
                      placeholder="Office Manager Contact Name"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>Office Manager Cell Number :</label>
                    <input
                      type="text"
                      formControlName="manager_cell_number"
                      class="form-control"
                      placeholder="Office manager cell number"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group" id="npi_s">
                    <label>National Provider Identifier :</label>
                    <input
                      type="tel"
                      formControlName="npi"
                      class="form-control"
                      placeholder="National Provider Identifier"
                    />
                    <p id="error_msg" style=" color: red; display: block;"></p>
                  </div>
                </div>
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="status" class="new-status"
                      >Send positive wound reports to PharmD :
                      &nbsp;&nbsp;</label
                    >
                    <input
                      type="radio"
                      value="Yes"
                      formControlName="wound_positive_send"
                    />
                    Yes
                    <input
                      type="radio"
                      value="No"
                      formControlName="wound_positive_send"
                    />
                    No
                  </div>
                </div>
              </div>
              <!--//////////////////////////////// for physician /////////////////////////////// -->

              <!--//////////////////////////////// for pharmd /////////////////////////////// -->
              <div *ngIf="user_role === 'pharmacist'">
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>Fax :</label>
                    <input
                      type="tel"
                      class="form-control"
                      formControlName="fax"
                      placeholder="fax"
                    />
                  </div>
                </div>
                <div class="col-md-12 no_padding">
                  <div class="form-group">
                    <label for="status" class="new-status"
                      >Wound Positive Notification : &nbsp;&nbsp;</label
                    >
                    <input
                      type="radio"
                      value="Email"
                      name="pharmd_notification_type"
                      formControlName="pharmd_notification_type"
                    />
                    Email
                    <input
                      type="radio"
                      value="Fax"
                      name="pharmd_notification_type"
                      formControlName="pharmd_notification_type"
                    />
                    Fax
                    <input
                      type="radio"
                      value="Both"
                      name="pharmd_notification_type"
                      formControlName="pharmd_notification_type"
                    />
                    Both
                    <input
                      type="radio"
                      value="None"
                      name="pharmd_notification_type"
                      formControlName="pharmd_notification_type"
                    />
                    None
                  </div>
                </div>
              </div>

              <!--//////////////////////////////// for physician /////////////////////////////// -->

              <div class="clear"></div>

              <div
                class="col-md-12 no_padding"
                align="left"
                style="margin-top:25px;"
              >
                <input
                  type="submit"
                  class="btn btn-primary"
                  name="submit"
                  [disabled]="!FormData.valid"
                  value="Update Details"
                />
              </div>
              <br />
            </div>

            <div
              class="bg-primary heading"
              style="margin-top:30px;padding-left: 30px;"
              *ngIf="user_role === 'aps_sales_manager'"
            >
              Employee Resources
            </div>
            <div class="basic-bx" *ngIf="user_role === 'aps_sales_manager'">
              <div class="col-md-12 no_padding">
                <a
                  class="btn btn-primary"
                  download
                  href="../../../assets/pdf/Employee_Manual.pdf"
                  >Download the Employee Manual</a
                >
                <a
                  class="btn btn-primary"
                  href="https://www.ftjfundchoice.com"
                  target="_blank"
                  >401K: FJT Fund Choice</a
                >
                <a
                  class="btn btn-primary"
                  href="https://www.healthequity.com/"
                  target="_blank"
                  >Health Savings Account (HSA)</a
                >
              </div>
              <div class="clear">&nbsp;</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</section>
