.heading {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #424242 !important;
    font-family:"Yanone Kaffeesatz";
    font-size: 30px;
    font-weight: 400;
    padding: 9px;
    color: aliceblue;
}
input.ng-invalid.ng-touched {
    border-color: red;
}
.error {
  color: red;
  position: absolute;
  line-height: 15px;
  font-size: 12px;
  margin: 0;
}
.panel {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .panel-primary {
    border-color: #424242 !important;
    margin-top:50px;
  }
  .form .panel-primary > .panel-heading {
    background: #424242 none repeat scroll 0 0 !important;
    border-color: #424242 !important;
    color: #fff !important;
  }
  .form .panel-title {
    padding-left: 15px;
  }
  .form .panel-title, .myaccount h2, .myaccount ul li a {
    font-weight:"Yanone Kaffeesatz";
    font-size: 30px;
    font-weight: 400;
  }
  .basic-bx {
    padding: 15px;
  }
  .form-group, .view_form-group {
    display: inline-block;
    margin: 15px auto;
    width: 100%;
  }
  .form label {
    width: 100%;
  }
  label {
    color: #5c5c5c;
    float: left;
    font-family: 'Lato', sans-serif !important;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    padding-left: 0px !important;
  }
  #user_frm .panel-body {
    padding: 0;
  }
 .panel-body {
    padding: 0;
    padding-bottom:15px;
  }
  .basic-bx a {
    font-weight: 400 !important;
    /* line-height: 1 !important; */
    margin-right: 5px;
  }