.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.no-pad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.header-gap {
    margin-bottom: 2%;
}
.page-title {
    font-size: 28px;
    color: #6b6b6b;
    text-align: center;
    padding: 0;
    margin: 0;
}
.menu ul li a, .page-title, .sls a {
    font-family: Raleway, sans-serif;
}
.menu ul li a, .page-title, .sls a, .slsout a {
    text-transform: uppercase;
}
.page-title-secondary {
    padding: 0;
}
.page-title-secondary, .page-title-secondary span {
    font-size: 38px;
    color: red;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}
.page-title-secondary::before {
    left: 0;
}
.page-title-secondary::after, .page-title-secondary::before {
    border-top: 1px solid #ccc;
    margin-top: 19px;
    position: absolute;
    width: 100%;
    content: "";
}
.page-title-secondary::after {
    right: 0;
}
.page-title-secondary span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 9;
}
.btn-primary, .reset_button, input[type="submit"] {
    background: #424242 !important;
    border-radius: 2px;
    color: #fff !important;
    font-family:"Yanone Kaffeesatz" !important;
    font-weight: 400;
    font-size: 17px;
    padding: 6px 15px !important;
    text-transform: uppercase;
    width: auto;
    display: inline-block;
    border: 1px solid #424242;
    height: 33px;
    line-height: 19px;
    text-align: center;
}
.login-panel {border:1px solid #ddd;}
.body_content {padding: 3% 0;}
.login-section li a.active{color: #9d9d9d !important;}

form {
    width: 100%;
}

input.ng-invalid.ng-touched {
    border-color: red;
}
.error {
    color: red;
    position: relative;
}