<!-- app heder selector-->
<app-main-header></app-main-header>
<!-- app heder selector-->

<div class="container-fluid no-pad header-gap body_content">
  <h1 class="page-title">Antares Physician Services</h1>
  <h2 class="page-title-secondary"><span>Portal Login</span></h2>
</div>
<div class="container">
  <div class="row contact">
    <div class="container">
      <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default login-panel">

          <div class="panel-heading">
            <div class="panel-title">Sign In</div>
          </div>

          <div style="padding-top:30px" class="panel-body">

            <!-- show error message -->
            <div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Warning!</strong> {{message}}
            </div>


            <form [formGroup]="FormData" (ngSubmit)="check()">

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" formControlName="userName" placeholder="Enter User Name - Case Sensitive"
                  class="form-control">

              </div>
              <div *ngIf="FormData.controls['userName'].touched && !FormData.controls['userName'].valid">
                <span *ngIf="FormData.controls['userName'].hasError('required')" class="error">User name is
                  required</span>
              </div>

              <div style="margin-top: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" formControlName="password" placeholder="Enter password" class="form-control">
              </div>
              <div *ngIf="FormData.controls['password'].touched && !FormData.controls['password'].valid">
                <span *ngIf="FormData.controls['password'].hasError('required')" class="error">Password is
                  required</span>
              </div>
              <div style="margin-top:20px" class="form-group">
                <div class="col-sm-12 controls">
                  <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (success)="handleSuccess($event)"
                    formControlName="recaptcha">
                  </ngx-recaptcha2>
                </div>
              </div>

              <div style="margin-top:20px" class="form-group">

                <div class="col-sm-12 controls">
                  <input type="submit" class="btn btn-danger" value="Login">
                  <div style="border-bottom: 1px solid#888; padding-top:15px; font-size:85%">
                    Forgot Your Password!
                    <a routerLink="/forgot-password">Click Here</a>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-sm-12">
              <div class="form-group" style="margin: 0;">
                <div class="control">
                  <span style="font-size: 11px; color: rgb(255, 0, 0); display:block;">For login help call
                    801-642-0716</span>
                  <span style="font-size:11px;color:#ff0000; display:block;">If login does not work, please clear your
                    cache and restart your browser. Works best with Chrome or Firefox.</span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-main-footer></app-main-footer>