<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <div id="primary" class="content-area">
    <div id="registration-form" class="form">
      <!--top-header start-->
      <div *ngIf="data=='sales'">
        <div *ngFor="let data of result" class="inner_content">
          <div class="head-lft">

            <h1>
              <span [innerHTML]=data.announcement_name></span>

            </h1>

          </div>
          <div class="date-rght">
            Posted on {{data.create_date | date:"MMMM d, y"}}
          </div>
          <div class="clearfix"></div>
          <p [innerHTML]=data.descriptions></p>
        </div>

      </div>


      <div class="col-md-12 sales-training" data-toggle="modal" data-target="#myVideo" *ngIf="data=='sales'">
        <div class="mid_arrea">
          <div id="btnu" data-toggle="modal" data-target="#lightppp" (click)="toggleVideo()">
            <img src="../../../../assets/images/video.jpg" alt="">
            <span><img src="../../../../assets/images/btnj.png" alt=""></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>