<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <div class="">
    <div class="container-fluid">
      <div class="side-body content-area">
        <div class="row">
          <div class="col-xs-12">
            <div class="card">


              <div class="card-header">
                <div class="card-title">
                  <div class="title">
                    <h1>Partners Company Listing</h1>
                  </div>
                </div>
              </div>

              <div class="card-body pcr-list dat-tble">
                <table class="display table table-responsive table-bordered" style="margin-top:0;" width="100%"
                  [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">

                  <thead>
                    <tr class="users_list">
                      <th width="10%">
                        <mfDefaultSorter by="assessioning_num">Partner Company Name</mfDefaultSorter>
                      </th>
                      <th width="10%">
                        <mfDefaultSorter by="external_id">No. of Partners Company Managers</mfDefaultSorter>
                      </th>
                      <th width="15%">
                        <mfDefaultSorter by="physician_name">No. of Specimens</mfDefaultSorter>
                      </th>

                    </tr>
                  </thead>

                  <tbody *ngIf="!notFount">
                    <tr *ngFor="let partner of mf.data; trackBy: trackByFn">
                      <td valign="middle">{{partner.partners_company}}</td>
                      <td valign="middle">
                        <div style="text-align: center ; cursor: pointer;">
                          <a routerLink="/partners-company-manager/{{partner.partner_id}}"
                            title="Number of Partners Company Managers"><i
                              class="glyphicon fa fa-flask"></i>{{partner.user_count}}</a>
                        </div>
                      </td>
                      <td valign="middle">
                        <div style="text-align: center ; cursor: pointer;">
                          <a routerLink="/partners-submitted-reports/{{partner.partner_id}}"
                            title="Number of Specimen Count"><i
                              class="glyphicon fa fa-flask"></i>{{partner.specimen_count}}</a>
                        </div>

                      </td>
                    </tr>
                  </tbody>

                  <tbody *ngIf="notFount">
                    <tr>
                      <td colspan="6" class="text-center">
                        <h4>No data found.</h4>
                      </td>
                    </tr>
                  </tbody>


                  <tfoot>
                    <tr class="users_list">
                      <th width="10%">Partner Company Name</th>
                      <th width="10%">No. of Partners Company Managers</th>
                      <th width="12%">No. of Specimens</th>
                    </tr>
                    <tr>
                      <td colspan="6">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>

                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>