
     <!---- Modal for Popup text  --> 
     <!-- <div  *ngIf="title === 'popup'"> -->
  <div>
      <div class="">
          <div class="">
               <div class="modal-header">
                <span><button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">X</span>
                  </button></span> 
              </div>
              <div class="modal-body">
                <p [innerHTML]=text_message></p>

              </div>
            
          </div>
      </div>
  </div>
 
   <!---- Modal for Popup text  --> 