<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  fullScreen="true"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <div id="primary" class="content-area">
    <div id="registration-form" class="form">
      <!--top-header start-->
      <!-- <div class="row">
        <div class="tittle-top">Hello, {{userfullname}}</div>
      </div> -->
      <!-- <div class="article-top"> -->
      <!-- <div class="article-top">Welcome to Antares Physician Services
          <p>Antares Physician Services (APS) is a management company organized for the purpose of providing laboratory
            and
            other services to physicians.</p>
        </div>-->

      <!-- </div> -->
      <br />
      <div
        id="admin_div"
        *ngIf="
          data === 'aps_sales_manager' ||
          data === 'data_entry_oparator' ||
          data === 'sales'
        "
      >
        <div class="table-header">
          <span>Monthly</span> Specimen Summary ({{ cal_month }})
        </div>
        <div class="col-sm-12">
          <div class="row main-brdr">
            <div
              class="col-sm-5"
              *ngIf="
                data === 'aps_sales_manager' || data === 'data_entry_oparator'
              "
            >
              <div class="tablemain-wrap">
                <div class="tabletop-header">
                  Top 5 Data Collectors of the Month
                </div>
                <div class="maintbl-wrap">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>No.</td>
                      <td>Name</td>
                      <td style="display:none;">Collection Amount</td>
                      <td>No. of Specimens</td>
                    </tr>
                    <tr *ngFor="let spe of comm_specimen_list; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ spe.sales_reps_name }}</td>
                      <td style="display:none;">{{ spe.charged_amt }}</td>
                      <td>
                        <span>{{ spe.total_specimen_NF }}NF</span>
                        <span>{{ spe.total_specimen_W }}W</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div
              class=""
              [ngClass]="data !== 'sales' ? 'col-sm-4' : 'col-sm-9'"
            >
              <div class="tablemain-wrap">
                <div class="tabletop-header">Top 5 Physicians of the Month</div>
                <div class="maintbl-wrap tddd">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="eq_height"
                  >
                    <tr>
                      <td>No.</td>
                      <td>Name</td>
                      <td>No. of Specimens</td>
                    </tr>
                    <tr
                      *ngFor="
                        let specimen of phy_highest_specimen_list;
                        let i = index
                      "
                    >
                      <td>{{ i + 1 }}</td>
                      <td>{{ specimen.physician_name }}</td>
                      <td align="center">
                        <span>{{ specimen.NF ? specimen.NF : 0 }}NF</span>
                        <span>{{ specimen.W ? specimen.W : 0 }}W</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-3 tbl-map mapbg">
              <div class="tablemain-wrap">
                <h5>Total Specimens Collected in {{ cal_month }}</h5>
                <h6>{{ total_specimen_NF }}NF | {{ total_specimen_W }}W</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="brtp row">&nbsp;</div>
        <div class="row">
          <div class="table-header">
            <span>Specimen</span> Data for past 7 days (by collection date)
          </div>
          <!-- <div class="big-graph col-sm-12"><img src="../../../assets/images/2.jpg" alt="graph" /></div> -->
          <fusioncharts
            [type]="type"
            [width]="width"
            [height]="nwheight"
            [dataSource]="dataSource"
          >
          </fusioncharts>
        </div>

        <div class="row">
          <form
            [formGroup]="salesSearchForm"
            *ngIf="
              data === 'aps_sales_manager' || data === 'data_entry_oparator'
            "
            style="display:none;"
          >
            <div class="col-sm-6 sales-rpt">
              <h3><span>Sales</span> Representative Report</h3>
              <div class="repot-fltr reprtt">
                <!-- <select formControlName="sales_rep" class="report-drp" [(ngModel)]="sales_rep"
                  (change)="getSalesData();">
                  <option value="">Select Sales Representative</option>
                  <option *ngFor="let sales of sales_representative_data" [ngValue]="sales.id">{{sales.name}}</option>
                </select> -->
                <input
                  type="hidden"
                  formControlName="sales_rep"
                  class="form-control "
                  id="sales_rep"
                />
                <mat-form-field class="example-full-width">
                  <input
                    type="text"
                    (keyup)="onEnter($event)"
                    aria-label="Number"
                    matInput
                    formControlName="sales_rep_name"
                    [matAutocomplete]="auto"
                  />
                  <mat-autocomplete
                    autoActiveFirstOption
                    #auto="matAutocomplete"
                  >
                    <mat-optgroup
                      *ngFor="let option of filteredOptions | async"
                      label="Sales List"
                    >
                      <mat-option
                        value="All"
                        (onSelectionChange)="callSomeFunction('All')"
                      >
                        All
                      </mat-option>
                      <mat-option
                        (onSelectionChange)="callSomeFunction(option.ids[i])"
                        *ngFor="let group of option.names; let i = index"
                        [value]="group"
                      >
                        {{ group }}
                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- <input type="text" formControlName="sale_from_date" class="rpt-date" placeholder="YYYY-MM-DD"
                  bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }"
                  #sale_from_date (ngModelChange)="getSalesData();">
                <input type="text" formControlName="sale_to_date" class="rpt-date" placeholder="YYYY-MM-DD" bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }" #sale_to_date
                  (ngModelChange)="getSalesData();"> -->
                <select
                  formControlName="phy_year"
                  class="report-drp"
                  [(ngModel)]="phy_year"
                >
                  <option value="">Select Year</option>
                  <option
                    *ngFor="let yr of year_arr; let i = index"
                    [ngValue]="yr"
                    >{{ yr }}</option
                  >
                </select>

                <select
                  formControlName="form_month"
                  class="report-drp"
                  [(ngModel)]="form_month"
                >
                  <option value="">Select Form Month</option>
                  <option
                    *ngFor="let mon of month_list; let i = index"
                    [ngValue]="i + 1"
                    >{{ mon }}</option
                  >
                </select>
                <select
                  formControlName="to_month"
                  class="report-drp"
                  [(ngModel)]="to_month"
                >
                  <option value="">Select To Month</option>
                  <option
                    *ngFor="let mon of month_list; let i = index"
                    [ngValue]="i + 1"
                    >{{ mon }}</option
                  >
                </select>
                <a (click)="getSalesData()" class="btn btn-primary">Search</a>
                <a (click)="updateSalesChart()" class="btn btn-primary"
                  >Clear</a
                >
              </div>
              <div *ngIf="salesBlankErr">
                <p style="color:red;">
                  Please Select Data Collectors and Enter Valid Month Range and
                  Year.
                </p>
              </div>
              <div *ngIf="monthRangeErr">
                <p style="color:red;">Please Enter Valid Month Ranage.</p>
              </div>
            </div>
          </form>
          <form [formGroup]="phySearchForm">
            <div
              class="sales-rpt"
              [ngClass]="data !== 'sales' ? 'col-sm-6' : 'col-sm-12'"
            >
              <h3><span>Physician</span> Report</h3>
              <div class="repot-fltr reprtt">
                <!-- <select formControlName="physician_list" class="report-drp" [(ngModel)]="physician_list"
                  (change)="getPhysicianData();">
                  <option value="">Select Physician</option>
                  <option *ngFor="let phy of physician_data" [ngValue]="phy.physician_id">{{phy.physician_name}}
                  </option>
                </select> -->
                <input
                  type="hidden"
                  formControlName="physician_list"
                  class="form-control "
                  id="physician_list"
                />
                <mat-form-field class="example-full-width">
                  <input
                    type="text"
                    (keyup)="newonEnter($event)"
                    aria-label="Number"
                    matInput
                    formControlName="physician_name_list"
                    [matAutocomplete]="newauto"
                  />
                  <mat-autocomplete
                    autoActiveFirstOption
                    #newauto="matAutocomplete"
                  >
                    <mat-optgroup
                      *ngFor="let option of newfilteredOptions | async"
                      label="Physician List"
                    >
                      <mat-option
                        value="All"
                        (onSelectionChange)="newcallSomeFunction('All')"
                      >
                        All
                      </mat-option>
                      <mat-option
                        (onSelectionChange)="newcallSomeFunction(option.ids[i])"
                        *ngFor="let group of option.names; let i = index"
                        [value]="group"
                      >
                        {{ group }}
                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                </mat-form-field>
                <input
                  type="text"
                  formControlName="phy_from_date"
                  class="rpt-date"
                  placeholder="YYYY-MM-DD"
                  bsDatepicker
                  [bsConfig]="{
                    dateInputFormat: 'YYYY-MM-DD',
                    containerClass: 'theme-red'
                  }"
                  #phy_from_date
                />
                <input
                  type="text"
                  formControlName="phy_to_date"
                  class="rpt-date"
                  placeholder="YYYY-MM-DD"
                  bsDatepicker
                  [bsConfig]="{
                    dateInputFormat: 'YYYY-MM-DD',
                    containerClass: 'theme-red'
                  }"
                  #phy_to_date
                />
                <div></div>
                <a (click)="getPhysicianData()" class="btn btn-primary"
                  >Search</a
                >
                <a (click)="updatePhyChart()" class="btn btn-primary">Clear</a>
              </div>
              <div *ngIf="blankErr">
                <p style="color:red;">
                  Please Select Physician and Enter Valid Date.
                </p>
              </div>
              <div *ngIf="dateRangeErr">
                <p style="color:red;">Please Enter Valid Date Ranage.</p>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <!-- Graph commented 15.02.2021 -->
          <!-- <div
            class="col-sm-6 big-graph"
            *ngIf="
              data === 'aps_sales_manager' || data === 'data_entry_oparator'
            "
          >
            <fusioncharts
              #salesChart
              [type]="type"
              [width]="width"
              [height]="height"
              [dataSource]="salesCommData"
            >
            </fusioncharts>
          </div> -->
          <div
            class="big-graph"
            *ngIf="
              data === 'aps_sales_manager' ||
              data === 'sales' ||
              data === 'data_entry_oparator'
            "
            [ngClass]="data !== 'sales' ? 'col-sm-12' : 'col-sm-12'"
          >
            <!-- <img src="../../../assets/images/4.jpg" alt="graph" /> -->
            <fusioncharts
              #phyChart
              [type]="type"
              [width]="width"
              [height]="height"
              [dataSource]="phySpecimenCountData"
              (initialized)="initialized($event)"
            >
            </fusioncharts>
          </div>
          <div class="clearFix"></div>
        </div>
      </div>
      <div *ngIf="data == 'physician' || data == 'clinic'">
        <div *ngFor="let data of result" class="inner_content">
          <div class="head-lft">
            <h1>
              <span [innerHTML]="data.announcement_name"></span>
            </h1>
          </div>
          <div class="date-rght">
            Posted on {{ data.create_date | date: "MMMM d, y" }}
          </div>
          <div class="clearfix"></div>
          <p [innerHTML]="data.descriptions"></p>
        </div>
      </div>

      <div
        class="col-md-12 sales-training"
        data-toggle="modal"
        data-target="#myVideo"
        *ngIf="data == 'physician' || data == 'clinic'"
      >
        <div class="mid_arrea">
          <div
            id="btnu"
            data-toggle="modal"
            data-target="#lightppp"
            (click)="toggleVideo()"
          >
            <img src="../../../../assets/images/video.jpg" alt="" />
            <span><img src="../../../../assets/images/btnj.png" alt=""/></span>
          </div>
        </div>
      </div>

      <div class="col-md-12 biller" *ngIf="data == 'biller'">
        <div class="row">
          <div class="tittle-top">Hello, {{ userfullname }}</div>
        </div>
        <div class="biller-message">
          Welcome to Antares Physician Services
          <p>
            Antares Physician Services (APS) is a management company organized
            for the purpose of providing laboratory and other services to
            physicians.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>

<!-- <div class="content-wrap">
  <div class="container"> -->

<!-- side menu from dash-sidemenu component-->
<!-- <div class="content-area col-md-3">
      <app-dash-sidemenu></app-dash-sidemenu>
    </div> -->
<!-- side menu -->
<!-- 
    <div id="primary" class="content-area col-md-9">
      <div id="registration-form" class="form" style="min-height:500px;">
        <h3 style="width: auto; display:inline-block;">Hello, {{userfullname}}</h3>
        <div class="clear"></div>
        <article>
          <h2>Welcome to Antares Physician Services</h2>
          <h4>Antares Physician Services (APS) is a management company organized for the purpose of providing laboratory
            and other services to physicians.</h4>
        </article>

        <div *ngIf="data=='sales' || data=='physician'">
          <div *ngFor="let data of result">
            <div class="head-lft">

              <h1>
                <span [innerHTML]=data.announcement_name></span>

              </h1>

            </div>
            <div class="date-rght">
              Posted on {{data.create_date | date:"MMMM d, y"}}
            </div>
            <div class="clearfix"></div>
            <p [innerHTML]=data.descriptions></p>
          </div>

        </div>

        <div class="col-md-12 sales-training" data-toggle="modal" data-target="#myVideo"
          *ngIf="data=='sales' || data=='physician'">
          <div class="mid_arrea">
            <div id="btnu" data-toggle="modal" data-target="#lightppp" (click)="toggleVideo()">
              <img src="../../../../assets/images/video.jpg" alt="">
              <span><img src="../../../../assets/images/btnj.png" alt=""></span>
            </div>
          </div>
        </div>

      </div>
    </div>



  </div>
</div> -->

<!-- Modal -->
<div class="modal fade" id="myVideo" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeVideo()"
        >
          &times;
        </button>
      </div>

      <div class="modal-body">
        <span
          style="font-size: 12pt;font-family: Arial;color: #000000;background-color: #ffffff;
                font-weight: 400; font-style: normal;font-variant: normal;text-decoration: none;vertical-align: baseline;"
          >As part of our compliance training and to be eligible to receive
          commissions, you’re required to watch this video. It protects both you
          and us. Click the button below after you’ve watched it.</span
        >
        <p></p>
        <div class="wp-video">
          <video
            class="wp-video-shortcode first_vid"
            id="video-410-1"
            width="100%"
            height="100%"
            preload="metadata"
            controls="controls"
            #videoPlayer
          >
            <source
              type="video/mp4"
              src="../../../../assets/video/Chriscompliance.mp4"
            />
          </video>
        </div>
      </div>

      <div class="modal-footer">
        <input type="checkbox" (click)="updatechk()" />I've reviewd this video
      </div>
    </div>
  </div>
</div>
<!-- modal -->
