.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 1.1;
  }
  .head-lft {
    float: left;
    width: 60%;
}
.date-rght {
  float: left;
  width: 40%;
  text-align: right;
  margin-top: 25px;
}
.mid_arrea{
  height: auto;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
#btnu {
  margin: 0 auto;
}
#btnu {
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 0 14px 0 rgba(0, 0, 0, .2);
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  position: relative;
}
.sales-training img {
  width: 100%;
}
.mid_arrea span{
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
}
.mid_arrea, .mid_arrea span {
  display: flex;
  width: 100%;
}
.mid_arrea span img {
  width: 100px;
} */
/*right-panel-start*/

/*left-panelcss start
.left-panel {
  background: #252525;
}

.left-logo {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #4a4a4a;
  width: 100%;
  margin-bottom: 40px;
}

.dashleft-menu li a {
  color: #fff;
  font-weight: normal;
  font-size: 17px;
  font-family: 'Yanone Kaffeesatz';
}

.dashleft-menu li:hover {
  background: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.dashleft-menu li a:hover {
  text-decoration: none;
}

.dashleft-menu li.active {
  background: #ff0000;
}

.dashleft-menu li i {
  width: 20px;
  color: #fff;
  margin-right: 20px;
}

.dashleft-menu li {
  line-height: 40px;
  list-style: none;
  width: 100%;
  display: inline-block;
  padding-left: 20px;
}

.dashleft-menu {
  margin-left: 0;
  padding-left: 0;
}

/*left-panelcss end*/


.right-panel {
  background: #f0f0f0;
}

/*top-tittle*/
.tittle-top {
  font-family: 'Lato';
  background: #ffffff;
  width: 100%;
  margin-top: 30px;
  padding: 10px 25px;
  color: #252525;
  font-size: 22px;
}

.biller-message {
  font-family: 'Lato';
  width: 100%;
  margin-top: 30px;
  padding: 10px 25px;
  color: #252525;
  font-size: 30px; 
  margin-bottom: 16px;
}

.biller-message p {
  font-family: 'Lato';
  width: 100%;
  margin-top: 30px;
  color: #252525;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
}

/*top-article*/
.article-top {
  font-family: 'Lato';
  width: 100%;
  margin-top: 30px;
  padding: 10px 25px;
  color: #252525;
  font-size: 30px;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 16px;
}

.article-top p {
  font-family: 'Lato';
  width: 100%;
  margin-top: 30px;
  color: #252525;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
}

/*table-section*/
.table-header {
  font-family: 'Lato';
  width: 100%;
  padding: 10px 25px;
  color: #252525;
  font-size: 28px;
}

.table-header span {
  font-weight: bold;
}

.tabletop-header {
  font-family: 'Lato';
  width: 100%;
  padding: 7px 10px;
  color: #fff;
  font-size: 18px;
  background: #ff0000;
}

.tablemain-wrap {
  background: #fff;
  margin-top: 20px;
}

.maintbl-wrap {
  padding: 2px;
}

.maintbl-wrap table {
  background: #f0f0f0;
  width: 100%;
}

.maintbl-wrap table tr td {
  color: #252525;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #fff;
}

.tbl-map img {
  width: 100%;
  height: auto;
}

.main-brdr {
  margin-bottom: 20px;
}

.big-graph img {
  width: 100%;
  height: auto;
}

.tablemain-wrap h5 {
  color: #1a2930;
  font-family: 'Lato';
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

.tablemain-wrap h6 {
  color: #ff0000;
  font-family: 'Lato';
  font-size: 37px;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
}

.mapbg {
  background: url(../../../../assets/images/1.jpg) no-repeat bottom center;
  background-size: cover;
  padding-top: 2px;
  height: 279px;
  margin-top: 20px;
}

/*report-generater*/
.sales-rpt {
  margin: 50px 0 40px;
}

.sales-rpt h3 {
  font-family: 'Lato';
  width: 100%;
  padding: 10px;
  color: #252525;
  font-size: 28px;
}

.sales-rpt h3 span {
  font-weight: bold;
}

.report-drp {
  font-family: 'Lato';
  width: 30%;
  padding: 10px;
  color: #252525;
  font-size: 15px;
  background: #dedede;
  border: 1px solid #ccc;
}

.rpt-date {
  font-family: 'Lato';
  width: 31%;
  padding: 8px;
  color: #252525;
  font-size: 15px;
  background: #dedede;
  border: 1px solid #ccc;
  /* float: right; */
  margin-left: 10px;
  position: relative;
}

/*.rpt-date:before{content: "\f073"; position: absolute;z-index: 1; right: 10px;top:10px;font-family: 'FontAwesome';}*/
.repot-fltr {
  padding: 0 10px;
}

.big-graph {
  padding: 0 25px;
}

/**mycss_16.8.19**/

.repot-fltr.reprtt select, .repot-fltr.reprtt input {
  width: 48%;
  margin: 0px 3px 10px;
  background: #fff;
  padding:10px;
}
.repot-fltr.reprtt a {
  background: #ff0000;
  border: 1px solid #ff0000;
  width: 125px;
  height: 35px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 0px;
  margin-left: 3px;
  display: inline-block;
}
#container-2 .raphael-group-18-creditgroup {
  display: none !important;
}

.mat-form-field {
  width: 49%;
}
.mat-form-field-infix{
  width:100% !important;
}
.mat-form-field-infix input {
  width: 98% !important;
  border: 1px solid #ccc;
  margin: 0 !important;
}
.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.mat-input-element {
  width: 97% !important;
  border: 1px solid #ddd;
  vertical-align:baseline;
}
.cdk-overlay-pane {
  position: relative !important;
  z-index: 9999;
  bottom: 0 !important;
}
.content-area {
  overflow: hidden;
}

.inner_content {
  width: 100%;
  padding: 40px 25px 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
}

