.specimen_border {
  border: 1px solid #ccc;
  padding: 10px 12px;
  align-items: center;
  display: inline-block;
  width: 100%;
  position: relative;
}
caption,
th {
  text-align: left !important;
}
.buttonList.text-center .btn {
  height: 33px;
  font-size: 18px;
}
.btn-primary,
.reset_button,
.reset_btn a,
input[type="submit"] {
  background: #424242 !important;
  border-radius: 2px;
  color: #fff !important;
  font: "Yanone Kaffeesatz" !important;
  font-weight: 300;
  font-size: 14px;
  padding: 8px 12px !important;
  text-transform: uppercase;
  width: auto;
  display: inline-block;
  border: 1px solid #424242;
  height: 33px;
  line-height: 45px;
  text-align: center;
  line-height: 1 !important;
  margin-right: 5px;
  border-radius: 3px !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  border-color: #424242 !important;
}

.btn-primary {
  position: relative;
  top: 1px;
}
.btn-info,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
  margin-right: 5px;
  border-radius: 3px !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  background-repeat: repeat-x;
  border-color: #28a4c9 !important;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0, #2aabd2 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0, #2aabd2 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#5bc0de),
    to(#2aabd2)
  );
  background-image: linear-gradient(to bottom, #5bc0de 0, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);
  background-image: -o-linear-gradient(top, #d9534f 0, #c12e2a 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#d9534f),
    to(#c12e2a)
  );
  background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #b92c28 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  background-repeat: repeat-x;
  margin-right: 5px;
  border-radius: 3px !important;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-radius: 3px !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
p {
  color: grey !important;
  font-family: "Lato", sans-serif;
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
}
