<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  fullScreen="true"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <div class="content-wrap repres-mng">
    <div class="">
      <div id="primary" class="content-area col-md-12 abs_resl rp-manage">
        <div class="card-header">
          <div class="card-title">
            <div class="title">
              <h1>Ability Diagnostics Partners List</h1>
            </div>
          </div>
        </div>

        <!--/////////////////////////////////// search section//////////////////////////// -->

        <div style="padding-bottom: 5px; padding-top: 5px;">
          <div class="specimen_border">
            <div class="">
              <div class="">
                <div class="col-md-2 speciman_top" style="width: auto;">
                  <input
                    type="text"
                    placeholder="Quick Table Search"
                    class="form-control"
                    (keyup)="search_filter($event.target.value)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- alert message -->
        <div *ngIf="succMessage" class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close"
            >×</a
          >
          <strong>{{ succMessage }}</strong>
        </div>

        <p class="clear"></p>
        <div class="clearfix"></div>
        <div class="table-responsive">
          <table
            class="display table table-responsive table-bordered"
            style="width:100%"
            [mfData]="data"
            #mf="mfDataTable"
            [mfRowsOnPage]="10"
          >
            <thead>
              <tr class="users_list">
                <th width="15%" class="sorting_asc">
                  <mfDefaultSorter by="partner_name"
                    >Partner Name</mfDefaultSorter
                  >
                </th>

                <th width="10%" class="sorting_asc">
                  <mfDefaultSorter by="short_tot_phy"
                    >No. of Physicians</mfDefaultSorter
                  >
                </th>

                <th width="10%" class="sorting_asc">
                  <mfDefaultSorter by="u_status">Status</mfDefaultSorter>
                </th>

                <th width="30%" class="sorting_asc">Action</th>
              </tr>
            </thead>

            <!-- table body -->
            <tbody>
              <ng-container *ngIf="!notFount; else nodata">
                <tr *ngFor="let partner of mf.data | filter: searchText">
                  <td>
                    <div>{{ partner.partner_name }}</div>
                  </td>

                  <td valign="middle">
                    <div style="text-align: center ; cursor: pointer;">
                      <a
                        routerLink="/ability-partner-physicians/{{
                          partner.user_id
                        }}"
                        routerLinkActive="active"
                        rel="shadowbox;width=800;height=720;"
                        title="Number of Physicians"
                        ><i class="glyphicon glyphicon-user"></i
                        >{{ partner.tot_phy }}</a
                      >
                    </div>
                  </td>

                  <td valign="middle">
                    <div>{{ partner.u_status }}</div>
                  </td>
                  <td style="width:24%">
                    <div class="buttonList btn-group">
                      <a
                        class="btn btn-info"
                        type="button"
                        routerLink="/edit-ability-partner/{{ partner.user_id }}"
                        routerLinkActive="active"
                        title="Edit"
                        ><i class="fa fa-pencil-square-o"></i
                      ></a>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <ng-template #nodata>
                <tr>
                  <td colspan="7" class="text-center">
                    <h4>No data found</h4>
                  </td>
                </tr>
              </ng-template>
            </tbody>

            <tfoot>
              <tr class="users_list">
                <th width="15%" class="sorting_asc">Partner Name</th>
                <th width="10%" class="sorting_asc">No. of Physicians</th>
                <th width="10%" class="sorting_asc">Status</th>
                <th width="30%" class="sorting_asc">Action</th>
              </tr>

              <tr>
                <td colspan="7">
                  <ng-container *ngIf="total_showing_users > 10">
                    <mfBootstrapPaginator
                      [rowsOnPageSet]="[10, 25, 50, 100]"
                    ></mfBootstrapPaginator>
                  </ng-container>
                </td>
              </tr>
            </tfoot>
          </table>
          <div class="row">
            <div class="col-md-4">
              <div class="show_salesRefs_list">
                Showing Ability Partners :<strong
                  ><span style="color: #28a4c9"
                    >&nbsp;{{ total_showing_users }}</span
                  ></strong
                >
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
