<div class="hdr_btm mb-4" *ngIf="!usertoken">
  <div class="container" style="position: relative;">
    <div class="row">
      <div class="col-md-3 col-sm-3 logo">
        <h1><a routerLink="/home"><img src="./assets/images/logo_big.png" alt="logo"></a></h1>
      </div>
      <div class="col-md-5 col-sm-5 abs_p">
        <div class="mob-menu for_mobile" (click)="clickEvent()">
          <a href="javascript:void(0)" class="res-menu">
            <i class="fa fa-bars" aria-hidden="true"></i> MENU</a>
        </div>
        <div class="menu for_desktop" [ngClass]="status ? 'collapse' : 'collapseHide'">
          <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
            <li>
              <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
            <li> <a href="https://secure.cpteller.com/terminal/portal/?op=ZNl7iYeDheUd" target="_blank">Make a
                Payment</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 lggg" align="right">
        <ul class="login-section">
          <li class="sls sls1"><a href="tel:8016420716"><i class="fa fa-phone-square"
                aria-hidden="true"></i>801-899-3828</a></li>
          <li class="sls"><a routerLink="/login" routerLinkActive="active">Portal Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="hdr_btm mb-4" *ngIf="usertoken">
  <div class="container" style="position: relative;">

    <div class="row">


      <div class="col-md-3 col-sm-3 logo">
        <h1><a routerLink="/home"><img src="./assets/images/logo_big.png" alt="logo"></a></h1>
      </div>


      <div class="col-md-7 col-sm-7 abs_p">

        <div class="mob-menu for_mobile" (click)="clickEvent()">
          <a href="javascript:void(0)" class="res-menu">
            <i class="fa fa-bars" aria-hidden="true"></i> MENU</a>
        </div>

        <div class="menu for_desktop" [ngClass]="status ? 'collapse' : 'collapseHide'">
          <ul>

            <span
              *ngIf="user_role==='aps_sales_manager' || user_role==='team_regional_Sales' || user_role==='team_manager' || user_role==='team_sales_manager'">

              <li><a routerLink="/regional-manager" routerLinkActive="active">Regional</a>
                <span
                  *ngIf="user_role==='aps_sales_manager' || user_role==='team_regional_Sales' || user_role==='team_manager' || user_role==='team_sales_manager'">
                  <ul class="dropdown-list">
                    <li class="str"><a routerLink="/add-regional-manager">Add Regional Manager</a></li>
                  </ul>
                </span>
              </li>

            </span>


            <span
              *ngIf="user_role==='aps_sales_manager' || user_role==='data_entry_oparator' || user_role==='team_regional_Sales' || user_role==='regional_manager' || user_role==='team_manager' || user_role==='team_sales_manager' || user_role==='sales_regional_manager'">

              <li><a routerLink="/sales-representative" routerLinkActive="active">Data Collectors</a>
                <span
                  *ngIf="user_role==='aps_sales_manager' || user_role==='data_entry_oparator' || user_role==='team_regional_Sales' || user_role==='regional_manager' || user_role==='sales_regional_manager'">
                  <ul class="dropdown-list">
                    <li class="str"><a routerLink="/add-sales-representative" routerLinkActive="active">Add Data Collectors</a></li>
                  </ul>
                </span>
              </li>

            </span>


            <span
              *ngIf="user_role==='combine_physicians_accounts' || user_role==='physician' || user_role==='sales' || user_role==='clinic' || user_role==='team_regional_Sales' || user_role==='regional_manager' || user_role==='team_sales_manager'  || user_role==='sales_regional_manager'">
              <li><a routerLink="/training" routerLinkActive="active">Training</a></li>
            </span>


            <span
              *ngIf="user_role==='aps_sales_manager' || user_role==='sales' || user_role==='data_entry_oparator' || user_role==='clinic' || user_role==='team_regional_Sales' || user_role==='regional_manager' || user_role==='team_manager' || user_role==='team_sales_manager' || user_role==='sales_regional_manager' || user_role==='partner' || user_role==='combine_physicians_accounts'">

              <li><a routerLink="/physician" routerLinkActive="active">Physicians List</a>
                <span
                  *ngIf="user_role==='aps_sales_manager' || user_role==='sales' || user_role==='data_entry_oparator' || user_role==='team_regional_Sales' || user_role==='team_sales_manager' || user_role==='sales_regional_manager'">
                  <ul class="dropdown-list">
                    <li class="str"><a routerLink="/add-physician" routerLinkActive="active">Add Physician</a></li>
                  </ul>
                </span>
              </li>
            </span>


            <span *ngIf="user_role==='combine_physicians_accounts' || user_role==='physician'">
              <li><a routerLink="/submitted-reports" routerLinkActive="active">Submitted Reports</a></li>
            </span>
            <span *ngIf="user_role==='pharmacist'">
              <li><a routerLink="/wound-submitted-reports" routerLinkActive="active">Submitted Reports</a></li>
            </span>

            <span
              *ngIf="user_role==='combine_physicians_accounts' || user_role==='physician' || user_role==='sales' || user_role==='clinic' || user_role==='team_regional_Sales' || user_role==='regional_manager' || user_role==='team_manager' || user_role==='team_sales_manager' || user_role==='sales_regional_manager' || user_role==='partner'">
              <li><a routerLink="/supplies" routerLinkActive="active">Supplies</a></li>
            </span>

            <li *ngIf="user_role!=='aps_sales_manager'">
              <a routerLink="/myaccount" routerLinkActive="active">My Account</a>
            </li>
            <li *ngIf="user_role==='aps_sales_manager'"><a routerLink="/partners" routerLinkActive="active">Partners</a>
            </li>

            <ng-container
              *ngIf="user_role === 'aps_sales_manager' || user_role === 'sales_regional_manager' || user_role === 'data_entry_oparator' || user_role === 'team_regional_Sales' || user_role === 'team_sales_manager' || user_role === 'sales'">
              <li class="notifications">
                <a data-toggle="modal" data-target="#myModal" routerLinkActive="active" class="bg-danger"><i
                    class="fa fa-bell" aria-hidden="true" data-toggle="modal" data-target="#notification"
                    style="color:#0c354a;"></i><span class="badge">{{total_incom_notification}}</span></a>
              </li>
            </ng-container>


          </ul>
        </div>

      </div>


      <div class="col-md-2 col-sm-2">
        <ul class="login-section">
          <li class="nw_sls sls"><a (click)="logout()" href="javascript:void(0)">Logout</a></li>
        </ul>
      </div>

    </div>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">


        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Notifications List</h4>
          </div>


          <div class="modal-body">
            <div *ngFor="let noti of incom_notification" style="padding:10px; ">
              <div [ngClass]="{
                  'alert alert-info alert-dismissible': noti.note_read ==='Unread',
                  'alert2 alert-danger alert-dismissible': noti.note_read ==='Read'
                }" role="alert">
                <button type="button" class="close" (click)="change_status(noti.note_id)" data-dismiss="alert"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <a (click)="read_unread(noti.note_id)"
                  href="javascript:void(0)"><strong>{{noti.notification_details}}</strong></a>
              </div>
            </div>

            <div *ngIf="total_incom_notification === 0">There have no data.</div>
          </div>

          <div class="modal-footer">
            <a routerLink="/notifications" routerLinkActive="active" class="btn btn-primary" data-dismiss="modal">View
              all</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>