<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <div class="content-wrap repres-mng">
    <div class="">
      <div id="primary" class="content-area col-md-12">
        <div id="registration-form" class="form">


          <div class="card-header">
            <div class="card-title">
              <div class="title">
                <h1>Fee History Details</h1>
              </div>
            </div>
          </div>


          <div>
            <h4>Physician Name: {{commission_list.full_name}}</h4>
          </div>


          <div class="table-responsive">
            <form>
              <div class="specimen_border">
                <div class="row">
                  <div class="container">


                    <div class="row">

                      <form [formGroup]="searchForm" (ngSubmit)="search_data()">
                        <div class="col-md-3 entre_name speciman_top">
                          <div id="search_value_holder" style="width: 100%;">

                            <select formControlName="from_year" [(ngModel)]='yearSelect' class="form-control">
                              <option value="">Year</option>
                              <option *ngFor="let year of allyear" value="{{year}}">{{year}}</option>
                            </select>
                          </div>
                        </div>


                        <div class="col-md-1 filter_btn">
                          <input type="submit" value="Search" class="btn btn-primay">
                        </div>
                      </form>


                      <div class="col-md-2 filter_btn">

                        <input type="button" class="reset_button load-btn" name="csv" value="Export To Excel"
                          (click)="exportAsXLSX()">
                      </div>

                    </div>



                  </div>
                </div>
              </div>

            </form>

            <div>
              <h2>Details of Year : {{commission_list.search_year}}</h2>
            </div>

            <!-- Excel Export data table start-->
            <div id="tableToExport" style="display: none">
              <h2>Details of Year : {{commission_list.search_year}}</h2>
              <table class="table table-condensed table-striped listing_table doodle display " width="100%"
                style="margin-bottom: 0;" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="12">

                <thead>
                  <tr class="users_list">
                    <th width="10%">Month</th>
                    <th width="10%">Charged Amount</th>
                    <th width="18%">Collected Amount</th>
                  </tr>
                </thead>

                <tbody *ngIf="!notFount">
                  <tr *ngFor="let commission of mf.data">
                    <td>{{commission.month}}</td>
                    <td>{{commission.charged_amt}}</td>
                    <td>{{commission.paid_amt}}</td>
                  </tr>
                </tbody>

                <tbody *ngIf="notFount">
                  <tr>
                    <td colspan="3" class="text-center">No data found!</td>
                  </tr>
                </tbody>

                <tfoot>
                  <tr class="users_list">
                    <th width="20%" style="text-align: center">Month</th>
                    <th width="10%" style="text-align: center">Charged Amount</th>
                    <th width="18%" style="text-align: center">Collected Amount</th>
                  </tr>
                  <tr>
                    <th width="7%" style="text-align: center; padding: 5px;">Total</th>
                    <th width="3%" style="text-align: center; padding: 5px;">{{commission_list.total_charged_amt}}</th>
                    <th width="6%" style="text-align: center; padding: 5px;">{{commission_list.total_paid_amt}}</th>
                  </tr>
                </tfoot>


              </table>

            </div>
            <!-- Excel Export data table end-->


            <!--display data table -->
            <table class="table table-condensed table-bordered listing_table doodle display" width="100%"
              style="margin-bottom: 0;" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="12">
              <thead>
                <tr class="users_list">
                  <th width="10%" style="text-align: center; padding: 5px">Month</th>
                  <th width="10%" style="text-align: center; padding: 5px">Charged Amount</th>
                  <th width="18%" style="text-align: center; padding: 5px">Collected Amount</th>
                </tr>
              </thead>


              <tbody *ngIf="!notFount">
                <tr *ngFor="let commission of mf.data">
                  <td>{{commission.month}}</td>
                  <td>{{commission.charged_amt}}</td>
                  <td>{{commission.paid_amt}}</td>
                </tr>
              </tbody>

              <tbody *ngIf="notFount">
                <tr>
                  <td colspan="3" class="text-center">No data found!</td>
                </tr>
              </tbody>


              <tfoot>
                <tr class="users_list">
                  <th width="20%" style="text-align: center">Month</th>
                  <th width="10%" style="text-align: center">Charged Amount</th>
                  <th width="18%" style="text-align: center">Collected Amount</th>
                </tr>
                <tr>
                  <th width="7%" style="text-align: center; padding: 5px;">Total</th>
                  <th width="3%" style="text-align: center; padding: 5px;">{{commission_list.total_charged_amt}}</th>
                  <th width="6%" style="text-align: center; padding: 5px;">{{commission_list.total_paid_amt}}</th>
                </tr>
              </tfoot>
            </table>
            <!--display data table -->


          </div>
          <div class="clear"></div>
          <div class="clear">&nbsp;</div>
          <div class="col-md-1 no_padding2" align="left" style="margin-top:25px;padding:0 !important">
            <a href="javascript:history.go(-1)" class="btn btn-primary"> Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>