input.btn.btn-primay:hover {
    color: #fff !important;
}

.addbttn{
    background: #ff0000;
    border: 1px solid #ff0000;
    height: 35px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 0px;
    margin-left: 3px;
  }