<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <div class="content-wrap repres-mng">
    <div class="">
      <div id="primary" class="content-area abs_resl rp-manage">
        <div class="card-header">
          <div class="card-title">
            <div class="title">
              <h1>Physicians List</h1>
            </div>
          </div>
        </div>
        <!--/////////////////////////////////// search section//////////////////////////// -->
        <div style="padding-bottom: 5px; padding-top: 5px;">

          <div class="specimen_border">
            <div class="">
              <div class="">
                <div class="col-md-6 entre_name speciman_top">
                  <label>Data Collectors: <span class="text-info">{{sales_man_name}}</span></label>
                </div>

                <div class="col-md-6 entre_name speciman_top">
                  <label>Regional Manager: <span class="text-info">{{regional_man_name}}</span></label>
                </div>
              </div>
            </div>
          </div>



          <div class="specimen_border">
            <div class="">
              <div class="">
                <form [formGroup]="searchForm" (ngSubmit)="searchData()">
                  <div class="col-md-2 entre_name speciman_top">
                    <div id="search_value_holder" style="margin-left: 0">
                      <select formControlName="status" [(ngModel)]='statusSelect' class="form-control">
                        <option value="">User status</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2 entre_name speciman_top">
                    <div id="search_value_holder" style="margin-left: 0">
                      <input type="text" formControlName="search_value" class="form-control"
                        placeholder="Search database">
                    </div>
                  </div>
                  <div class="col-md-2 entre_name speciman_top">
                    <select formControlName="from_month" [(ngModel)]='monthSelect' class="form-control">
                      <option value="">Month</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                  <div class="col-md-2 entre_name speciman_top">
                    <select formControlName="from_year" [(ngModel)]='yearSelect' class="form-control">
                      <option value="">Year</option>
                      <option *ngFor="let year of allyear" value="{{year}}">{{year}}</option>
                    </select>
                  </div>
                  <div class="col-md-1 no_padding3">
                    <input type="submit" value="Search" class="btn btn-primary">
                  </div>
                </form>

                <!-- <div class="col-md-1 no_padding3"><a href="javascript:void(0);" class="btn btn-success" title="View all"><i class="fa fa-chevron-down" aria-hidden="true"></i> Load All</a></div> -->

                <div class="col-md-1 reset_btn no_padding3"> <a href="javascript:void(0);" (click)="ngOnInit();"
                    class="btn btn-primary"><i class="fa fa-repeat"></i> Reset</a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- alert message -->
        <div *ngIf="succMessage" class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>{{succMessage}}</strong>
        </div>
        <p class="clear"></p>
        <div class="clearfix"></div>
        <div class="table-responsive">
          <table class="display table table-responsive table-bordered" style="width:100%" [mfData]="data"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr class="users_list">
                <th width="30%" class="sorting_asc">
                  <mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter>
                </th>
                <th width="30%" class="sorting_asc">
                  <mfDefaultSorter by="totalSpecimen">Specimens Submitted</mfDefaultSorter>
                </th>
                <th width="10%" class="sorting_asc" style="display:none;">
                  <mfDefaultSorter by="charged_amount">Charged Amt This Month</mfDefaultSorter>
                </th>
                <th width="15%" class="sorting_asc" style="display:none;">
                  <mfDefaultSorter by="paid_amount">Collected Amt This Month</mfDefaultSorter><span
                    class="glyphicon sort-icon"></span>
                </th>
                <th width="20%" class="sorting_asc">
                  <mfDefaultSorter by="u_status">Status</mfDefaultSorter>
                </th>
                <th width="20%" class="sorting_asc">Action</th>
              </tr>
            </thead>
            <!-- table body -->
            <tbody *ngIf="!notFount">
              <tr *ngFor="let physician_data of mf.data; trackBy: trackByFn" id="{{physician_data.user_id}}">
                <td>
                  <div>{{physician_data.physician_name}}</div>
                </td>
                <td valign="middle">
                  <div style="text-align: center ; cursor: pointer;">
                    <a routerLink="/physician-specimens-details/{{physician_data.user_id}}" routerLinkActive="active"
                      rel="shadowbox;width=800;height=720;" title="Number of Specimens"><i
                        class="fa fa-flask"></i>{{physician_data.totalSpecimen}}</a>
                  </div>
                </td>
                <td valign="middle"  style="display:none;">
                  <div>{{physician_data.charged_amount | currency}}</div>
                </td>
                <td valign="middle" style="display:none;">
                  <div>{{physician_data.paid_amount | currency}}</div>
                </td>
                <td valign="middle">
                  <div>{{physician_data.u_status}}</div>
                </td>
                <td style="width:24%">
                  <div class="buttonList btn-group">
                    <a class="btn btn-primary" routerLink="/view-physician/{{physician_data.user_id}}"
                      routerLinkActive="active" rel="shadowbox;width=800;height=720;" title="View"><i
                        class="fa fa-eye"></i></a>

                    <a class="btn btn-info" type="button" routerLink="/edit-physician/{{physician_data.user_id}}"
                      routerLinkActive="active" title="Edit"><i class="fa fa-pencil-square-o"></i></a>

                    <!-- <a href="javascript:void(0);" class="btn btn-danger" *ngIf="physician_data.u_status==='Active'"  (click)="active_inactive(physician_data.u_status,physician_data.user_id)" title="Click to Inactive"> Inactive</a>
            
            <a href="javascript:void(0);" class="btn btn-success" *ngIf="physician_data.u_status==='Inactive'" (click)="active_inactive(physician_data.u_status,physician_data.user_id)" title="Click to Active"> Active</a> -->

                    <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage" confirmText="Yes <i class='glyphicon glyphicon-ok'></i>"
                      cancelText="No <i class='glyphicon glyphicon-remove'></i>" placement="top"
                      (confirm)="delete_user(physician_data.user_id)" (cancel)="cancelClicked = true">
                      <i class="fa fa-trash-o"></i>
                    </button>

                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="notFount">
              <tr>
                <td colspan="7">
                  <h2>No data found!</h2>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <!-- <tr class="users_list">
                <th width="15%">Physician Name</th>
                <th width="15%">Specimens Submitted</th>
                <th width="10%" >Charged Amt This Month</th>
                <th width="10%">Collected Amt This Month</th>
                <th width="10%">Status</th>
                <th width="30%">Action</th>
              </tr> -->
              <tr class="users_list">
                <th width="30%">Physician Name</th>
                <th width="30%" >Specimens Submitted</th>
                <th width="10%" style="display:none;">Charged Amt This Month</th>
                <th width="10%" style="display:none;">Collected Amt This Month</th>
                <th width="20%">Status</th>
                <th width="20%">Action</th>
              </tr>
              <tr>
                <th colspan="1" style="text-align: center"><strong>Total</strong></th>
                <th colspan="1" style="text-align: center"><i class="fa fa-flask"></i>{{specimen_count}}</th>
                <th colspan="1"><strong><span style="color: #28a4c9" style="display:none;">&nbsp; {{total_charged_amt}}</span></strong></th>
                <th colspan="1"><strong><span style="color: #28a4c9" style="display:none;">&nbsp; {{total_paid_amt}}</span></strong></th>
                <th colspan="2"></th>
              </tr>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
          <div class="row">
            <div class="col-md-4">
              <div class="show_salesRefs_list">Showing Physicians :<strong><span
                    style="color: #28a4c9">{{total_physician}}</span></strong></div>
            </div>
            <div class="col-md-8 pull-right"></div>
            <div class="clearfix"></div>
          </div>
        </div>
        <a href="javascript: history.go(-1)" class="btn btn-primary pull-left">Back</a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>