<!-- app heder selector-->
<app-main-header></app-main-header>
<!-- app heder selector-->





<div class="slider">
  <div class="container">
    <article>
      <h2>Laboratory Management Services</h2>
      <p><app-banner></app-banner> </p> 
       <!-- <app-banner></app-banner>  -->
    </article>
  </div>
</div>

<div class="body_content">
  <div class="container-fluid no-pad header-gap">
    <h1 class="page-title">Welcome To</h1>
    <h2 class="page-title-secondary"><span>Antares Physician Services</span></h2>
  </div>
  <div class="container">
    <p align="center" [innerHTML] = AllHome></p>
  
  </div>
</div>
<app-main-footer></app-main-footer>
