.slider {
    background: url(../../../assets/images/banner.jpg) no-repeat;
    background-attachment: fixed;
        background-size: auto auto;
    height: 400px;
    background-size: 100% 60%;
}
.slider, .tggle_efct {
    position: relative;
}
.slider article {
    margin-top: 15%;
    color: #fff;
    opacity: .8;
    padding: 20px 30px;
    width: 60%;
    background: #fff;
}
.slider article h2 {
    
    font-family:Antonio-Regular;
    font-size: 48px;
    font-weight: 400;
    color: #0c354a;
    margin: 0;
}
.slider article p {
    font-family: 'Raleway', sans-serif;
    line-height: 23px;
    font-size: 16px;
    font-weight: 400;
    color: #0c354a;
}
p {
    color: grey!important;
    font-family: 'Lato', sans-serif !important;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
}
.body_content {
    padding: 3% 0;
}
.no-pad {
    padding-left: 0!important;
    padding-right: 0!important;
}

.header-gap {
    margin-bottom: 2%;
}
.page-title {
    font-size: 28px;
    color: #6b6b6b;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu ul li a, .page-title, .sls a {
    font-family: Raleway, sans-serif;
}
.menu ul li a, .page-title, .sls a, .slsout a {
    text-transform: uppercase;
}
.page-title-secondary {
    padding: 0;
}

.page-title-secondary, .page-title-secondary span {
    font-size: 38px;
    color: red;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    z-index: 999999;
}
.page-title-secondary span {
    z-index: 99999999;
    position: relative;
    background: #fff;
    padding: 0 10px;
}
.page-title-secondary::before {
    left: 0;
}

.page-title-secondary::after, .page-title-secondary::before {
    border-top: 1px solid #ccc;
    margin-top: 19px;
    position: absolute;
    width: 100%;
    content: "";
}
.page-title-secondary::after {
    right: 0;
}
.page-title-secondary::after, .page-title-secondary::before {
    border-top: 1px solid #ccc;
    margin-top: 19px;
    position: absolute;
    width: 100%;
    content: "";

}


/**responsive_css_9.9.19**/

@media screen and (max-width:767px) {
      .slider{
         background-attachment: scroll;
         height: 400px;
         background-size: cover;
     }
.page-title-secondary::after, .page-title-secondary::before{

    display: none;
}
.slider article h2 {
    font-size: 40px;
}

}

@media screen and (max-width:540px) {

    .slider article h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .page-title-secondary, .page-title-secondary span{
        font-size: 28px;
    }

}