<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <div class="body_content">
    <div class="container-fluid no-pad header-gap">
      <h1 class="page-title">Antares Physician Services</h1>
      <h2 class="page-title-secondary"><span>Training</span></h2>
    </div>
    <div class="">

      <div class="contact">
        <div class="">
          <div class="">
            <div class="col-md-12">

              <div class="wp-video">
                <video class="wp-video-shortcode" id="video-410-1" preload="metadata" controls="controls" width="840"
                  height="480" style="margin-left: 162px;">
                  <source type="video/mp4" src="../../../../assets/video/1498650161_RonNailVideo.mov">
                </video>
              </div>
              <p></p>
              <p><a href="../../../../assets/video/1498650161_RonNailVideo.mov" download>Click
                  here to download this video.<br>
                </a>(Video will open in a new window. Click on the icon of the arrow pointing down to download).</p>
              <p><em>Notice: This video is made available by Ability Diagnostics for download only for personal use.
                  &nbsp;It is not allowed to be shared or uploaded to any site or device.</em></p>
              <p></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>