.panel-primary {
  border-color: #424242!important;
}
 .panel-primary>.panel-heading {
  background: #424242 !important;
  border-color: #424242 !important;
  color: #fff !important; 
}
.form .panel-title {
  padding-left: 15px;
}
 .panel-title, .myaccount h2, .myaccount ul li a {
  font-family:"Yanone Kaffeesatz" !important;
    font-weight: 400;
    font-size: 38px;
  
}
.panel-title {
  margin-top: 0;
  font-size: 16px;
}
.basic-bx {
    padding: 15px;
}
.selct-role {
    padding-right: 18px;
    font-weight: bold;
}
.addbttn{
  background: #ff0000;
  border: 1px solid #ff0000;
  height: 35px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 0px;
  margin-left: 3px;
}
.content-area {
  margin-top: 50px;
}