<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <div id="primary" class="content-area">


    <div *ngIf="succMessage" class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong>{{succMessage}}</strong>
    </div>

    <div *ngIf="errMessage" class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong>{{errMessage}}</strong>
    </div>


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> Add Popup Message</h3>
      </div>

      <form [formGroup]="FormData" (ngSubmit)="update_popup()">

        <div class="basic-bx">

          <div class="form-group">
            <label for=""></label>
            <ck-editor formControlName="descriptions" skin="moono-lisa" language="en"></ck-editor>
          </div>

          <div class="form-group"><span class="selct-role">Select Role : </span>
            <input type="checkbox" formControlName="physician" value="physician">Physician
            <input type="checkbox" formControlName="sales" value="sales">Sales
            <input type="checkbox" formControlName="sales_regional_manager" value="sales_regional_manager">Sales
            Regional Manager
            <input type="checkbox" formControlName="team_sales_manager" value="team_sales_manager">Team Sales Manager
            <input type="checkbox" formControlName="team_regional_Sales" value="team_regional_Sales">Team Regional Sales
            <input type="checkbox" formControlName="clinic" value="clinic">Clinic
            <input type="checkbox" formControlName="partner" value="partner">Partner
          </div>

          <div class="form-group">
            <input type="submit" value="submit" class="btn btn-primary">
          </div>
        </div>
      </form>

    </div>
  </div>



  <app-footer></app-footer>
</section>