.specimen_border {
  border: 1px solid #ccc;
  padding: 10px 12px;
  align-items: center;
  display: inline-block;
  width: 100%;
  position: relative;
}
.display.table.table-responsive.table-bordered span {
  margin-right: 4px;
}
.test_type {
  background: #f7f7f7
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) repeat
    scroll 0 0;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #999;
  display: inline-block;
  font-size: 12px;
  margin-left: 0;
  padding: 8px;
  vertical-align: middle;
  margin-left: 10px;
}
