<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->
  <div class="content-wrap repres-mng">
    <div class="">
      <div id="primary" class="content-area col-md-12 abs_resl rp-manage">
        <div class="card-header">
          <div class="card-title">
            <div class="title">
              <h1>Physician Specimens List</h1>
            </div>
          </div>
        </div>
        <div style="padding-bottom: 5px;">
          <div class="specimen_border">
            <div id="sales_reps" style="padding-bottom: 2px; font-size: 16px;"><strong>Physician Name: <span
                  style="color: #28a4c9;"> {{physician_name}}</span></strong> | <strong>Clinic Address: <span
                  style="color: #28a4c9;">{{physician_clinic}} </span></strong> | <strong>Office Number: <span
                  style="color: #28a4c9;">{{physician_office_number}}</span></strong> | <strong>Fax : <span
                  style="color: #28a4c9;">{{physician_fax}}</span></strong>
            </div>
          </div>
        </div>
        <ng-container *ngIf="(from_date !== null )">
          <div class="specimen_border">
            <div id="sales_reps" style="padding-bottom: 2px; font-size: 16px;"><strong>Data Showing : </strong><span
                style="color: #28a4c9;">{{ from_date | date: 'MM-dd-yyyy' }}</span> To <span
                style="color: #28a4c9;">{{to_date | date: 'MM-dd-yyyy'}}</span>

            </div>
          </div>
        </ng-container>

        <div style="padding-top: 5px;">
          <form [formGroup]="searchForm" (ngSubmit)="searchData()">
            <div class="specimen_border">
              <div class="col-md-3 speciman_top">
                <span class="">Test Type :</span>
                <select formControlName="test_type" class="test_type">
                  <option hidden="" value="">Select Test Type</option>
                  <option value="W">Wound</option>
                  <option value="NF">Toenail Fungus</option>
                  <option value="All">Show All</option>
                </select>
              </div>
              <div class="col-md-2 filter speciman_top" style="height: 35px; display: flex; align-items: center;">
                <span class="filter_value" id="filter_value">Search by Collection date:</span>
              </div>
              <div class="col-md-2 entre_name speciman_top">
                <div id="search_value_holder" style="width:100%; float:left; margin-left: 0%;">
                  <input type="text" style="width: 100%;" class="form-control datepicker" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }" [maxDate]="maxDate"
                    formControlName="from" placeholder="From Date" autocomplete="off" />
                </div>
              </div>
              <div class="col-md-1"
                style="width: 30px; height: 34px; display: flex; align-items: center; justify-content: center;"> To
              </div>
              <div class="col-md-2 entre_name speciman_top">
                <div id="search_value_holder" style="width:100%; float:left; margin-left: 0%;">
                  <input type="text" style="width: 100%;" class="form-control datepicker" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }" [maxDate]="maxDate"
                    formControlName="to" id="to" placeholder="To Date" autocomplete="off" />
                </div>
              </div>

              <div class="col-md-1 filter_btn ">
                <input type="submit" value="Search" class="btn btn-primary">
              </div>
              <div class="col-md-1"> <a href="javascript:void(0);" (click)="ngOnInit()" class="reset_button"><i
                    class="fa fa-repeat"></i> Reset</a> </div>
              <div class="clear"></div>
            </div>
          </form>
        </div>
        <p class="clear"></p>
        <div class="clearfix"></div>
        <div class="table-responsive res-page">
          <div id="from_specimen_date">
            <table class="display table table-responsive table-bordered" style="width:100%" [mfData]="data"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr class="users_list">
                  <th width="10%" class="sorting_asc">
                    <mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter>
                  </th>
                  <th width="10%" class="sorting_asc">
                    <mfDefaultSorter by="collection_date">Collection date</mfDefaultSorter>
                  </th>
                  <th width="10%" class="sorting_asc">
                    <mfDefaultSorter by="create_date">Date received</mfDefaultSorter>
                  </th>
                  <th width="10%" class="sorting_asc"
                    *ngIf="user_role === 'aps_sales_manager' || user_role === 'partner' || user_role === 'clinic' || user_id==='76426'">
                    <mfDefaultSorter by="assessioning_num">Report Type</mfDefaultSorter>
                  </th>
                  <ng-container *ngIf="user_role === 'aps_sales_manager' ">
                    <th width="10%" class="sorting_asc">
                      <mfDefaultSorter by="report_type_histo">Histo Report Status</mfDefaultSorter>
                    </th>
                    <th width="10%" class="sorting_asc">
                      <mfDefaultSorter by="report_type_histo">PCR Report Status</mfDefaultSorter>
                    </th>
                  </ng-container>
                  <ng-container *ngIf="user_role === 'partner' || user_role === 'clinic' || user_id==='76426'">
                    <th width="10%" class="sorting_asc">
                      <mfDefaultSorter by="report_type_histo">Patient Name</mfDefaultSorter>
                    </th>

                    <th width="20%" class="sorting_asc">
                      <mfDefaultSorter by="report_type_histo">View Reports PDF</mfDefaultSorter>
                    </th>
                  </ng-container>
                </tr>
              </thead>
              <tfoot>
                <tr class="users_list">
                  <th width="10%" class="sorting_asc">Accessioning Number</th>
                  <th width="10%" class="sorting_asc">Collection date</th>
                  <th width="10%" class="sorting_asc">Date received</th>
                  <th width="10%" class="sorting_asc"
                    *ngIf="user_role === 'aps_sales_manager' || user_role === 'partner' || user_role === 'clinic' || user_id==='76426'">
                    Report
                    Type</th>
                  <ng-container *ngIf="user_role === 'aps_sales_manager'">
                    <th width="10%" class="sorting_asc">Histo Report Status</th>
                    <th width="10%" class="sorting_asc">PCR Report Status</th>
                  </ng-container>
                  <ng-container *ngIf="user_role === 'partner' || user_role === 'clinic' || user_id==='76426'">
                    <th width="10%" class="sorting_asc">Patient Name</th>
                    <th width="20%" class="sorting_asc">View Reports PDF</th>
                  </ng-container>
                </tr>

                <tr>
                  <td colspan="6">
                    <ng-container *ngIf="countData > 10">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                    </ng-container>
                  </td>
                </tr>
              </tfoot>
              <tbody>
                <ng-container *ngIf="!notFount; else elseTemplate">

                  <tr *ngFor="let specimen_list of mf.data; trackBy: trackByFn" id="{{specimen_list.user_id}}">
                    <td>
                      <div>{{specimen_list.assessioning_num}}</div>
                    </td>
                    <td>
                      <div>{{specimen_list.collection_date}}</div>
                    </td>
                    <td>
                      <div>{{specimen_list.create_date}}</div>
                    </td>
                    <td
                      *ngIf="user_role === 'aps_sales_manager' || user_role === 'partner' || user_role === 'clinic' || user_id==='76426'">
                      <span *ngIf="specimen_list.report_type_histo != ''"
                        class="btn btn-info">{{specimen_list.report_type_histo}}</span>
                      <span *ngIf="specimen_list.report_type_pcr != '' " class="btn btn-success">
                        {{specimen_list.report_type_pcr}}</span></td>

                    <ng-container *ngIf="user_role === 'aps_sales_manager'">
                      <td>
                        <a href="javascript:void(0);" class="btn btn-info" style="margin-right: 8px;">
                          {{specimen_list.histo_report_status}}</a>
                      </td>
                      <td>
                        <a href="javascript:void(0);" class="btn btn-success" style="margin-right: 8px;">
                          {{specimen_list.pcr_report_status}}</a>
                      </td>
                    </ng-container>

                    <ng-container *ngIf="user_role === 'partner' || user_role === 'clinic' || user_id==='76426'">
                      <td>{{specimen_list.patient_name}}</td>
                      <td>
                        <ng-container *ngIf="specimen_list.histo_nail_pdf !==''; else elseTemplate2">
                          <a href="{{specimen_list.histo_nail_pdf}}" target="_blank" class="btn btn-primary"
                            style="margin-right: 8px;"> Histo Report PDF</a>
                        </ng-container>
                        <ng-template #elseTemplate2>
                          <a href="javascript:void(0);" class="btn btn-info" style="margin-right: 8px;">
                            {{specimen_list.histo_report_status}}</a>
                        </ng-template>


                        <ng-container *ngIf="specimen_list.pcr_report_pdf !==''; else elseTemplate">
                          <a href="{{specimen_list.pcr_report_pdf}}" target="_blank" class="btn btn-primary"
                            style="margin-right: 8px;">PCR Report PDF</a>
                        </ng-container>
                        <ng-template #elseTemplate>
                          <a href="javascript:void(0);" class="btn btn-success" style="margin-right: 8px;">
                            {{specimen_list.pcr_report_status}}</a>
                        </ng-template>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
                <ng-template #elseTemplate>
                  <tr>
                    <td colspan="7" class="text-center">
                      <h4>No data found.</h4>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>

        <div class="show_physician_list">
          <div class="first-list col-md-3">
            <strong> <label>Histo Specimens Reported :</label><span style="color: #17ac12;">
                {{histo_report_added_count}}</span></strong>
          </div>
          <div class="first-list col-md-3">
            <strong><label>PCR Specimens Reported :</label><span style="color: #17ac12;">
                {{pcr_reports_count}} </span></strong>
          </div>
        </div>
        <div class="show_physician_list">
          <div class="first-list col-md-3">
            <strong> <label>Histo Specimens Pending :</label><span style="color: #ff0000;">
                {{histo_pending_report_count}}</span></strong>
          </div>
          <div class="first-list col-md-3">
            <strong> <label>PCR Specimens Pending :</label><span style="color: #ff0000;">
                {{pcr_pending_report}}</span></strong>
          </div>
        </div>
        <div class="show_physician_list">
          <div class="first-list col-md-3">
            <strong> <label>Total Histo Specimens added :</label><span style="color: #28a4c9;">
                {{total_histo_added}}</span></strong>
          </div>
          <div class="first-list col-md-3">
            <strong> <label>Total PCR Specimens added :</label><span style="color: #28a4c9;">
                {{total_added_pcr_reports_count}}</span></strong>
          </div>
        </div>
        <div class="show_physician_list">
          <div class="first-list col-md-3">
            <strong> <label>Total Specimens :</label><span style="color: #28a4c9;">
                {{total_specimen_count}}</span></strong>
          </div>

        </div>
        <a href="javascript: history.go(-1)" class="btn btn-primary pull-left">Back</a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>