<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <div class="content-wrap rgnl-mng">
    <div class="">
      <div id="primary" class="content-area col-md-12 inner_dash">

        <!-- header text  -->
        <div class="card-header">
          <div class="card-title">
            <div class="title">
              <h1>Regional Managers List</h1>
            </div>
          </div>
        </div>

        <!--/////////////////////////////////// search section//////////////////////////// -->

        <div style="padding-bottom: 5px; padding-top: 5px;">
          <div class="specimen_border">
            <div class="">
              <div class="">

                <form [formGroup]="searchForm" (ngSubmit)="searchData()">

                  <div class="col-md-2 entre_name speciman_top">
                    <div id="search_value_holder" style="margin-left: 0">
                      <select formControlName="status" [(ngModel)]='statusSelect' class="form-control">
                        <option value="">User status</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2 entre_name speciman_top">
                    <div id="search_value_holder" style="margin-left: 0">
                      <input type="text" formControlName="fname" class="form-control" placeholder="Search database">
                    </div>
                  </div>

                  <div class="col-md-2 entre_name speciman_top">
                    <select formControlName="from_month" [(ngModel)]='current_month' class="form-control">
                      <option value="">Month</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>

                  <div class="col-md-2 entre_name speciman_top">
                    <select formControlName="from_year" [(ngModel)]='current_year' class="form-control">
                      <option value="">Year</option>
                      <option *ngFor="let year of allyear" value="{{year}}">{{year}}</option>
                    </select>
                  </div>

                  <!-- <div class="col-md-2  entre_name speciman_top">
                        <input type="text" placeholder="Search name" [(ngModel)]="searchText" class="form-control">
                    </div> -->

                  <div class="col-md-1 no_padding3">
                    <input type="submit" value="Search" class="btn btn-success">
                  </div>

                  <!-- <div class="col-md-1 no_padding3" style="margin-right: 10px;"><a href="javascript:void(0);" class="btn btn-info" (click)="loadall();" title="View all"><i class="fa fa-chevron-down" aria-hidden="true"></i> Load All</a></div>  -->

                  <div class="col-md-1 reset_btn no_padding3"> <a href="javascript:void(0);" (click)="ngOnInit();"
                      class="btn btn-primary"><i class="fa fa-repeat"></i> Reset</a></div>

                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- alert message -->
        <div *ngIf="succMessage" class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>{{succMessage}}</strong>
        </div>

        <!-- <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox"> -->
        <!--/////////////////////////////////// listing//////////////////////////// -->
        <p class="clear"></p>
        <div class="clearfix"></div>
        <div class="table-responsive">

          <table class="display table table-responsive table-bordered" style="width:100%" [mfData]="data"
            #mf="mfDataTable" [mfRowsOnPage]="10">

            <!-- table header -->
            <thead>
              <tr class="users_list">
                <th style="width:25%">
                  <mfDefaultSorter by="regional_manager_name">Full Name</mfDefaultSorter>
                </th>
                <th style="width:15%">
                  <mfDefaultSorter by="total_sales">Total Data Collectors</mfDefaultSorter>
                </th>
                <th style="width:10%" style="display:none;">
                  <mfDefaultSorter by="short_charged_amt" >Charged Amount</mfDefaultSorter>
                </th>
                <th style="width:10%" style="display:none;">
                  <mfDefaultSorter by="short_paid_amt" >Collected Amount</mfDefaultSorter>
                </th>
                <th style="width:10%">
                  <mfDefaultSorter by="status">User Status</mfDefaultSorter>
                </th>
                <th style="width:30%">Actions</th>
              </tr>
            </thead>
            <!-- table body -->
            <tbody *ngIf="!notFount">
              <tr *ngFor="let regional of mf.data | searchPipe: {regional_manager_name: searchText}; trackBy: trackByFn"
                id="{{regional.user_id}}">
                <td>
                  <div>{{regional.regional_manager_name}}</div>
                </td>
                <td valign="middle">
                  <div style="text-align: center ; cursor: pointer;">
                    <a routerLink="/sales-representative/{{regional.user_id}}" routerLinkActive="active"
                      title="Number of Data Collectors"><i
                        class="glyphicon glyphicon-user"></i>{{regional.total_sales}}</a>
                  </div>
                </td>
                <td valign="middle" style="display:none;">
                  <div>{{regional.charged_amt}}</div>
                </td>
                <td valign="middle" style="display:none;">
                  <div>{{regional.paid_amt}}</div>
                </td>
                <td valign="middle">
                  {{regional.status}}
                  <!-- <div class="{{regional.status == 'Inactive' ? 'btn btn-danger' : 'btn btn-success'}}">
                  {{regional.status}}</div> -->
                </td>
                <td style="width:23%">
                  <div class="buttonList btn-group">

                    <a class="btn btn-primary" routerLink="/view-regional-manager/{{regional.user_id}}"
                      routerLinkActive="active" rel="shadowbox;width=800;height=720;" title="View"> <i
                        class="fa fa-eye"></i> View</a>

                    <a class="btn btn-info" type="button" routerLink="/edit-regional-manager/{{regional.user_id}}"
                      routerLinkActive="active" title="Edit"><i class="fa fa-pencil-square-o"></i> Edit</a>

                    <a href="javascript:void(0);" class="btn btn-danger" *ngIf="regional.status==='Active'"
                      (click)="active_inactive(regional.status,regional.user_id)"><i class="fa fa-lock"></i>
                      Inactive</a>

                    <a href="javascript:void(0);" class="btn btn-success" *ngIf="regional.status==='Inactive'"
                      (click)="active_inactive(regional.status,regional.user_id)"><i class="fa fa-unlock"></i> Active</a>

                  </div>
                </td>
              </tr>
            </tbody>



            <!--for no data found -->
            <tbody id="display_regional_manager_list" *ngIf="notFount">
              <tr id="no_data_found" class="text-center">
                <td colspan="12">
                  <h3>No data found.</h3>
                </td>
              </tr>
            </tbody>
            <!-- table footer -->

            <tfoot>
              <tr class="users_list">
                <th>Full Name</th>
                <th>Total Data Collectors</th>
                <th style="display:none;">Charged Amount</th>
                <th style="display:none;">Collected Amount</th>
                <th>User Status</th>
                <th>Actions</th>
              </tr>

              <tr>
                <th colspan="2" style="text-align: center"><strong>Total</strong></th>
                <th colspan="1"><strong><span style="color: #28a4c9" style="display:none;">&nbsp;
                      <ng-container *ngIf="total_charged_amount; else elseTemplate">
                        {{total_charged_amount}}
                      </ng-container>
                      <ng-template #elseTemplate>
                        loading...
                      </ng-template>


                    </span></strong></th>
                <th colspan="1" style="display:none;"><strong><span style="color: #28a4c9">&nbsp;
                      <ng-container *ngIf="total_paid_amount; else elseTemplate">
                        {{total_paid_amount}}
                      </ng-container>
                      <ng-template #elseTemplate>
                        loading...
                      </ng-template>
                    </span></strong></th>
                <th colspan="3"></th>
              </tr>

              <tr>
                <td colspan="1">
                  <ng-container *ngIf="!loadmorehide">
                    <button class="btn btn-info" (click)="loadMore()">Load more</button>
                  </ng-container>
                </td>
                <td colspan="6">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                </td>
              </tr>

            </tfoot>
          </table>
        </div>

        <div class="col-md-6"></div>
        <div class="show_physician_list"><strong>Showing Number of Regional Managers:
          </strong><span> {{total_showing_users}} </span></div>

        <div class="show_physician_list"><strong>Showing Total Number of Regional Managers:
          </strong><span>
            <ng-container *ngIf="countTotalRegionalManager; else elseTemplate">
              {{countTotalRegionalManager}}
            </ng-container>
            <ng-template #elseTemplate>
              loading...
            </ng-template>

          </span></div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>