.specimen_border {
    border: 1px solid #ccc;
    padding: 10px 12px;
    align-items: center;
    display: inline-block;
    width: 100%;
    position: relative;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
    margin-right: 5px;
  }