<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->





  <div class="content-wrap">
    <div class="">
      <div id="primary" class="content-area col-md-12">
        <div id="registration-form" class="form">

          <p style="color:green;font-size:14px;"></p>


          <!-- <form> -->

          <input type="hidden" name="action" value="update" />

          <div class="card-header">
            <div class="card-title">
              <div class="title">
                <h1>Details</h1>
              </div>
            </div>
          </div>



          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>First Name :</label>
              <div class="box">{{userDetails.fname}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Last Name :</label>
              <div class="box">{{userDetails.lname}}</div>
            </div>
          </div>

          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>User Name :</label>
              <div class="box">{{userDetails.user_login}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Email :</label>
              <div class="box"> {{userDetails.email}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Phone :</label>
              <div class="box">{{userDetails.mob}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Website :</label>
              <div class="box">{{userDetails.url}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Address :</label>
              <div class="box"><a href="" target="_blank"></a>{{userDetails.add}}</div>
            </div>
          </div>

          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Regional Manager:</label>
              <div class="box"><a href="" target="_blank"></a>{{userDetails.re_ma_full_name}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Bank Routing Number :</label>
              <div class="box"><a href="" target="_blank"></a>{{userDetails.bank_routing_num}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Bank Account Number :</label>
              <div class="box"><a href="" target="_blank"></a>{{userDetails.bank_account_num}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Name on Bank Account :</label>
              <div class="box"><a href="" target="_blank"></a>{{userDetails.name_on_bank}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label>Commission percentage(%) :</label>
              <div class="box"><a href="" target="_blank"></a>{{userDetails.commission_percentage}}</div>
            </div>
          </div>



          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label for="exampleInputEmail1">Registration Date:</label>
              <div class="box"> {{userDetails.user_registered_date | date: 'dd/MM/yyyy'}}</div>
            </div>
          </div>


          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label for="exampleInputEmail1">Status :&nbsp;</label>
              {{userDetails.user_status}}
            </div>
          </div>

          <div class="col-md-6 physician_details">
            <div class="form-group">
              <label for="exampleInputEmail1">LLC or Corporation :&nbsp;</label>
              {{userDetails.llc}}
            </div>
          </div>



          <div class="clear"></div>

          <div class="clearfix">&nbsp;</div>

          <div class="col-md-1 no_padding2" align="left" style="margin-top:25px;padding:0 !important">
            <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
          </div>


          <!-- </form> -->

        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>