<!-- app heder selector-->
<app-main-header></app-main-header>
<!-- app heder selector-->





<div class="container-fluid no-pad header-gap body_content">
  <h1 class="page-title">Antares Physician Services</h1>
  <h2 class="page-title-secondary"><span>FORGOT PASSWORD</span></h2>
</div>



<div class="container">
  <div class="row contact">
    <div class="container">
      <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default login-panel">

          <div class="panel-heading">
            <div class="panel-title">Forgot password</div>
          </div>

          <div style="padding-top:30px" class="panel-body">

            <!-- show error message -->
            <div *ngIf="message" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Worning!</strong> {{message}}
            </div>


            <form [formGroup]="FormData" (ngSubmit)="sendPassword()">

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="email" formControlName="userEmail" placeholder="Enter Your Email" class="form-control">

              </div>
              <div *ngIf="FormData.controls['userEmail'].touched && !FormData.controls['userEmail'].valid">
                <span *ngIf="FormData.controls['userEmail'].hasError('required')" class="error">
                  User Email is required </span>

                <span *ngIf="FormData.controls['userEmail'].hasError('email')" class="error">
                  Enter valid email address </span>
              </div>


              <div style="margin-top:20px" class="form-group">
                <div class="col-sm-12 controls">
                  <input type="submit" class="btn btn-danger" value="Submit">
                  <a routerLink="/login" class="btn btn-info">Go To Login</a>
                </div>
              </div>

            </form>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-main-footer></app-main-footer>