.btn-primary,
.reset_button,
input[type=submit],
button {
  background: #424242 !important;
  border-radius: 2px;
  color: #fff !important;
  font-family: "Yanone Kaffeesatz" !important;
  font-size: 17px;
  font-weight: 300;
  padding: 6px 15px !important;
  text-transform: uppercase;
  width: auto;
  display: inline-block;
  border: 1px solid #424242;
  height: 33px;
  line-height: 23px;
  text-align: center;
}

p {
  color: grey !important;
  font-family: 'Lato', sans-serif;
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
}
.addbttn2{
  background: #ff0000 !important;
  border: 1px solid #ff0000;
  height: 33px;
  line-height: 23px;
  font-size: 16px;
  border-radius: 0px;
  margin-left: 3px;
}