<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <div class="content-wrap  repres-mng">
    <div class="">
      <div id="primary" class="content-area col-md-12 abs_resl rp-manage">

        <div class="card-header">
          <div class="card-title">
            <div class="title" style="position: relative;;">
              <h1>Fee Summary</h1>

            </div>
          </div>
        </div>


        <div style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 5px;">
          <form [formGroup]="searchForm" (ngSubmit)="searchData()">
            <div class="specimen_border">

              <div class="col-md-1">
                <span class="filter_value">Name:</span>
              </div>
              <div class="col-md-3 entre_name speciman_top">
                <input type="text" style="width:100%" class="form-control" formControlName="keyword"
                  placeholder="Search Name" />
              </div>


              <div class="col-md-2">
                <span class="filter_value bymonth">Month & Year:</span>
              </div>
              <div class="col-md-2 entre_name speciman_top">
                <select formControlName="monthSelect" [(ngModel)]='monthSelect' class="form-control">
                  <option value="">Select Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>


              <div class="col-md-2 entre_name speciman_top">
                <select formControlName="yearSelect" [(ngModel)]='yearSelect' class="form-control">
                  <option value="">Year</option>
                  <option *ngFor="let year of allyear" value="{{year}}">{{year}}</option>
                </select>
              </div>


              <ng-container *ngIf="user_role === 'aps_sales_manager'">
                <div class="col-md-2">
                  <select formControlName="sales_repre" [(ngModel)]='sales_repre' class="form-control">
                    <option value="">Sales Reps</option>
                    <option *ngFor="let sal of sales_rep" value="{{sal.user_id}}">{{sal.sales_reps_name}}</option>
                  </select>
                </div>
              </ng-container>



              <div style="margin-top: 45px">

                <div class="col-md-2 filter_btn" style="width: auto;">
                  <button type="submit" class="btn btn-primary" title="Search"><i class="fa fa-search"
                      aria-hidden="true"></i> Search</button>
                </div>


                <div class="col-md-2 filter_btn " style="width: auto;">
                  <a href="javascript:void(0);" class="btn btn-primary" title="Real Data" (click)="realData()"><i
                      class="fa fa-chevron-down" aria-hidden="true"></i> Real Data</a>&nbsp;
                </div>



                <div class="col-md-2 filter_btn " style="width: auto;">
                  <a (click)="ngOnInit()" class="btn btn-primary"><i class="fa fa-repeat"></i> Reset</a>
                </div>

                <div class="col-md-2" style="width: auto;">
                  <input type="button" class="reset_button load-btn" name="csv" value="Export To Excel"
                    (click)="exportAsXLSX()">
                </div>


                <div class="col-md-2" style="width: auto;">
                  <input type="text" placeholder="Quick Search" class="form-control"
                    (keyup)='search_filter($event.target.value)'>
                </div>

                <!-- <div class="col-md-2" style="margin-top: 11px">
                <input type="text" placeholder="Quick Search" class="form-control"
                  (keyup)='search_filter($event.target.value)'>
              </div> -->

              </div>

            </div>
          </form>
        </div>

        <div class="col-md-12">
          <div class="table-responsive">
            <!-- Excel Export data table start-->
            <div id="tableToExport" style="display: none">

              <table class="table table-condensed table-bordered listing_table" width="100%" [mfData]="data"
                #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                  <tr class="users_list">
                    <th width="15%">Physician Name</th>
                    <th width="15%">Charged Amount</th>
                    <th width="15%">Collected Amount</th>
                    <th width="15%">Sales Reps</th>
                    <th width="15%" style="text-align: center">Action</th>
                  </tr>
                </thead>

                <tbody *ngIf="!notFount">
                  <tr *ngFor="let phy of mf.data; trackBy: trackByFn">
                    <td><a routerLink="/specimen/{{phy.physician_id}}"><i
                          class="glyphicon glyphicon-user"></i>{{phy.physician_name}}</a></td>
                    <td>{{phy.charged_amt}}</td>
                    <td>{{phy.paid_amt}}</td>
                    <td>{{phy.sales_reps_name}}</td>
                  </tr>
                </tbody>

                <tbody *ngIf="notFount">
                  <tr>
                    <td colspan="4" class="text-center">
                      <h4>No data found.</h4>
                    </td>
                  </tr>
                </tbody>

                <tfoot>
                  <tr class="users_list">
                    <th width="25%">Physician Name</th>
                    <th width="15%">Charged Amount</th>
                    <th width="15%">Collected Amount</th>
                    <th width="15%">Sales Reps</th>
                    <th width="15%" style="text-align: center">Action</th>
                  </tr>

                  <tr>
                    <th width="25%" style="text-align: center">Total</th>
                    <th width="15%" style="text-align: center">{{total_char_am}}</th>
                    <th width="15%" style="text-align: center">{{total_paid_am}}</th>
                    <th width="15%" style="text-align: center"></th>
                  </tr>
                </tfoot>

              </table>


              &nbsp;
              <div class="show_physician_list">Showing Physicians: <strong><span
                    style="color: #28a4c9">&nbsp;{{total_physicians}}</span></strong></div>

              <div class="show_physician_list">Total Charged Amount: <strong><span
                    style="color: #28a4c9">&nbsp;{{total_char_am}}</span></strong></div>

              <div class="show_physician_list">Total Collected Amount: <strong><span
                    style="color: #28a4c9">&nbsp;{{total_paid_am}}</span></strong></div>
            </div>
            <!-- Excel Export data table end-->

            <!--display data table -->
            <table class="table table-condensed table-bordered listing_table" width="100%" [mfData]="data"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr class="users_list">
                  <th width="15%">
                    <mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter>
                  </th>
                  <th width="15%">
                    <mfDefaultSorter by="short_charged_amt">Charged Amount</mfDefaultSorter>
                  </th>
                  <th width="15%">
                    <mfDefaultSorter by="short_paid_amt">Collected Amount</mfDefaultSorter>
                  </th>
                  <th width="15%">
                    <mfDefaultSorter by="sales_reps_name">Sales Reps</mfDefaultSorter>
                  </th>
                  <th width="15%" style="text-align: center">Action</th>
                </tr>
              </thead>


              <tbody *ngIf="!notFount">
                <tr *ngFor="let phy of mf.data; trackBy: trackByFn">
                  <td><a routerLink="/physician-specimens-details/{{phy.physician_id}}"><i
                        class="glyphicon glyphicon-user"></i>{{phy.physician_name}}</a></td>
                  <td>{{phy.charged_amt}}</td>
                  <td>{{phy.paid_amt}}</td>
                  <td>{{phy.sales_reps_name}}</td>
                  <td>
                    <a class="btn btn-primary" routerLink="/fee-history/{{phy.physician_id}}"><i
                        class="fa fa-pencil-square-o"></i> View History</a>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="notFount">
                <tr>
                  <td colspan="7" class="text-center">
                    <h4>No data found</h4>
                  </td>
                </tr>
              </tbody>

              <tfoot>
                <tr class="users_list">
                  <th width="25%">Physician Name</th>
                  <th width="15%">Charged Amount</th>
                  <th width="15%">Collected Amount</th>
                  <th width="15%">Sales Reps</th>
                  <th width="15%" style="text-align: center">Action</th>
                </tr>

                <tr>
                  <th width="25%" style="text-align: center">Total</th>
                  <th width="15%" style="text-align: center">{{total_char_am}}</th>
                  <th width="15%" style="text-align: center">{{total_paid_am}}</th>
                  <th width="15%" style="text-align: center"></th>
                </tr>

                <tr>
                  <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
            <!-- Display data table-->


          </div>
        </div>

        <div class="show_physician_list">Showing Physicians: <strong><span
              style="color: #28a4c9">&nbsp;{{total_physicians}}</span></strong></div>

        <div class="show_physician_list">Total Charged Amount: <strong><span
              style="color: #28a4c9">&nbsp;{{total_char_am}}</span></strong></div>

        <div class="show_physician_list">Total Collected Amount: <strong><span
              style="color: #28a4c9">&nbsp;{{total_paid_am}}</span></strong></div>

        <p>Charged Amount is the amount that has been billed to insurance in the current month. Not all will be
          collected.<br />
          Collected Amount is amount collected by lab in the current month.<br />
          For more information about your billing and collections process, <a routerLink="/collections">Click
            here</a>.<br />
          Financial information last updated {{last_data_entry_date | date: 'MMMM dd, yyyy'}}
        </p>
        <div class="col-md-2 no_padding3" style="padding:0 !important">
          <a href="javascript:void(0)" class="btn btn-primary"> Back</a>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>