.page-title {
    font-size: 28px;
    color: #6b6b6b;
    text-align: center;
    padding: 0;
    margin: 0;
}

.page-title-secondary, .page-title-secondary span {
    font-size: 38px;
    color: red;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

.mid_arrea {
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.mid_arrea, .mid_arrea span {
    display: flex;
    width: 100%;
}
#btnu {
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 0 14px 0 rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    position: relative;
}
#btnu {
    margin: 0 auto;
}
.sales-training img {
    width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.mid_arrea {
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
#btnup {
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 0 14px 0 rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    position: relative;
}
 #btnup {
    margin: 0 auto;
}

.mid_arrea {
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.mid_arrea span {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
}
.mid_arrea span img {
    width: 100px;
}
.lightppp {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
}
.lightgg {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
}
.sales-training-right a {
    display: block;
    margin-bottom: 10px;
}
.sales-training-bottom h2, .sales-training-right h2 {
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.sales-training-right img {
    width: 35px;
}
.sales-training-right p {
    
    font-family: 'Lato', sans-serif !important;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    color:#808080;
}

.sales-training-bottom ul li { font-family: 'Lato', sans-serif !important;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400; color:#808080;}


.page-title {
    font-size: 28px;
    color: #6b6b6b;
    text-align: center;
    padding: 0;
    margin: 0;
}

.page-title-secondary, .page-title-secondary span {
    font-size: 38px;
    color: red;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}
.wp-video {
    border: 1px solid #eee;
}
.body_content {
    padding: 3% 0;
}
.page-title-secondary::before {
    left: 0;
}
.page-title-secondary::after, .page-title-secondary::before {
    border-top: 1px solid #ccc;
    margin-top: 19px;
    position: absolute;
    width: 100%;
    content: "";
}
.page-title-secondary::after {
    right: 0;
}
.page-title-secondary span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 9;
}
.header-gap {
    margin-bottom: 2%;
}
.menu ul li a, .page-title, .sls a, .slsout a {
    text-transform: uppercase;
}
.sales-training-bottom ul li a {
    border-bottom: #ccc solid 1px;
    font-family: 'Lato', sans-serif;
     font-weight: 400;
   font-size: 14px;
   line-height: 25px;
    color: grey;
}
.sales-training-bottom ul li, .sales-training-right p {
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 25px;
    color: grey;
    list-style: none;
}
.sales-training-bottom ul {padding: 0;}