<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <div class="body_content">
    <div class="container-fluid no-pad header-gap">
      <h1 class="page-title">Antares Physician Services</h1>
      <h2 class="page-title-secondary"><span>Training</span></h2>
    </div>
    <div class="">
      <div class="contact">
        <div class="">
          <div class="">



            <div class="col-md-12">

              <!-- Modal -->
              <div class="modal fade" id="myVideo" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" id="myVideoClose" class="close" data-dismiss="modal" (click)="closeVideo()">&times;</button>
                    </div>


                    <div class="modal-body">
                      <span
                        style="font-size: 12pt;font-family: Arial;color: #000000;background-color: #ffffff;
                    font-weight: 400; font-style: normal;font-variant: normal;text-decoration: none;vertical-align: baseline;">As
                        part of our compliance training and to be eligible to receive commissions, you’re required to
                        watch this video. It protects both you and us. Click the button below after you’ve watched
                        it.</span>
                      <p></p>
                      <div class="wp-video">
                        <video class="wp-video-shortcode first_vid" id="video-410-1" width="100%" height="100%"
                          preload="metadata" controls="controls" #videoPlayer>
                          <source type="video/mp4" src="../../../../assets/video/Chriscompliance.mp4" />
                        </video>
                      </div>

                    </div>

                    <div class="modal-footer">
                      <p style="float:left;color:red;font-size: 13px;">Note: You need to review full tutorial to check the checkbox.</p>
                      <input #chkDisabled type="checkbox" (click)="updatechk()" [checked]="view_popup_status">&nbsp;I've reviewed this video
                    </div>


                  </div>

                </div>
              </div>
              <!-- modal -->


              <!-- Modal 2-->
              <div class="modal fade" id="myVideo2" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" (click)="closeVideo1()">&times;</button>

                    </div>


                    <div class="modal-body">

                      <div class="wp-video">
                        <video class="wp-video-shortcode second_vid" id="video-410-1" width="100%" height="100%"
                          preload="metadata" controls="controls" #videoPlayer1>
                          <source type="video/mp4" src="../../../../assets/video/Instantmeeting.mp4" />
                        </video>
                      </div>

                    </div>


                  </div>

                </div>
              </div>
              <!-- modal 2-->


            </div>




            <div class="row">

              <div class="col-md-6 col-md-offset-3 sales-training" data-toggle="modal" data-target="#myVideo" data-backdrop="static">
                <div class="mid_arrea">
                  <div id="btnu" data-toggle="modal" data-target="#lightppp" (click)="toggleVideo()">
                    <img src="../../../../assets/images/video.jpg" alt="">
                    <span><img src="../../../../assets/images/btnj.png" alt=""></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-md-offset-3 sales-training" data-toggle="modal" data-target="#myVideo2" data-backdrop="static">
                <div class="mid_arrea">
                  <div id="btnup" data-toggle="modal" data-target="#lightppp" (click)="toggleVideo1()">
                    <img src="../../../../assets/images/video-img.jpg" alt="">
                    <span><img src="../../../../assets/images/btnj.png" alt=""></span>
                  </div>
                </div>
              </div>


              <div class="col-md-12 sales-training-right">
                <h2>Below are all documents to market Ability Diagnostics.<br>
                  Please familiarize yourself with the attached documents.<br>
                  Included:
                </h2>
                <a href="../../../../assets/pdf/sample_pcr_report.pdf" target="_blank">
                  <img src="../../../../assets/images/pdf.png" width="38px;" height="34px;">
                  <p style="display: inline-block">Sample PCR Report</p>
                </a>
                <a href="../../../../assets/pdf/WelcomeLetter.docx">
                  <img src="../../../../assets/images/default.png" width="38px;" height="34px;">
                  <p style="display: inline-block">Sample Rep Welcome Letter</p>
                </a>
                <a href="../../../../assets/pdf/FLYERAbilityDiagnosticsLaboratories.pdf">
                  <img src="../../../../assets/images/pdf.png" width="38px;" height="34px;">
                  <p style="display: inline-block">Ability diagnostics flyer</p>
                </a>
                <a href="../../../../assets/pdf/Collections-Explanation.pdf">
                  <img src="../../../../assets/images/pdf.png" width="38px;" height="34px;">
                  <p style="display: inline-block">How Collections Work</p>
                </a>
                <a href="../../../../assets/pdf/AbilityDiagnosticsOn-BoardingForm_SEPTEMBER_2017.docx">
                  <img src="../../../../assets/images/default.png" width="38px;" height="34px;">
                  <p style="display: inline-block"> On-Boarding Form: You may add your entity/email at the top for all
                    accts for this Word.doc</p>
                </a>
                <a href="../../../../assets/pdf/AbilityDiagnosticsOn-BoardingForm_Sample-Sept.pdf" target="_blank">
                  <img src="../../../../assets/images/pdf.png">
                  <p style="display: inline-block">Sample On-Boarding Form; This is what a completed form looks like,
                    prior to sending in</p>
                </a>
                <a href="../../../../assets/pdf/SAMPLEREQFORM.pdf" target="_blank">
                  <img src="../../../../assets/images/pdf.png">
                  <p style="display: inline-block">Requisition Form (PDF). Requisition (Req) forms are included in
                    shipped
                    all supply kits</p>
                </a>
                <a href="../../../../assets/pdf/SupplyKitAbility.pdf" target="_blank">
                  <img src="../../../../assets/images/pdf.png">
                  <p style="display: inline-block">Picture of Supply Kit and enclosed Requisition Form that accompanies
                    each kit</p>
                </a>
                <a href="../../../../assets/pdf/NailSpecimenRequirementsandInstructions.docx">
                  <img src="../../../../assets/images/default.png" width="38px;" height="34px;">
                  <p style="display: inline-block">Nail Fungus Specimen Requirements </p>
                </a>
                <a href="../../../../assets/pdf/SamplePathologyReport(Green).pdf" target="_blank">
                  <img src="../../../../assets/images/pdf.png">
                  <p style="display: inline-block">Sample Pathology Report (Green)</p>
                </a>
                <a href="../../../../assets/pdf/SamplePathologyReport(Red).pdf" target="_blank">
                  <img src="../../../../assets/images/pdf.png">
                  <p style="display: inline-block">Sample Pathology Report (Red)</p>
                </a>
                <a href="../../../../assets/pdf/SamplePathologyReport(Yellow).pdf" target="_blank">
                  <img src="../../../../assets/images/pdf.png">
                  <p style="display: inline-block">Sample Pathology Report (Yellow)</p>
                </a>
                <a href="../../../../assets/pdf/UPSPickupGuide.docx">
                  <img src="../../../../assets/images/default.png" width="38px;" height="34px;">
                  <p style="display: inline-block">UPS Guide for Shipping Samples</p>
                </a>
                <h2>Primary Care (review during live training)</h2>
                <a href="../../../../assets/pdf/PracticePull-through.pdf" target="_blank">
                  <img src="../../../../assets/images/pdf.png">
                  <p style="display: inline-block">Pull-Through Adoption for Primary Care ( Dave Wolf will assist with
                    the
                    PCP's, once you on-board)</p>
                </a>
              </div>
              <div class="clear"></div>
              <div class="col-md-12 sales-training-bottom">
                <h2>Practice Supplies: (For a PCP, Podiatrists will already have)</h2>
                <ul>
                  <li> Nail Nippers: <a href="http://antoinedeparis.com" target="_blank">www.antoinedeparis.com </a>
                    Item
                    #172 $49.00 (practice purchase)</li>
                  <!--  <li> 
                      CaviWipes: <a href="http://www.mooremedical.com/" target="_blank">www.mooremedical.com</a> 800-234-1464 Item# 72532 $13.59 </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>