<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <div class="">
    <div class="container-fluid">
      <div class="side-body content-area">
        <div class="row">
          <div class="col-xs-12">
            <div class="card">


              <div class="card-header">
                <div class="card-title">
                  <div class="title">
                    <h1>Submitted Report</h1>
                  </div>
                </div>
              </div>


              <div style="padding-bottom: 14px; padding-top: 14px;">
                <form [formGroup]="FormData" (ngSubmit)="search_data()">
                  <div class="specimen_border speciman_top ">
                    <div class="clear">
                   
                      <div class="form-inline col-md-2 speciman_top">
                         <select formControlName="test_type" [(ngModel)]='select_test_type'  class="test_type form-control">
                            <option value="">Select Test Type</option>
                            <option value="All">Show All</option>
                            <option value="W">Wound</option>
                            <option value="NF">Toenail Fungus</option>                            
                          </select>
                        </div> 
                      <div class="form-inline col-md-2 speciman_top">                        
                        <input type="text"  class="form-control" formControlName="p_lastname"
                          placeholder="Patient Full Name" />
                      </div>


                      <div class="form-inline col-md-2 speciman_top">
                         <input type="text" class="form-control" formControlName="external_id"
                          placeholder="External Id" />
                      </div>


                      <div class="form-inline col-md-2 speciman_top" >
                        <input type="text"  class="form-control" formControlName="assessioning_num"
                          placeholder="Accessioning Number" />
                      </div>

                      <div class="col-md-1">
                        <input type="submit" value="Search" class="btn btn-primary reset_button" />
                      </div>

                      <div class="col-md-1"><a (click)="resetForm()" class="btn btn-primary reset_button"><i _ngcontent-c1="" class="fa fa-repeat"></i> Reset</a>
                      </div>
                  </div>
                </div>
                </form>
              </div>


              <div class="card-body pcr-list dat-tble">
                <table class="display table table-responsive table-bordered" style="margin-top:0;" width="100%"
                  [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">

                  <thead>
                    <tr class="users_list">
                      <th width="10%">
                        <mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter>
                      </th>
                      <th width="10%">
                        <mfDefaultSorter by="external_id">External Id</mfDefaultSorter>
                      </th>
                    
                      <th width="15%">
                        <mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter>
                      </th>
                      <th width="15%">
                        <mfDefaultSorter by="patient_name">Patient Name</mfDefaultSorter>
                      </th>
                      <th width="10%">
                        <mfDefaultSorter by="collection_date">Collection Date</mfDefaultSorter>
                      </th>
                      <th width="10%">
                        <mfDefaultSorter by="date_received">Date Received</mfDefaultSorter>
                      </th>
                      <th width="30%">View PDF</th>
                    </tr>
                  </thead>

                  <tbody *ngIf="!notFount">
                    <tr *ngFor="let report of mf.data; trackBy: trackByFn">
                      <td valign="middle">{{report.assessioning_num}}</td>
                      <td valign="middle">{{report.external_id}}</td>
                      <td valign="middle">{{report.physician_name}}</td>
                      <td valign="middle">{{report.patient_name}}</td>
                      <td valign="middle">{{report.collection_date}}</td>
                      <td valign="middle">{{report.date_received}}</td>

                      <td valign="middle">
                        <ng-container *ngIf="report.nail_pdf !==''; else elseTemplate2">
                          <a [attr.href]="user_role === 'aps_sales_manager' ? null : report.nail_pdf" target="_blank"
                            class="btn btn-primary" *ngIf="report.nail_pdf!==''" style="margin-right: 8px;"
                            [ngStyle]="{'background-color': color(report.is_downloaded)}"
                            (click)="chanage_color(report.specimen_id)">Histo
                            Report PDF</a>
                        </ng-container>
                        <ng-template #elseTemplate2>
                          <a href="javascript:void(0);" class="btn btn-success" style="margin-right: 8px;"> No HISTO
                            Ordered</a>
                        </ng-template>

                        <ng-container *ngIf="report.pcr_pdf !==''; else elseTemplate">
                          <a [attr.href]="user_role === 'aps_sales_manager' ? null : report.pcr_pdf" target="_blank"
                            class="btn btn-primary" *ngIf="report.pcr_pdf!==''"
                            [ngStyle]="{'background-color': color(report.pcr_pdf_is_downloaded)}"
                            (click)="chanage_color_for_pcr(report.assessioning_num)">
                            PCR Report PDF</a>
                        </ng-container>
                        <ng-template #elseTemplate>
                          <a href="javascript:void(0);" class="btn btn-success" style="margin-right: 8px;"> No PCR
                            Ordered</a>
                        </ng-template>
                      </td>
                    </tr>
                  </tbody>

                  <tbody *ngIf="notFount">
                    <tr>
                      <td colspan="6" class="text-center">
                        <h4>No data found.</h4>
                      </td>
                    </tr>
                  </tbody>

                  <tfoot>
                    <tr class="users_list">
                      <th width="10%">Accessioning Number</th>
                      <th width="10%">External Id</th>
                      <th width="12%">Physician Name</th>
                      <th width="15%">Patient Name</th>
                      <th width="10%">Collection Date</th>
                      <th width="10%">Date Received</th>
                      <th width="20%">View PDF</th>
                    </tr>
                    <tr>
                      <td colspan="7">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>

                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>