<!-- loader -->
<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  fullScreen = "true">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<div class="container-fluid">
  <div class="row" myMatchHeight="hightmatch">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <app-footer></app-footer> -->