@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Raleway:400,500|Yanone+Kaffeesatz&display=swap");

.black-overlay[_ngcontent-c4] {
  position: fixed !important;
}

.loading-text[_ngcontent-c4] {
  position: fixed !important;
}
