<!-- app heder selector-->
<app-main-header></app-main-header>
<!-- app heder selector-->




<div class="slider">
  <div class="container">
    <article>
      <h2>Laboratory Management Services</h2>
      <!-- <p>Antares Physician Services(APS) is a management company organized for the purpose of providing laboratory and
        other services to physicians.</p> -->
<p><app-banner></app-banner></p>
    </article>
  </div>
</div>


<div class="body_content">

  <div class="container-fluid no-pad header-gap">
    <h1 class="page-title">Antares Physician Services</h1>
    <h2 class="page-title-secondary"><span>CONTACT US</span></h2>
  </div>


  <div class="container">
    <div class="row contact">



      <!-- <div class="col-sm-6">
        <address>
          <h4 class="text-uppercase"><span>Address</span></h4>
          <p>76 Arrecife Street Dorado Reef Dorado, PR 00646</p>
        </address>
      </div> -->




      <div class="col-sm-7">
        <h4 class="text-uppercase"><span>Email Us</span></h4>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

          <div class="row form-group">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10"><input class="form-control" id="name" placeholder="Name" formControlName="name"
                type="text"></div>
            <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Name is required.">
            </app-field-error-display>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10"><input class="form-control" id="email" placeholder="Email" type="email"
                formControlName="email">
            </div>
            <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Email is required.">
            </app-field-error-display>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Message</label>
            <div class="col-sm-10"><textarea class="form-control" id="message" formControlName="message"
                placeholder="Enter message"></textarea></div>
            <app-field-error-display [displayError]="isFieldValid('message')" errorMsg="Message is required.">
            </app-field-error-display>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">&nbsp;</label>
            <div class="col-sm-10"><input class="btn" placeholder="Submit" value="Submit" id="submit" name="submit"
                type="submit"></div>
          </div>

        </form>
      </div>




    </div>
  </div>


</div>
<app-main-footer></app-main-footer>