.slider {
    background: url(../../../assets/images/banner.jpg) no-repeat fixed;
    background-size: auto auto;
    height: 400px;
    background-size: 100% 60%;
}
.slider, .tggle_efct {
    position: relative;
}
.slider article {
    margin-top: 15%;
    color: #fff;
    opacity: .8;
    padding: 20px 30px;
    width: 60%;
    background: #fff;
}
.slider article h2 {
    
    font-family:Antonio-Regular;
    font-size: 48px;
    font-weight: 400;
    color: #0c354a;
    margin: 0;
}
.slider article p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #0c354a;
}
p {
    color: grey!important;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.no-pad {
    padding-left: 0!important;
    padding-right: 0!important;
}

.header-gap {
    margin-bottom: 2%;
}
.page-title {
    font-size: 26px;
    color: #6b6b6b;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.page-title-secondary {
    padding: 0;
}
.page-title-secondary, .page-title-secondary span {
    font-size: 38px;
    color: red;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}
.page-title-secondary::before {
    left: 0;
}

.page-title-secondary::after, .page-title-secondary::before {
    border-top: 1px solid #ccc;
    margin-top: 19px;
    position: absolute;
    width: 100%;
    content: "";
}
.page-title-secondary span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 9;
}
.all_team {
    background: #fff;
    box-shadow: 0 0 13px #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}
.all_team h3 {
    color: #0c354a;
    font-family: Lato!important;
    font-feature-settings: normal!important;
    font-kerning: auto!important;
    font-language-override: normal!important;
    font-size: 20px!important;
    font-size-adjust: none!important;
    font-stretch: normal!important;
    font-style: normal!important;
    font-synthesis: weight style!important;
    font-variant: normal!important;
    font-weight: 700;
    line-height: normal!important;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}
.body_content {
    padding: 3% 0;
}
.page-title-secondary::after {
    right: 0;
}
address, dl {
    margin-bottom: 20px;
}
.contact h4 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}
.text-uppercase {
    text-transform: uppercase;
}
.contact h4 span {
    background: #fff;
    padding: 5px 0;
}
p {
    color: grey !important;
    font-family: 'Lato', sans-serif !important;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
}
.form-group, .view_form-group {
    display: inline-block;
    margin: 15px auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-left: auto;
    width: 100%;
}
label {
    color: #5c5c5c;
    float: left;
    font-family: 'Lato', sans-serif !important;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
}
.btn-primary, .reset_button, input[type="submit"] {
    background: #424242 !important;
    border-radius: 2px;
    color: #fff !important;
    font-family:"Yanone Kaffeesatz" !important;
    font-weight: 300;
    font-size: 17px;
    padding: 6px 15px !important;
    text-transform: uppercase;
    width: auto;
    display: inline-block;
    border: 1px solid #424242;
    height: 33px;
    line-height: 1;
    text-align: center;
}

form{
    width: 100%;
}
