<!--left-panel-start-->
<section class="left-panel col-sm-2 hightmatch hightmatch-block">
  <div class="row">
    <div class="left-logo">
      <img src="./assets/images/logo.png" alt="logo" />
    </div>
    <ul class="dashleft-menu">
      <li class="active">
        <a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a>
      </li>
      <li>
        <a routerLink="/myaccount" routerLinkActive="active"><i class="fa fa-user-circle-o" aria-hidden="true"></i>My
          Account</a>
      </li>

      <div *ngIf="user_role === 'sales'">
        <li>
          <a routerLink="/announcements-home" routerLinkActive="active"><i aria-hidden="true"
              class="fa fa-bullhorn"></i>Announcements</a>
        </li>
      </div>

      <div *ngIf="user_role === 'aps_sales_manager'">
        <li>
          <a routerLink="/ability-partners" routerLinkActive="active"><i class="fa fa-users"
              aria-hidden="true"></i>Ability Diagnostics
            Partners</a>
        </li>
        <li>
          <a routerLink="/announcements" routerLinkActive="active"><i class="fa fa-bullhorn"
              aria-hidden="true"></i>Announcements</a>
        </li>
        <li>
          <a routerLink="/popup-message" routerLinkActive="active"><i class="fa fa-envelope-o"
              aria-hidden="true"></i>Popup Message</a>
        </li>
        <li>
          <a routerLink="/sales-training" routerLinkActive="active"><i class="fa fa-graduation-cap"
              aria-hidden="true"></i>Training</a>
        </li>

        <li> <a routerLink="/analytics" routerLinkActive="active"><i class="fa fa-bar-chart"
              aria-hidden="true"></i>Analytics</a>
          <span class="drop-arrow" (click)="openDropDown1()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          <ul class="drop-down" [class.show_hide]="show_hide">
            <li> <a routerLink="/physician-analytics" routerLinkActive="active"><i class="fa fa-bar-chart"
                  aria-hidden="true"></i>Physician Analytics</a></li>
            <li> <a routerLink="/sales-analytics" routerLinkActive="active"><i class="fa fa-bar-chart"
                  aria-hidden="true"></i>Sales Reps Analytics</a></li>
          </ul>
        </li>

        <li>
          <a routerLink="/news-letter" routerLinkActive="active"><i class="fa fa-pencil"
              aria-hidden="true"></i>Newsletter</a>
        </li>
        <li style="display:none;">
          <a routerLink="/commission-data-entry" routerLinkActive="active"><i class="fa fa-files-o"
              aria-hidden="true"></i>Data Entry</a>
        </li>
        <li style="display:none;">
          <a routerLink="/fees" routerLinkActive="active"><i class="fa fa-money"
              aria-hidden="true"></i>Fees</a>
        </li>
      </div>
      <div *ngIf="
          user_role === 'sales' ||
          user_role === 'team_regional_Sales' ||
          user_role === 'team_sales_manager' ||
          user_role === 'sales_regional_manager' ||
          user_role === 'regional_manager'
        ">
        <li *ngIf="user_id !='76514'" style="display:none;">
          <a routerLink="/fees" routerLinkActive="active" ><i class="fa fa-money"
              aria-hidden="true"></i>Fees</a>
        </li>
      </div>
      <div *ngIf="user_role === 'regional_manager'">
        <li>
          <a routerLink="/sales-training" routerLinkActive="active"><i class="fa fa-graduation-cap"
              aria-hidden="true"></i>Training</a>
        </li>
      </div>
      <!-- <li> <a (click)="logout()" routerLink="/login" routerLinkActive="active"><i class="fa fa-power-off"
            aria-hidden="true"></i>Logout</a></li> -->
    </ul>
  </div>
</section>

<!--left-panel-end-->