/* .content-area {
    margin-top: 15px;
    min-height: 500px;
}

.myaccount {
    background: #424242;
    border-radius: 5px;
    padding-bottom: 5px;
}
.myaccount h2 {
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    margin: 0;
}
.form .panel-title, .myaccount h2, .myaccount ul li a {
    font-family:"Yanone Kaffeesatz";
    font-size: 30px;
    font-weight: 400;
}
.myaccount ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.myaccount ul li a {
    background: grey;
    color: #fff;
    display: block;
    margin: 7px 0;
    padding: 7px 10px 11px;
    text-transform: capitalize;
    text-decoration: none;
    
}
.active {
    background: red !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 1.1;
  }
  .myaccount ul li a {line-height: initial;} */

/*left-panelcss start*/
.left-panel {
  background: #252525;
  height: 100vh;
}

.left-logo {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #4a4a4a;
  width: 100%;
  margin-bottom: 40px;
}
.dashleft-menu li{
  position: relative;
}
.dashleft-menu li a {
  color: #fff;
  font-weight: normal;
  font-size: 17px;
  font-family: 'Yanone Kaffeesatz';
  display: block;
  padding-left: 20px;
  z-index: 0;
}

.dashleft-menu li:hover {
  background: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.dashleft-menu li a:hover {
  text-decoration: none;
}

.dashleft-menu li a.active {
  background: #ff0000;
}

.dashleft-menu li i {
  width: 20px;
  color: #fff;
  margin-right: 20px;
}

.dashleft-menu li {
  line-height: 40px;
  list-style: none;
  width: 100%;
  display: inline-block;
  /* padding-left: 20px; */
  position: relative;
}

.dashleft-menu {
  margin-left: 0;
  padding-left: 0;
}

/*left-panelcss end*/
.drop-down{
  display: none;
}
.dashleft-menu li .drop-arrow{
  position: absolute;
  right: 10px;
  top: 20px;
  transform: translate(10px, -20px);
  z-index: 999;
  text-align: center;
  width: 50px;
  height: 40px;
  display: block;
  padding-left: 0px;
}
.dashleft-menu li .drop-arrow i{
  margin: 0px;
}

.show_hide{ 
  display: block !important;
  padding-left: 0px;
}