<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->




  <div id="primary" class="content-area">
  <!-- <div class="container-fluid no-pad header-gap">
    <h1 class="page-title">Antares Physician Services</h1>
    <h2 class="page-title-secondary"><span>Collections</span></h2>
  </div> -->
  <div class="app-container">
    <div class="content-container">
    <div class="contact">
      <div class="card-title">
        <div class="title">
          <h1>Collections</h1>
        </div>
      </div>


      <div class="privacy_cntnt">
        <div class="a_cntnt">
          <h2>How Money is Collected for Specimens Reported</h2>
          <p>We are often asked by our representatives to provide more information regarding both their sample count and
            pending payment standing(s).  Unfortunately, this is not as simple to provide as one might think.  Below, we
            will try to explain Ability's process.  However, as a precursor to this commentary, please know we are
            making effort to achieve our data initiatives for both corporate and field expectations.
          </p>
          <p>To that end, this accomplishment is based upon information that we may not have until the final claim
            payment, also called the Explanation of Billing (EOB) is received.  In truth, the final payment may never
            happen and/or a write-off is then required.  Again, this is not something that can be produced from a simple
            spreadsheet, as it requires multiple spreadsheets from different sources (in some cases hundreds of sources)
            and multiple layers from each. </p>
          <p>
            In summary we do not have any information on a claim until Medicare submits a reimbursement check and the
            accompanying EOB.
          </p>

          <h2>Adjudication for Onychomycosis Tests </h2>
          <p>Our tests are adjudicated based on a variety of conditions, as ordered by a provider or required by the
            payor plan for that specific patient.  These variables are based upon the following conditions; unilateral
            specimen; bilateral specimen (we've actually had providers send biopsies for ten toes); number of stains
            ordered per test (there are six variables in stains alone); individual circumstances as directed by the
            provider per their desired clinical treatment; and also payor variables such as; commercial payor and their
            specific patient plans; federal payor and that specific patient plan; additional secondary payors and
            patient deductibles; the data required to process the claim; and finally, the amount the payor chooses to
            pay (the ultimate payment by the payor is not set in stone). </p>
          <p>All of this is broken down in more detail below:</p>
          <p>If the "melanin screen" box is checked on the Req Form by the provider, there are three stains charged,
            plus the accessioning and processing charge code. </p>
          <p>If not, we bill two stains (from the lower box on the Req form) plus the accessioning code. </p>
          <p>Our claim "per test" average is about $310-380.  Please be sure you understand what this means;</p>
          <p>- a two stain Medicare specimen will be paid at about $270-280.  If there is a Medicaid co-insurance, 20%
            of this is written off.</p>
          <p>- a three stain commercial / PPO claim may pay over $430, depending on the PPO payor. </p>
          <p>All blended together, we are currently seeing the $340-350 average per test, regardless of payor, but where
            65-70% of our tests are Medicare (below). </p>


          <h2>How Ability Lab claims are paid</h2>

          <p>- A claim can be paid over one, two or many months. In other words, a test that we complete in early August
            may have the patient's primary commercial portion remitted in Sept/Oct. Then, the secondary insurance is
            paid in Oct/Nov, and finally, the patient remitted the remainder of their balance in December. This is all
            one test and one claim, and would total to the above "average" of $340-350.</p>
          <!-- <p>Therefore, <b>it is not realistic to predict how much commission one makes on a per-sample basis.</b> 
            Also, a provider might stop sending samples to us, and reps will still see residual commissions from prior
            months' tests for several months...from our continued payments, co-insurance and self-payments from patients
            - some of who might pay down their bill to us at $20 per month, etc. </p> -->
          <p>Soon, we will have metrics and visibility that show claim status to assist both you and us reps to see what
            is coming through.  Such will be visible on the portal, and we will provide updates as we approach
            completion of this interface with our billing partners.  
          </p>

          <h2>Insurance Coverage </h2>

          <p>Yes, all of this is covered in our Ability training. </p>
          <p>We are indeed in-network with the top five payors: BCBS, AETNA, CIGNA, UHC and Humana. Ability is licensed
            for histo/path testing, and we carry the same independent status histology lab as Bako and others in this
            space. 
            <p><b>- Medicare is about 65-70% our portfolio.  </b></p>
            <p><b>- We do not accept Medicaid from any state.</b> Many reasons: our costs are not expected to be met;
              3-6 month reimbursement dates and state contract requirements are the top reasons. </p>
            <p>As we add and bill more regional payors, we may at first not be recognized in their system as a known
              pathology laboratory. Some of these payors will accept our above in-network status as similar/equal and
              remit payments based upon such acceptance. Some will ask us for more detail for our lab; CLIA, place of
              service and other needed criteria often used to authenticate our lab as a compliant and Medicare-approved
              pathology lab. Still others may decide to initially deny a claim or ask us to become a contractually
              approved lab within their regional network. Our claims to these payors are typically only slightly billed
              above the Medicare fee schedule rates. </p>
            <p>Though our billing team is exceptional in working with all types of both federal and commercial payors,
              managing claims through these smaller payors can be somewhat challenging depending on each payor's
              requirements. Please know that we can and will exhaust our resources to integrate these regional payors
              into our portfolio</p>
            <p>Like all other labs, we can and must (by law) softly pursue a patient if and when their payor does accept
              coverage and fails to remit payment to Ability on behalf of the patient/policy holder. We will not place
              patients with a collection agency. Otherwise, we are no different than a physician or any diagnostic,
              x-ray, pharmacy, psychiatrist, etc., provider who is seeking and expecting full and customary
              payments from a patient for services delivered. </p>
            <p>Our tests are considered diagnostic and fall under other types of high-risk pathology. So, it is in the
              best interest of the regional payor to accept our results, which are required to lead to (1) correct
              diagnoses and (2) most cost-effective treatment.  In other words, confirmation of pathology Dx is
              critical. Sharing that we are in-network with the above is often the validation that some of these smaller
              payors need.  Realistically, we expect these regional payors to make up less than 10% of our claims. </p>


        </div>
      </div>



    </div>
  </div>
  </div>
</div>
<app-footer></app-footer>
</section>