<!-- app heder selector-->
<app-main-header></app-main-header>
<!-- app heder selector-->



<div class="slider">
  <div class="container">
    <article>
      <h2>Laboratory Management Services</h2>
      <!-- <p>Antares Physician Services(APS) is a management company organized for the purpose of providing laboratory and
        other services to physicians.</p> -->

      <p>
        <app-banner></app-banner>
      </p>
    </article>
  </div>
</div>


<div class="body_content">
  <div class="container-fluid no-pad header-gap">
    <h1 class="page-title">Antares Physician Services</h1>
    <h2 class="page-title-secondary"><span>About Us</span></h2>
  </div>

  <div class="container">
    <div class="row contact">
      <div class="all_team">
  
        <div class="about-status" style="font-size: large" [innerHTML]=AllStatus></div>
      </div>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>