<!-- app heder selector-->
<app-main-header></app-main-header>
<!-- app heder selector-->




<div class="text-center pgntfnd">
    <img src="../../../assets/images/page_not_found.jpg" alt="not found" class="img-thumbnail img-responsive">
</div>
<app-main-footer></app-main-footer>