<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->



  <div class="body_content">

    <div class="container-fluid no-pad header-gap">
      <h1 class="page-title">Antares Physician Services</h1>
      <h2 class="page-title-secondary"><span>Supplies</span></h2>
    </div>


    <div class="">
      <div class="row contact">
        <div class="col-sm-12">
          
          <div class="spfrmm">

          <form [formGroup]="FormData" (ngSubmit)="send_supplies_mail()">

            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control " formControlName="email" placeholder="Enter email" value=""
                  readonly="readonly" />
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Do you want supplies sent here?</label>
              <div class="col-sm-10">
                <textarea class="form-control supply_address" formControlName="supplies_address"></textarea>

              </div>
            </div>


            <div class="form-group row" *ngIf="user_role === 'partner'">
              <label class="col-sm-4 col-form-label"> Or send to one of these locations?</label>
              <div class="col-sm-10">
                <select formControlName="physician_address" [(ngModel)]="physi_address"
                  class="form-control supply_address">
                  <option value="">Select physicians Address</option>
                  <option *ngFor="let addr of phy_address" [ngValue]="addr.phy_address">{{addr.phy_address}}</option>
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Or a different address?</label>
              <div class="col-sm-10">
                <textarea class="form-control supply_address" formControlName="diff_address"></textarea>

              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-4 col-form-label"></label>
              <div class="col-sm-10">
                <input type="submit" class="btn btn-primary" value="Submit">
              </div>
            </div>

          </form>
          </div>

        </div>
      </div>
    </div>


  </div>

  <app-footer></app-footer>
</section>