.page-title {
    font-size: 28px;
    color: #6b6b6b;
    text-align: center;
    padding: 0;
    margin: 0;
}
.menu ul li a, .page-title, .sls a {
    font-family: Raleway, sans-serif;
}
.menu ul li a, .page-title, .sls a, .slsout a {
    text-transform: uppercase;
}
.page-title-secondary, .page-title-secondary span {
    font-size: 38px;
    color: red;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}
.page-title-secondary span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 9;
}

.error {
    color: red;
    position: absolute;
}

.page-title {
    font-size: 28px;
    color: #6b6b6b;
    text-align: center;
    padding: 0;
    margin: 0;
}

.page-title-secondary, .page-title-secondary span {
    font-size: 38px;
    color: red;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}
.wp-video {
    border: 1px solid #eee;
}
.body_content {
    padding: 3% 0;
}
.page-title-secondary::before {
    left: 0;
}
.page-title-secondary::after, .page-title-secondary::before {
    border-top: 1px solid #ccc;
    margin-top: 19px;
    position: absolute;
    width: 100%;
    content: "";
}
.page-title-secondary::after {
    right: 0;
}
.page-title-secondary span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 9;
}
.header-gap {
    margin-bottom: 2%;
}
.menu ul li a, .page-title, .sls a, .slsout a {
    text-transform: uppercase;
}

.spfrmm {
    max-width: 800px;
    display: block;
    margin: 0px auto;
}