/* @font-face {
    font-family: Antonio-Regular;
    src: url(../../../assets/fonts/antonioregular.eot);
    src: url(../../../assets/fonts/antonioregular.eot?#iefix) format('embedded-opentype'); 
    src: url(../../../assets/fonts/antonioregular.svg#antonioregular) format('svg'); 
    src: url(../../../assets/fonts/antonioregular.ttf) format('truetype');
    src: url(../../../assets/fonts/antonioregular.woff) format('woff');
    src: url(../../../assets/fonts/antonioregular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

.hdr_btm {
    display: block;
    margin: 0;
    padding: 10px 0 15px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .45);
    -moz-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .45);
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .45);
    height: 85px;
}
.logo h1, .logo h1 a, .menu {
    margin: 0;
}
.for_mobile, .messagepop {
    display: none;
}
.for_desktop {
    display: inherit;
}
.menu {
    display: block;
    padding: 20px 0 0;
    text-align: right;
}
.logo h1, .logo h1 a, .menu {
    margin: 0;
}
.menu ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.forgot, .menu ul li, .top_header ul li {
    vertical-align: top;
}
.menu ul li a {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
}
.logo h1 a, .menu ul li a, .menu ul li li a {
    color: #777;
    display: block;
}
.menu ul li a, .page-title, .sls a {
    font-family: Raleway, sans-serif;
}
.menu ul li a, .page-title, .sls a, .slsout a {
    text-transform: uppercase;
}
.sls {
    display: inline-block;
    margin-top: 23px;
    width: 49%;
}
.sls a {
    font-size: 16px;
    color: red;
    position: relative;
    padding-left: 40px;
}
.menu ul li a, .page-title, .sls a {
    font-family: Raleway, sans-serif;
}
.fa-phone-square::before {
    content: "\f098";
}
.sls .fa-phone-square {
    font-size: 24px;
    margin-right: 8px;
    position: relative;
    top: 3px;
}
.sls a::before {
   background: url('../../../assets/images/login-sign.jpg') left top no-repeat rgba(0, 0, 0, 0);
    content: "";
    right: auto !important;
    left: 0;
    width: 31px;
    z-index: 0;
}
.sls1 a::before {
    background: none;
}
.sls a::before, .slsout a::before {
    bottom: 6px;
    height: 31px;
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
}
.for_desktop ul { padding: 0;}
.for_desktop ul li { cursor: pointer;}
.menu ul li a:hover, .menu ul li a.active {
    color: #777;
    border-bottom: 3px solid red;
}
.login-section li a.active{color: #9d9d9d !important;}
ul.dropdown-list {
    display: none;
}
.menu.for_desktop ul li:hover .dropdown-list {
    display: block;
    position: absolute;
    width: 200px;
    padding: 0px 0;
    top: 52px;
}.dropdown-list{
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    display: none;
    min-width: 197px;
    padding: 12px 11px;
    position: absolute;
    text-align: center;
    z-index: 1;
    border-top: 3px solid red;
    top: 30px;
}

.alert2 {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -1px;
    color: inherit;
}
.modal-body {
    position: relative;
    padding: 15px;
    height: 400px;
    overflow: scroll;
}
.notifications {
       
}       
.notifications   .badge {
        align-items: center;
        background: red none repeat scroll 0 0;
        border-radius: 100%;
        display: flex;
        font-family: lato;
        font-size: 10px;
        font-weight: 600;
        height: 30px;
        justify-content: center;
        position: absolute;
        right: 1px;
        top: 3px;
        width: 30px;
      }
      .notifications a {
          background: transparent;
      }
      .login-section {
        padding: 0;
      }
      a:focus, a:hover {
        color: #23527c;
        text-decoration: none;
      }
      





      @media screen and (max-width:767px) {
        .mob-menu.for_mobile {
            display: block;
        }
        .collapseHide {
            display: none;
        }
        .mob-menu a, .mob-menu a:hover {
            color: red;
          }
          .mob-menu {
            color: red;
            font-family: Raleway,sans-serif;
            font-size: 18px;
            position: relative;
            top: 4px;
          }
          .menu, .mob-menu {
            text-align: right;
          }
          .col-md-5.col-sm-5.abs_p {
            position: absolute;
            right: 0;
            top: 20px;
            left: 0;
          }
          .sls {
            width: auto !important;
            margin-top: 0 !important;
          }
          .sls:last-child {
            margin-left: 60px !important;
          }
          .sls a:before {
            bottom: -4px;
          }
          .menu {
            background: #fff none repeat scroll 0 0;
            border-top: 2px solid red;
            box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.65);
            left: 0;
            margin: 0;
            padding: 20px 0 0;
            position: absolute;
            top: 101px;
            width: 100%;
            z-index: 999999999;
          }
          .menu ul li {
            display: block;
            margin: 0;
            padding: 5px 20px;
            text-align: left;
            vertical-align: top;
          }
          .menu ul li a {
            text-align: left;
          }
          .menu ul li a:hover {
            border-bottom: medium none;
            color: red;
          }
          .active {
            border: none !important;
          }
          
        }  */

/*top-header-start*/
/*top menu start*/
.top-nav {
  display: block;
  margin: 0;
  padding: 25px 0 0;
  text-align: right;
}

.top-nav li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.top-nav li a {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
  padding: 0px 10px;
}
.top-nav li a i{
  color: #0c354a;
}
.top-nav li a:hover {
  text-decoration: none;
}

.top-nav li:hover>ul {
  display: block;
}

.sub-nav {
  display: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  position: absolute;
  text-align: center;
  z-index: 1;
  border-top: 3px solid red;
  top: 20px;
  padding: 12px 0px;
  background: #fff;
  min-width: 200px;
}

.sub-nav li {
  margin-left: 0;
}

.sub-nav li a:hover {
  color: red;
}


/*top menu end*/
.top-header {
  background: #fff;
  height: 85px;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .45);
  padding: 10px 0 15px;
}

.user-frofiletop {
  /* float: right;
  margin-left: 50px;*/
  font-family: 'Lato'; 
  margin-top:5px;
}

.top-notification {
  /* float: right; */
  margin-top: 0px;
}

.top-notification sup {
  /* background: #f00;
  color: #fff;
  padding: 3px 8px;
  border-radius: 13px; */
  color:#fff;
  align-items: center;
  background: red none repeat scroll 0 0;
  border-radius: 100%;
  display: flex;
  font-family: lato;
  font-size: 10px;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: -22px;
  width: 30px;
}

.modal-body {
  position: relative;
  padding: 15px;
  height: 400px;
  overflow: scroll;
}

/*top-header-end*/


.user-frofiletop:hover > ul{
  display: block;
}
.user-frofiletop .sub-nav {
  list-style: none;
  right: 0;
  top:46px;
}
.user-frofiletop .sub-nav li a{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
  padding: 15px 10px;
}
.notfic{
  background: transparent;
}
.notfic:hover{
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
.top-notification sup{
  color:#fff;
  align-items: center;
  background: red none repeat scroll 0 0;
  border-radius: 100%;
  display: flex;
  font-family: lato;
  font-size: 10px;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: -22px;
  width: 30px;
}
.user-frofiletop .sub-nav li a:hover{
  color:red;
  text-decoration: none;
}
