#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-family:"Yanone Kaffeesatz";
    font-family: 44px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #f50519;
}
p.survey_sub_head {
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px !important;
}

.inner_page p {
    margin: 0 0 10px;
    padding: 0;
    color: #5c5c5c;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
p.survey_sub_head1 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 20px;
}
.clear {
    clear: both;
}

.clear, .n_clear {
    clear: both;
}
#form_query .query_qus {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 23px;
}
#form_query .query_qus label {
    width: auto;
    margin-bottom: 15px;
}

label {
    width: 20%;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #5c5c5c;
}
.filter_value, label {
    float: left;
    text-align: left;
}
#form_query select {
    display: block;
    padding: 5px 10px;
    clear: both;
    width: 14%;
}
.contact_form input[type=text], .contact_form input[type=email], .contact_form textarea {
    width: 100%;
}

input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
#form_query .query_qus .frm_fld_text textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    height: 40px;
    font-weight: 600;
}

.contact_form input[type=text], .contact_form input[type=email], .contact_form textarea {
    width: 100%;
}
#form_query .query_qus {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 23px;
}
.survey_sub_head1 {
    font-family: 'Lato', sans-serif !important !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 20px !important;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #f80202!important;
    font-family:"Yanone Kaffeesatz"!important;
    font-weight: 300;
    font-size: 18px;
    border-radius: 2px;
    border: 0;
    padding: 4px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
.inner_banner {
    min-height: 350px;
    background-size: cover!important;
    margin-bottom: 30px;
}

