<!-- app heder selector-->
<app-main-header></app-main-header>
<!-- app heder selector-->



<div class="content-wrap">
	<div class="container">
		<div id="primary" class="content-area col-md-12">
			<div class="card-header">
				<div class="card-title">
					<div class="title">
						<h1>Survey</h1>

						<p class="survey_sub_head">We appreciate your feedback so we can continually improve your
							experience. Please
							take a moment to answer these questions anonymously:
						</p>
					</div>
					<p class="survey_sub_head1">One a scale of 1 to 5 (5 being the best):</p>
				</div>
			</div>
			<div id="succmsg" class="alert alert-success alert-dismissable"
				style="display: none; color:#1abc07; font-size:16px;"></div>
			<p class="clear"></p>
			<div class="clearfix"></div>
			<div class="contact_form">
				<form id="form_query" class="lwa-form" [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
					<div class="query_qus">
						<label>How satisfied are your with the support your received?</label>
						<select id="survey_option1" formControlName="option1">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<div class="clear"></div>
					</div>
					<div class="query_qus">
						<label>How responsive were we to your inquiries?</label>
						<select id="survey_option2" formControlName="option2">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<div class="clear"></div>
					</div>

					<div class="query_qus">
						<label>How satisfied are you with the diagnosis reports (for physicians)?</label>
						<select id="survey_option3" formControlName="option3">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<div class="clear"></div>
					</div>

					<div class="query_qus">
						<label>How satisfied are you with the turnaround time?</label>
						<select id="survey_option4" formControlName="option4">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="query_qus">
						<label>Overall, how was your experience?</label>
						<select id="survey_option5" formControlName="option5">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<div class="clear"></div>
					</div>
					<div class="query_qus">
						<div class="frm_fld_text">
							<label>Enter your email so we can get back to you (optional):</label>
							<input type="email" id="email" placeholder="Enter Your Email Address"
								formControlName="email" />
						</div>
						<div class="clear"></div>
					</div>
					<div style="float: right" class="query_qus" [ngClass]="displayFieldCss('answer_survey')">
						<div class="frm_fld_text">
							<textarea id="form6" placeholder="Anything else you’d like to tell us?"
								formControlName="answer_survey"></textarea>
						</div>
						<app-field-error-display [displayError]="isFieldValid('answer_survey')"
							errorMsg="Please enter description.">
						</app-field-error-display>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>
					<div class="query_button">
						<input type="submit" value="submit" formControlName="submit" />
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

<app-main-footer></app-main-footer>