<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <div class="content-wrap">
    <div class="">
      <div id="primary" class="content-area col-md-12 abs_resl">
        <div class="card-header">
          <div class="card-title">
            <div class="title">
              <h1>Physician Billing Input</h1>
            </div>
          </div>
        </div>
        <div style="padding-bottom: 5px; padding-top: 5px;">
          <div class="specimen_border">
            <div class="">
              <div class="">

                <form [formGroup]="searchForm" (ngSubmit)="searchByName()">
                  <div class="col-md-2 entre_name speciman_top">
                    <div id="search_value_holder" style="margin-left: 0">
                      <input type="text" formControlName="serach_physician_name" class="form-control"
                        placeholder="Search Physician">
                    </div>
                  </div>

                  <div class="col-md-2 no_padding3">
                    <input type="submit" value="Search" class="btn btn-success">
                  </div>
                  <div class="col-md-1 reset_btn no_padding3"> <a href="javascript:void(0);" (click)="ngOnInit();"
                      class="btn btn-info"><i class="fa fa-repeat"></i> Reset</a></div>
                </form>
                <div class="col-md-2 no_padding3">
                  <input type="text" placeholder="Quick Search" class="form-control"
                    (keyup)='search_filter($event.target.value)'>
                </div>

                <div class="col-md-2 entre_name speciman_top">
                  <div id="search_value_holder" style="margin-left: 0">

                    <input type="text" class="form-control" placeholder="Last Updated Date (Y-M-D)" bsDatepicker
                      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }" #lastDate readonly>

                  </div>
                </div>

                <div class="col-md-2 no_padding3">
                  <button class="btn btn-success" (click)="dataEntryUpdateDate(lastDate.value)">Update</button>
                </div>


              </div>
            </div>
          </div>
        </div>


        <div style="padding-bottom: 5px; padding-top: 5px;">
          <div class="specimen_border">
            <div class="">
              <p>Import Fees Data</p>
              <div class="">
                  <div class="col-md-3 no_padding3" style="padding: 0;">
                    <select #commissionYear name="year" class="form-control" [(ngModel)]="dataEntryYear" (change)="chooseNewYear($event)">
                      <option value="">Year</option>
                      <option *ngFor="let year of allyear" value="{{year}}">{{year}}</option>
                    </select>
                  </div>

                  <div class="col-md-3 no_padding3" style="padding-right: 0;">
                    <select #commissionMonth name="month" class="form-control">
                      <option value="">Month</option>
                      <!-- <option value="{{item}}" *ngFor="let item of userDetails.allMonths" [ngValue]="item"> -->
                      <option value="{{item}}" *ngFor="let item of displayMonth(dataEntryYear) "
                        [ngValue]="item">
                        {{item}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3 no_padding3" style="padding-right: 0;">
                    <input #xlFile type="file" name="files[]" multiple id="jsonFile" accept=".xlsx"
                    (change)="incomingfile($event)" class="form-control" />
                  <span style="display: block; font-size:13px; font-weight:600; padding: 2px 5px 0 5px;">Note: Please upload
                    .xlsx file format only.</span>
                  </div>
                  <div class="col-md-3 no_padding3">
                    <button class="btn btn-success" (click)="importCommisionData()">Import</button>
                  </div>

              </div>
            </div>
          </div>
        </div>


        <div class="row import_status" *ngIf="msg=='Data Updated.'">
          <div class="col-md-12">
          <h4>Import Status</h4>
        </div>
          <div class="col-md-6">
            <p>Success Status</p>
            <table class="import_status_table">
              <tr>
                <th>Physician Name</th>
                <th>Charged Amount</th>
                <th>Collected Amount</th>
              </tr>
              <tr *ngFor = "let item of successfull_import">
                <td>{{item.physician_name}}</td>
                <td>{{item.total_charges}}</td>
                <td>{{item.total_payment}}</td>
              </tr>

            </table>
          </div>
          <div class="col-md-6">
            <p>Error Status</p>
            <table class="import_status_table">
              <tr>
                <th>Physician Name</th>
                <th>Charged Amount</th>
                <th>Collected Amount</th>
              </tr>
              <tr *ngFor = "let item of error_import">
                <td>{{item.physician_name}}</td>
                <td>{{item.total_charges}}</td>
                <td>{{item.total_payment}}</td>
              </tr>

            </table>
          </div>
        </div>
        <p class="clear"></p>
        <div class="clearfix"></div>
        <div class="table-responsive">
          <table class="display table table-responsive table-bordered" style="width:100%" [mfData]="data"
            #mf="mfDataTable" [mfRowsOnPage]="10">

            <thead>
              <tr class="users_list">
                <th>
                  <mfDefaultSorter by="full_name">Physician Name</mfDefaultSorter>
                </th>
                <th>Year</th>
                <th>Month</th>               
                <th>Charged Amount</th>
                <th>Collected Amount</th>
              </tr>
            </thead>
            <tbody *ngIf="!notFount">
              <tr
                *ngFor="let userDetails of mf.data | searchPipe: {full_name: searchText, charged_amount : searchText, paid_amount : searchText}; trackBy: trackByFn">

                <td valign="middle">
                  <div>{{userDetails.full_name}}</div>
                </td>
                <td valign="middle">
                  <div>
                    <select name="year" class="form-control"
                      (change)="commission_data_update($event.target.value,  userDetails.physician_id, '_year')"
                      [(ngModel)]="userDetails.commission_year">
                      <option value="">Year</option>
                      <option *ngFor="let year of allyear" value="{{year}}">{{year}}</option>
                    </select>
                  </div>
                </td>
                <td valign="middle">
                  <div class="float_l">
                    <select name="month" class="form-control"
                      (change)="commission_data_update($event.target.value,  userDetails.physician_id, '_month')"
                      [(ngModel)]="userDetails.commission_month">
                      <option value="">Month</option>
                      <!-- <option value="{{item}}" *ngFor="let item of userDetails.allMonths" [ngValue]="item"> -->
                      <option value="{{item}}" *ngFor="let item of displayMonth(userDetails.commission_year) "
                        [ngValue]="item">
                        {{item}}
                      </option>
                    </select>
                  </div>
                </td>            
                <td valign="middle">
                  <div>
                    <label>
                      <ng-template #amount_data>
                        <a (click)="charged_toggle(userDetails.physician_id);">
                          ${{userDetails.charged_amount != "" ? userDetails.charged_amount : "00.00"}}
                        </a>
                      </ng-template>
                      <ng-container *ngIf="show_commission_data === userDetails.physician_id; else amount_data">
                        <input type="text" #charged_amount [(ngModel)]="userDetails.charged_amount"
                          (blur)="commission_data_update(charged_amount.value, userDetails.physician_id, 'chargedamt')"
                          pattern="^[1-9]\d*(\.\d+)?$">
                      </ng-container>
                    </label>
                  </div>
                </td>
                <td valign="middle">
                  <label>
                    <ng-template #paid_amount_data>
                      <a (click)="paid_toggle(userDetails.physician_id);">
                        ${{userDetails.paid_amount != "" ? userDetails.paid_amount : "00.00"}}
                      </a>
                    </ng-template>
                    <ng-container *ngIf="show_paid_data === userDetails.physician_id; else paid_amount_data">
                      <input type="text" #paid_amount [(ngModel)]="userDetails.paid_amount"
                        (blur)="commission_data_update(paid_amount.value, userDetails.physician_id, 'paidamt')"
                        pattern="^[1-9]\d*(\.\d+)?$">
                    </ng-container>
                  </label>
                </td>
              </tr>
            </tbody>

            <tbody id="display_regional_manager_list" *ngIf="notFount">
              <tr id="no_data_found" class="text-center">
                <td colspan="12">
                  <h3>No data found</h3>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Physician Name</th>
                <th>Year</th>
                <th>Month</th>               
                <th>Charged Amount</th>
                <th>Collected Amount</th>
              </tr>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>


        <br />
        <div class="show_physician_list"><strong><span style="color: #28a4c9">Financial information last updated
              {{last_data_entry_date | date: 'MMMM dd, yyyy'}}</span></strong>
        </div>

        <div class="show_physician_list">Total Physicians: <strong><span style="color: #28a4c9">&nbsp;
              {{physicians_count}}</span></strong>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>