.addbttn1{
    background: #ff0000;
    border: 1px solid #ff0000;
    height: 33px;
    line-height: 24px;
    font-size: 16px;
    border-radius: 0px;
    margin-left: 3px;
  }
  .no_pad{
    padding: 0;
  }

  .import_status_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .import_status_table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .import_status_table tr:nth-child(even) {
    background-color: #f7f7f7;
  }