@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Raleway:400,500|Yanone+Kaffeesatz&display=swap');
/*left-panelcss start*/
.left-panel{background: #252525;}
.left-logo {text-align: center;padding: 20px 0;border-bottom: 1px solid #4a4a4a;width: 100%;margin-bottom: 40px;}
.dashleft-menu li a{color: #fff;font-weight: normal;font-size: 17px;font-family: 'Yanone Kaffeesatz';}
.dashleft-menu li:hover{background: #ff0000; text-decoration: none; cursor: pointer;}
.dashleft-menu li a:hover {text-decoration: none;}
.dashleft-menu li.active{background: #ff0000;}
.dashleft-menu li i{width: 20px;color: #fff;margin-right: 20px;}
.dashleft-menu li {line-height: 40px;list-style: none;width: 100%;display: inline-block;padding-left: 20px;}
.dashleft-menu {margin-left: 0;padding-left: 0;}
/*left-panelcss end*/

/*right-panel-start*/
.right-panel{background: #f0f0f0;}
/*top-header-start*/
/*top menu start*/
.top-nav {display: inline-block;margin: 10px 0 0 70px; padding: 0;}
.top-nav li {list-style: none; display: inline-block;position: relative;margin-left: 20px;}
.top-nav li a{font-family: 'Raleway', sans-serif;text-transform: uppercase;color: #777;font-size: 14px;padding: 15px 10px;}
.top-nav li a:hover{text-decoration: none;}
.top-nav li:hover > ul{display: block;}
.sub-nav {display: none;box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);position: absolute; text-align: center;z-index: 1; border-top: 3px solid red;top: 30px;padding: 12px 0px; background: #fff; min-width: 200px;}
.sub-nav li{margin-left: 0;}
.sub-nav li a:hover{color: red;}


/*top menu end*/
.top-header{background: #fff;box-shadow: 0px 0px 8px;padding: 10px 0;}
.user-frofiletop{float: right;margin-left: 50px;font-family: 'Lato';}
.top-notification{float: right;margin-top: 10px;}
.top-notification sup{background: #f00; color: #fff; padding: 3px 8px;border-radius: 13px;}
/*top-header-end*/
/*top-tittle*/
.tittle-top{font-family: 'Lato';background: #ffffff;width: 100%;margin-top: 30px;padding: 10px 25px;color: #252525;font-size: 22px;}
/*top-article*/
.article-top{font-family: 'Lato';width: 100%;margin-top: 30px;padding: 10px 25px;color: #252525;font-size: 30px;border-bottom: 1px solid #c3c3c3;margin-bottom: 16px;}
.article-top p{font-family: 'Lato';width: 100%;margin-top: 30px;color: #252525;font-size: 18px;line-height: 26px;margin-top: 0;}
/*table-section*/
.table-header{font-family: 'Lato';width: 100%;padding: 10px 25px;color: #252525;font-size: 28px;}
.table-header span{font-weight: bold;}
.tabletop-header{font-family: 'Lato';width: 100%;padding: 7px 10px;color: #fff;font-size: 18px;background: #ff0000;}
.tablemain-wrap {background: #fff;margin-top: 20px;}
.maintbl-wrap{padding: 20px;}
.maintbl-wrap table{background: #f0f0f0; width: 100%;}
.maintbl-wrap table tr td{color: #252525;font-size: 14px;padding: 5px;text-align: center; border-bottom: 2px solid #fff;}
.tbl-map img{width: 100%; height: auto;}
.main-brdr{margin-bottom: 20px;}
.big-graph img{width: 100%; height: auto;}
.tablemain-wrap h5{color: #1a2930;font-family: 'Lato'; font-size: 28px; line-height: 33px; text-align: center;}
.tablemain-wrap h6{color: #ff0000;font-family: 'Lato'; font-size: 37px; line-height:28px; text-align: center;font-weight: bold;}
.mapbg{background: url('../img/1.jpg') no-repeat bottom center; background-size: cover; padding-top: 2px;height: 279px; margin-top: 20px;}
/*report-generater*/
.sales-rpt{margin: 50px 0 40px;}
.sales-rpt h3{font-family: 'Lato';width: 100%;padding: 10px;color: #252525;font-size: 28px;}
.sales-rpt h3 span{font-weight: bold;}
.report-drp{font-family: 'Lato';width: 30%;padding: 10px;color: #252525;font-size: 15px;background: #dedede; border: 1px solid #ccc;}
.rpt-date {font-family: 'Lato';width: 31%;padding: 8px;color: #252525;font-size: 15px;background: #dedede; border: 1px solid #ccc;float: right;margin-left: 10px;position: relative;}
/*.rpt-date:before{content: "\f073"; position: absolute;z-index: 1; right: 10px;top:10px;font-family: 'FontAwesome';}*/
.repot-fltr {padding: 0 10px;}
.big-graph{padding: 0 25px;}
.admin-footer p{font-weight: 400 ; line-height: 22px; font-size: 16px;color: #777;font-family: 'Lato';text-align: center;margin-top: 30px;}
.brtp{border-bottom: 1px solid #c3c3c3;}

