@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");

.edit_patner_border {
  border: 1px solid #000;
  padding: 30px 20px;
  border-radius: 0px 0px 3px 3px;
  margin-bottom: 30px;
}
.edit_patner_hedding {
  margin-bottom: 0px !important;
  border-radius: 3px 3px 0px 0px;
  padding-left: 20px !important;
}

.black-overlay {
  position: fixed !important;
}
.loading-text {
  position: fixed !important;
}
.content-wrap {
  padding-top: 15px !important;
}
.col-md-2.col-sm-2.dashboard_log {
  width: auto !important;
}
.dashboard_log a:before {
  right: 55px !important;
}
.inner_dash .card-title .title h1::after {
  background: red none repeat scroll 0 0;
  content: "";
  display: block;
  height: 3px;
  margin: 5px 0 0;
  padding: 0;
  width: 9%;
}
.inner_dash .card-title .title h1 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #444;
  font-family: "Yanone Kaffeesatz";
  font-size: 44px;
  font-weight: 400;
  margin: 20px 0;
  padding: 0 0 4px;
  text-transform: capitalize;
  position: relative;
}
.inner_dash .specimen_border {
  align-items: center;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 12px;
  position: relative;
  width: 100%;
}
.specimen_border .col-md-2,
.specimen_border .col-md-1 {
  padding-left: 2px;
  padding-right: 2px;
}
.inner_dash #status {
  width: 100%;
}
.speciman_top .form-control {
  background: #f7f7f7
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) repeat
    scroll 0 0;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #999;
  display: inline-block;
  font-size: 12px;
  margin-left: 0;
  padding: 8px;
  vertical-align: middle;
  width: 100%;
}
.inner_dash .btn-primary,
.reset_button,
input[type="submit"],
.specimen_border a {
  background: #424242 none repeat scroll 0 0;
  border: 1px solid #424242;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: "Yanone Kaffeesatz";
  font-size: 16px;
  font-weight: 400;
  height: 33px;
  padding: 6px 15px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  line-height: 1;
  margin-right: 5px;
}

body {
  color: #333;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}
.users_list {
  background: #424242 none repeat scroll 0 0;
  color: #fff;
}
a.text-nowrap {
  color: #fff;
  text-decoration: none;
}
.show_physician_list {
  border-bottom: 1px dashed #ccc;
  display: inline-block;
  margin: 0;
  padding: 10px;
  width: 100%;
}
/*table .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  margin-left: 5px !important;
  border-radius: 3px !important;
}
table .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-left: 5px !important;
  border-radius: 3px !important;
}
table .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  border-radius: 3px !important;
}
table .btn-primary {
  background-color: #337ab7;
  border-radius: 3px;
  color: #fff;
}*/
.btn-primary,
.reset_button,
input[type="submit"] {
  background: #424242 none repeat scroll 0 0;
  border: 1px solid #424242;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  font-weight: 300;
  font-family: "Yanone Kaffeesatz";
  height: 33px;
  padding: 6px 15px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  /* margin-bottom:25px; */
}

.modal-content {
  margin-top: 50% !important;
  transform: translate(0, -50%) !important;
}
.physician_details {
  background: #f7f7f7;
  height: 70px;
  margin-bottom: 2px;
  margin-right: 2%;
  padding: 0 0 0 18px;
  width: 48% !important;
}
.form label {
  width: 50%;
  float: left;
}
.form div.box {
  font: 600 13px Lato !important;
  width: 49%;
  float: left;
  padding: 0 !important;
}
.form-group,
.view_form-group {
  display: inline-block;
  margin: 15px auto;
  width: 100%;
}
.table-responsive {
  min-height: 0.01%;
  overflow-x: hidden;
}
.pagination {
  padding-left: 0;
  margin: 0px 0 20px !important;
  border-radius: 4px;
}
.card-title .title h1 {
  background: rgba(0, 0, 0, 0);
  color: #444;
  font-family: "Yanone Kaffeesatz";
  font-weight: 400;
  font-size: 44px;
  margin: 20px 0;
  padding: 0 0 4px;
  text-transform: capitalize;
}
.card-title .title h1:after {
  background: red;
  content: "";
  display: block;
  height: 3px;
  margin: 5px 0 0;
  padding: 0;
  width: 9%;
}
.specimen_border {
  border: 1px solid #ccc;
  padding: 10px 12px;
  align-items: center;
  display: inline-block;
  width: 100%;
  position: relative;
}
.dropdown-list li a:hover {
  border: none !important;
}
.footer-address li {
  display: flex;
  align-items: center;
}
.footer-address li i {
  margin-right: 10px;
}
.footer-address li p {
  margin: 0;
  line-height: 1;
}
.dropdown-list {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: block;

  padding: 12px 5px !important;
  position: absolute;
  text-align: center;
  z-index: 1;
  border-top: 3px solid red;
}
.menu .dropdown-list a {
  font-size: 13px !important;
  border: none;
  margin: 0 !important;
}
.menu .dropdown-list a:hover {
  color: red !important;
}
.table.table-condensed.table-bordered.listing_table td a {
  color: #282828;
  font-size: 14px;
}
.table.table-condensed.table-bordered.listing_table td a i {
  margin-right: 8px;
}
.active a.page-link {
  color: #fff !important;
}
.creditgroup {
  display: none;
}

.about-status h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.about-status p {
  color: grey !important;
  font-family: Lato, sans-serif !important;
  line-height: 25px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .slider article {
    width: 100% !important;
  }
}

.panel-heading .panel-title {
  font-size: 30px !important;
}

.conttnt {
  margin-top: 50px;
  min-height: 700px;
}
.news_sumbit {
  margin-top: 20px;
}
.addbttn {
  background: #ff0000;
  border: 1px solid #ff0000;
  height: 35px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 0px;
  margin-left: 3px;
}
.cdk-overlay-pane {
  position: relative !important;
  z-index: 9999;
  background: #fff;
  bottom: 0 !important;
}
.cdk-overlay-container {
  height: 0;
}
.mat-option.mat-active {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
}

.mat-option {
  height: 40px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}
.llc-corporation-label {
  width: 100% !important;
}
.mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled),
.mat-option:hover:not(.mat-option-disabled) {
  background: rgba(0, 0, 0, 0.04);
}

.user-frofiletop .sub-nav li a:hover {
  color: red;
  text-decoration: none;
}
.content-area {
  min-height: 600px;
}

/**responsive_css_9.9.19**/

@media only screen and (max-width: 1199px) {
  .menu ul li a {
    font-size: 13px;
    padding: 0 5px;
  }
}

/**mycss_16.9.19**/

.maintbl-wrap table tr td span {
  width: 50%;
  display: table;
  float: left;
  text-align: left;
}

.maintbl-wrap table tr td span:first-child {
  border-right: 1px solid #000;
  text-align: left;
}

.maintbl-wrap table tr td span:last-child {
  text-align: center;
}
div#container-2 {
  position: relative;
}
/* .fc__tooltip.fusioncharts-div{
  top: 20% !important;
  overflow-y: auto !important;
  height: 500px !important;
  display: block !important;

} */



