<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->



  <div id="primary" class="content-area conttnt">
    <div class="row">
      <div class="col-md-6">
        <!-- Chart Component -->
        <fusioncharts width="500" height="300" type="pie3d" [dataSource]=dataSource>
        </fusioncharts>

      </div>

      <div class="col-md-6">
        <!-- Chart Component -->
        <fusioncharts width="500" height="300" type="pie3d" [dataSource]=dataSource2>
        </fusioncharts>

      </div>
    </div>

    <!-- https://www.fusioncharts.com/angular2-js-charts
        https://www.npmjs.com/package/angular.piechart -->
  </div>
  <app-footer></app-footer>
</section>