<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  fullScreen="true"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <div class="content-wrap">
    <div class="">
      <div id="primary" class="content-area col-md-12">
        <div id="registration-form" class="form">
          <form [formGroup]="FormData" (ngSubmit)="add_data()">
            <div class="bg-primary heading edit_patner_hedding">
              Add Data Collectors
            </div>
            <div class="edit_patner_border">
              <div class=" row">
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >First Name :&nbsp;<span>*</span></label
                    >
                    <input
                      type="text"
                      formControlName="first_name"
                      class="form-control required"
                      placeholder="Enter First Name"
                    />
                    <div
                      *ngIf="
                        FormData.controls['first_name'].touched &&
                        !FormData.controls['first_name'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['first_name'].hasError('required')
                        "
                        class="error"
                        >First name is required</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Last Name :&nbsp;<span>*</span></label
                    >
                    <input
                      type="text"
                      formControlName="last_name"
                      class="form-control"
                      placeholder="Enter Last Name"
                    />

                    <div
                      *ngIf="
                        FormData.controls['last_name'].touched &&
                        !FormData.controls['last_name'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['last_name'].hasError('required')
                        "
                        class="error"
                        >Last name is required</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >User Name :&nbsp;<span>*</span></label
                    >
                    <input
                      type="text"
                      formControlName="user_login"
                      class="form-control"
                      placeholder="Enter User Name"
                    />

                    <div
                      *ngIf="
                        FormData.controls['user_login'].touched &&
                        !FormData.controls['user_login'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['user_login'].hasError('required')
                        "
                        class="error"
                        >User Name is required</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Email :&nbsp;<span>*</span></label
                    >
                    <input
                      type="email"
                      formControlName="user_email"
                      class="form-control"
                      placeholder="Enter Email"
                      pattern="[a-zA-Z-0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    />

                    <div
                      *ngIf="
                        FormData.controls['user_email'].touched &&
                        !FormData.controls['user_email'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['user_email'].hasError('required')
                        "
                        class="error"
                        >Email is required</span
                      >
                      <span
                        *ngIf="
                          FormData.controls['user_email'].hasError('pattern')
                        "
                        class="error"
                        >Invalid Email address</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label
                      >User Password :(<small>For ex. Ability@1234</small
                      >)</label
                    >
                    <input
                      type="password"
                      formControlName="user_pass"
                      class="form-control"
                      placeholder="Enter User Password"
                    />

                    <div
                      *ngIf="
                        FormData.controls['user_pass'].touched &&
                        !FormData.controls['user_pass'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['user_pass'].hasError('required')
                        "
                        class="error"
                        >Password is required</span
                      >
                      <!-- <span
                        *ngIf="
                          FormData.controls['user_pass'].hasError('minlength')
                        "
                        class="error"
                        >Password minimum 6 characters</span
                      > -->
                      <span
                        *ngIf="
                          FormData.controls['user_pass'].hasError('pattern')
                        "
                        class="error"
                        >Password MUST contain at least 8 characters (one
                          digit, one lower case, one upper case, and one special
                          characters (!@#$%^&*))</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>Confirm Password :</label>
                    <input
                      type="password"
                      formControlName="con_pass"
                      class="form-control"
                      placeholder="Enter Confirm Password"
                    />

                    <div
                      *ngIf="
                        FormData.controls['con_pass'].touched &&
                        !FormData.controls['con_pass'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['con_pass'].hasError('required')
                        "
                        class="error"
                        >Confirm Password is required</span
                      >
                      <span
                        *ngIf="
                          FormData.controls['con_pass'].hasError('equalTo')
                        "
                        class="error"
                        >Password does not match.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Phone :</label>
                    <input
                      type="tel"
                      formControlName="mobile"
                      class="form-control"
                      placeholder="XXX-XXX-XXXX OR XXXXXXXXXX"
                      mask="000-000-0000"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Website :</label>
                    <input
                      type="text"
                      formControlName="user_url"
                      class="form-control"
                      placeholder="http://www.example.com"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">
                      Bank Routing Number :</label
                    >
                    <input
                      type="text"
                      formControlName="brn"
                      class="form-control"
                      placeholder=" Bank Routing Number"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Bank Account Number :</label
                    >
                    <input
                      type="text"
                      formControlName="ban"
                      class="form-control"
                      placeholder="Bank Account Number"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Name on Bank Account :</label
                    >
                    <input
                      type="text"
                      formControlName="nbaccount"
                      class="form-control"
                      placeholder="Name on Bank Account"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">
                      Commission percentage(%) :</label
                    >
                    <input
                      type="text"
                      formControlName="commission_percentage"
                      class="form-control"
                      placeholder="Commission percentage"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Address :</label>
                    <textarea
                      formControlName="address"
                      class="form-control"
                      placeholder="Enter Address"
                    ></textarea>
                  </div>
                </div>

                <ng-container
                  *ngIf="
                    user_role === 'aps_sales_manager' ||
                    user_role === 'data_entry_oparator'
                  "
                >
                  <div class="col-md-6 no_padding">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Regional Manager :</label>
                      <select
                        formControlName="regional_manager"
                        class="form-control"
                      >
                        <option value="">Select Regional Manager</option>
                        <option
                          *ngFor="let regi of RegionalManagerList"
                          value="{{ regi.id }}"
                          >{{ regi.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-container>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Is your company an LLC or Corporation (if applicable)? :
                      &nbsp;&nbsp;</label
                    >
                    <input
                      type="radio"
                      value="llc"
                      formControlName="llc"
                      [(ngModel)]="llc"
                      (change)="ein_no('llc')"
                    />
                    LLC
                    <input
                      type="radio"
                      value="corporation"
                      formControlName="llc"
                      [(ngModel)]="llc"
                      (change)="ein_no('corporation')"
                    />
                    Corporation

                    <div *ngIf="ein">
                      <label>EIN number</label>
                      <input
                        type="text"
                        formControlName="ein_num"
                        class="form-control"
                        placeholder="EIN number"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="status" class="new-status"
                      >Status :&nbsp;</label
                    >
                    <input
                      type="radio"
                      value="Active"
                      [(ngModel)]="user_status"
                      formControlName="user_status"
                    />
                    Active
                    <input
                      type="radio"
                      value="Inactive"
                      [(ngModel)]="user_status"
                      formControlName="user_status"
                    />
                    Inactive
                  </div>
                </div>

                <div class="clear"></div>

                <div
                  class="col-md-1 no_padding2"
                  align="left"
                  style="margin-top:25px;"
                >
                  <a
                    href="javascript:void(0);"
                    onclick="window.history.back()"
                    class="btn btn-primary"
                  >
                    << Back</a
                  >
                </div>
                <div
                  class="col-md-2 no_padding1 pull-left"
                  align="left"
                  style="margin-top:25px; margin-left:10px; padding:0 !important"
                >
                  <input
                    type="submit"
                    [disabled]="!FormData.valid"
                    class="btn btn-primary"
                    name="submit"
                    value="ADD"
                  />
                </div>

                <div class="clear">&nbsp;</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
