.page-title span.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: red;
  text-align: center;
  margin: 0;
  position: relative;
  padding: 0 10px;
  background: #fff;
}

.newsletter_userlist {
  border: 2px solid #ccc;
  height: 340px;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 15px;
  width: 63%;
  position: relative;
}

input.ng-invalid.ng-touched {
  border-color: red;
}
.error {
  color: red;
  position: relative;
}
.page-title span.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: red;
  text-align: center;
  margin: 0;
  position: relative;
  padding: 0 10px;
  background: #fff;
}
.side-body .page-title:before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: #ccc solid 1px;
  margin-top: 19px;
  left: 0;
}
.card .card-body .form-group select {
  border: #ccc solid 1px;
  padding: 5px 10px;
  width: 30%;
}
.page-title {
  font-size: 28px;
  color: #6b6b6b;
  text-align: center;
  padding: 0;
  margin: 0;
}
.side-body {
  padding: 3% 0;
}
.card .card-body label {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: auto;
  margin-right: 25px;
  padding-left: 5px;
}
.form-group,
.view_form-group {
  display: flex;
  margin: 15px auto;
  width: 100%;
  align-items: center;
}
.card .card-body form {
  margin-top: 50px;
}
/**mycss_19.8.19**/

.addbttn {
  background: #ff0000;
  border: 1px solid #ff0000;
  height: 35px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 0px;
  margin-left: 3px;
}
.newsletter_userlist ul {
  list-style: none;
  padding: 0px;
}
.role-select {
  padding: 10px 20px;
  background: #eee;
}
.newsletter_userlist li {
  margin: 0px 10px;
  border-bottom: 1px solid #eee;
  padding: 7px 0px;
}
.newsletter_userlist h4 li {
  border-bottom: 0px;
}
.news_newsletter h2 {
  font-size: 20px;
  font-weight: 600;
}
