<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  fullScreen="true"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <div id="primary" class="content-area">
    <!-- <div id="registration-form" class="form"> -->
    <div class="side-body">
      <div class="page-title">
        <span class="title">NewsLetter</span>

        <div *ngIf="succMessage" class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close"
            >×</a
          >
          <strong>{{ succMessage }}</strong>
        </div>

        <div *ngIf="errMessage" class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close"
            >×</a
          >
          <strong>{{ errMessage }}</strong>
        </div>

        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="FormData" (ngSubmit)="send_newsletter()">
                <div class="form-group role-select">
                  <label>Select Role :</label>

                  <select
                    formControlName="role"
                    class="form-control"
                    [(ngModel)]="role"
                    (change)="show_phy_list($event.target.selectedIndex)"
                  >
                    <option value="">Select Role</option>
                    <option [value]="physician">Physician</option>
                    <option [value]="sales">Data Collectors</option>
                  </select>
                  <div
                    *ngIf="
                      FormData.controls['role'].touched &&
                      !FormData.controls['role'].valid
                    "
                  >
                    <span
                      *ngIf="FormData.controls['role'].hasError('required')"
                      class="error"
                      >Role is required</span
                    >
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="col-md-8">
                  <!-- show physician -->
                  <div class="newsletter_userlist" *ngIf="physician_list">
                    <ul>
                      <h4>
                        <li>
                          <input
                            type="checkbox"
                            [checked]="toggle"
                            (click)="toggleAllPhy()"
                          />
                          Select All Physician
                        </li>
                      </h4>
                      <li *ngFor="let phy of physician">
                        <input
                          type="checkbox"
                          [checked]="phy.checked"
                          (change)="togglePhysican(phy)"
                        />
                        {{ phy.phy_name }}
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- show sales representative -->
                <div class="newsletter_userlist" *ngIf="sales_represent">
                  <ul>
                    <h4>
                      <li>
                        <input
                          type="checkbox"
                          [checked]="toggle2"
                          (click)="toggleAllSales()"
                        />
                        Select All Data Collectors
                      </li>
                    </h4>
                    <li *ngFor="let sal of sales">
                      <input
                        type="checkbox"
                        [checked]="sal.checked"
                        (change)="toggleSales(sal)"
                      />
                      {{ sal.sal_name }}
                    </li>
                  </ul>
                </div>
                <div class="col-md-8">
                  <div class="news_newsletter">
                    <h2>Newsletter Content</h2>
                    <div>
                      <ck-editor
                        formControlName="news_content"
                        skin="moono-lisa"
                        language="en"
                        required
                      ></ck-editor>
                    </div>

                    <div
                      *ngIf="
                        FormData.controls['news_content'].touched &&
                        !FormData.controls['news_content'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['news_content'].hasError('required')
                        "
                        class="error"
                        >Newsletter Content is required</span
                      >
                    </div>

                    <div class="news_sumbit">
                      <input
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!FormData.valid"
                        value="Send"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <app-footer></app-footer>
</section>
