/* You can add global styles to this file, and also import other style files */
.raphael-group-18-creditgroup{
    display: none;
  }
 .raphael-group-28-creditgroup{
    display: none;
  }
 .raphael-group-8-creditgroup {
    display: none;
  }
