<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  fullScreen="true"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <div class="content-wrap">
    <div class="">
      <div id="primary" class="content-area col-md-12">
        <div id="registration-form" class="form">
          <div
            *ngIf="succMessage"
            class="alert alert-success alert-dismissable"
          >
            <a href="#" class="close" data-dismiss="alert" aria-label="close"
              >×</a
            >
            <strong>{{ succMessage }}</strong>
          </div>

          <div *ngIf="errMessage" class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"
              >×</a
            >
            <strong>{{ errMessage }}</strong>
          </div>

          <form [formGroup]="edit_partner" (ngSubmit)="update_data()">
            <div class="bg-primary heading edit_patner_hedding">
              Edit Partner
            </div>
            <div class="edit_patner_border">
              <div class="row">
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >First Name :&nbsp;<span>*</span></label
                    >

                    <input
                      type="text"
                      formControlName="first_name"
                      class="form-control required"
                      placeholder="Enter First Name"
                    />
                    <div
                      *ngIf="
                        edit_partner.controls['first_name'].touched &&
                        !edit_partner.controls['first_name'].valid
                      "
                    >
                      <span
                        *ngIf="
                          edit_partner.controls['first_name'].hasError(
                            'required'
                          )
                        "
                        class="error"
                        >First name is required</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Last Name :&nbsp;<span>*</span></label
                    >
                    <input
                      type="text"
                      formControlName="last_name"
                      class="form-control"
                      placeholder="Enter Last Name"
                    />
                    <div
                      *ngIf="
                        edit_partner.controls['last_name'].touched &&
                        !edit_partner.controls['last_name'].valid
                      "
                    >
                      <span
                        *ngIf="
                          edit_partner.controls['last_name'].hasError(
                            'required'
                          )
                        "
                        class="error"
                        >Last name is required</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >User Name :&nbsp;<span>*</span></label
                    >
                    <input
                      type="text"
                      formControlName="user_login"
                      class="form-control"
                      readonly="readonly"
                      placeholder="Enter User Name"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Email :&nbsp;<span>*</span></label
                    >
                    <input
                      type="email"
                      formControlName="user_email"
                      class="form-control"
                      [readonly]="
                        userRole !== 'aps_sales_manager' &&
                        userRole !== 'data_entry_oparator'
                      "
                      placeholder="Enter Email"
                      pattern="[a-zA-Z-0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    />
                    <div
                      *ngIf="
                        edit_partner.controls['user_email'].touched &&
                        !edit_partner.controls['user_email'].valid
                      "
                    >
                      <span
                        *ngIf="
                          edit_partner.controls['user_email'].hasError(
                            'required'
                          )
                        "
                        class="error"
                        >Email is required</span
                      >
                      <span
                        *ngIf="
                          edit_partner.controls['user_email'].hasError(
                            'pattern'
                          )
                        "
                        class="error"
                        >Invalid Email</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>User Password :</label>
                    <input
                      type="password"
                      formControlName="edit_user_pass"
                      class="form-control"
                      placeholder="Enter User Password"
                    />

                    <div
                      *ngIf="
                        edit_partner.controls['edit_user_pass'].touched &&
                        !edit_partner.controls['edit_user_pass'].valid
                      "
                    >
                      <span
                        *ngIf="
                          edit_partner.controls['edit_user_pass'].hasError(
                            'minlength'
                          )
                        "
                        class="error"
                        >Password minimum 6 characters</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>Confirm Password :</label>
                    <input
                      type="password"
                      formControlName="edit_con_pass"
                      class="form-control"
                      placeholder="Enter Confirm Password"
                    />
                    <div
                      *ngIf="
                        edit_partner.controls['edit_con_pass'].touched &&
                        !edit_partner.controls['edit_con_pass'].valid
                      "
                    >
                      <span
                        *ngIf="
                          edit_partner.controls['edit_con_pass'].hasError(
                            'equalTo'
                          )
                        "
                        class="error"
                      >
                        Password does not match.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="phone">Phone :</label>
                    <input
                      type="tel"
                      formControlName="mobile"
                      class="form-control"
                      placeholder="XXX-XXX-XXXX OR XXXXXXXXXX"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="website">Website :</label>
                    <input
                      type="text"
                      formControlName="user_url"
                      class="form-control"
                      placeholder="http://www.example.com"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="address">Address :</label>
                    <textarea
                      formControlName="address"
                      class="form-control"
                      placeholder="Enter Address"
                    ></textarea>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="fax">Fax :</label>
                    <input
                      type="text"
                      formControlName="fax"
                      class="form-control"
                      placeholder="Enter Fax"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-md-4 no_padding">
                  <div class="form-group">
                    <label for="file">Choose File</label>
                    <input
                      type="file"
                      id="file"
                      (change)="handleFileInput($event)"
                      accept="image/*"
                    />
                  </div> 
                </div>-->
                <div class="col-md-6 no_padding">
                  <img src="{{ company_logo }}" alt="Partner Logo" />
                </div>
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="status" class="new-status">Status :</label>
                    <input
                      type="radio"
                      value="Active"
                      [(ngModel)]="user_status"
                      formControlName="user_status"
                    />
                    Active
                    <input
                      type="radio"
                      value="Inactive"
                      [(ngModel)]="user_status"
                      formControlName="user_status"
                    />
                    Inactive
                  </div>
                </div>

                <div class="clear"></div>
              </div>
              <div class="row">
                <div class="col-md-6 no_padding">
                  <div class="row">
                    <div
                      class="col-md-2 no_padding2"
                      align="left"
                      style="margin-top:25px;"
                    >
                      <a
                        href="javascript:void(0);"
                        onclick="window.history.back()"
                        class="btn btn-primary"
                      >
                        << Back</a
                      >
                    </div>
                    <div
                      class="col-md-2 no_padding1 pull-left"
                      align="left"
                      style="margin-top:25px;"
                    >
                      <input
                        type="submit"
                        class="btn btn-primary"
                        name="submit"
                        value="Update"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear">&nbsp;</div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
