.heading {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  background: #424242 !important;
  font-family: "Yanone Kaffeesatz";
  font-weight: 400;
  font-size: 30px;
  padding: 9px;
}
input.ng-invalid.ng-touched {
  border-color: red;
}
.error {
  color: red;
  position: absolute;
}
.edit_patner_border {
  border: 1px solid #000;
  padding: 30px 20px;
  border-radius: 0px 0px 3px 3px;
}
.edit_patner_hedding {
  margin-bottom: 0px;
  border-radius: 3px 3px 0px 0px;
  padding-left: 20px;
}
