<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <!-- <div class="content-wrap rgnl-mng"> -->

  <div class="">
    <div id="primary" class="content-area col-md-12">

      <!-- header text  -->
      <div class="card-header">
        <div class="card-title">
          <div class="title">
            <h1>Data Collectors Analytics</h1>
          </div>
        </div>
      </div>

      <!--/////////////////////////////////// search section//////////////////////////// -->

      <div style="padding-bottom: 5px; padding-top: 5px;">
        <div class="specimen_border">
          <div class="">
            <div class="">

              <form [formGroup]="searchForm" (ngSubmit)="searchData()">

                <div class="col-md-2 entre_name speciman_top">
                  <div id="search_value_holder" style="margin-left: 0">
                    <select formControlName="status" [(ngModel)]='statusSelect' class="form-control">
                      <option value="">User status</option>
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3 entre_name speciman_top">
                  <div id="search_value_holder" style="margin-left: 0">
                    <input type="text" formControlName="fname" class="form-control"
                      placeholder="Search by First Name Or Last Name">
                  </div>
                </div>

                <div class="col-md-2 entre_name speciman_top">
                  <input type="text" class="form-control highlight_class" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }" [maxDate]="maxDate"
                    formControlName="from_date" placeholder="From date (Y-M-D)" />
                </div>

                <div class="col-md-2 entre_name speciman_top">
                  <input type="text" class="form-control highlight_class" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }"
                    formControlName="to_date" [maxDate]="maxDate" placeholder="To date (Y-M-D)" />
                </div>
                <div class="col-md-2">
                  <input type="text" placeholder="Quick Search" class="form-control"
                    (keyup)='search_filter($event.target.value)'>
                </div>
                <div class="clearfix" style="margin-bottom: 5px;"><br></div>

                <div class="col-md-1 no_padding3">
                  <input type="submit" value="Search" class="btn btn-success">
                </div>

                <div class="col-md-1 reset_btn no_padding3" style="margin-left: 12px;">
                  <a href="javascript:void(0);" (click)="resetForm();" class="btn btn-info">
                    <i class="fa fa-repeat"></i> Reset</a>
                </div>
                <div class="col-md-6"></div>


              </form>

            </div>
          </div>
        </div>

      </div>


      <!-- alert message -->
      <div *ngIf="succMessage" class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>{{succMessage}}</strong>
      </div>

      <div data-toggle="tooltip" data-placement="top"
        title="Average Activation Time = ((Sales Registration Date - Physician Last Specimen Submission Date from All Physicians of that Sales ) / Number of Active Sales, Who have Atleast One Submitted Specimen).">
        <span>Average Activation Time (In Days):
        </span>{{avgDateDiff}} days for {{usrCount}} active users. </div>
      <!--/////////////////////////////////// listing//////////////////////////// -->
      <p class="clear"></p>
      <div class="clearfix"></div>
      <div class="table-responsive">

        <table class="display table table-responsive table-bordered" style="width:100%" [mfData]="data"
          #mf="mfDataTable" [mfRowsOnPage]="10">

          <!-- table header -->
          <thead>
            <tr class="users_list">
              <th *ngIf="user_role !=='partner'">
                <mfDefaultSorter by="full_name">Data Collectors</mfDefaultSorter>
              </th>
              <th *ngIf="user_role !=='partner'" width="10%">
                <mfDefaultSorter by="physician_count">No. of Physicians</mfDefaultSorter>
              </th>
              <th *ngIf="user_role !=='partner'" width="15%">
                <mfDefaultSorter by="user_registered">User Registered
                </mfDefaultSorter>
              </th>
              <th *ngIf="user_role !=='partner'" width="15%">
                <mfDefaultSorter by="specimen_submitted_date">Last Specimen Date
                </mfDefaultSorter>
              </th>
              <th *ngIf="user_role !=='partner'" width="10%">
                <mfDefaultSorter by="dateDiff">Activation Time</mfDefaultSorter>
              </th>

            </tr>
          </thead>

          <!-- table body -->
          <tbody>
            <ng-container *ngIf="!notFount; else elseTemplate">
              <tr *ngFor="let physician of mf.data | filter:searchText">
                <td>
                  <div>
                    {{physician.full_name}}
                  </div>
                </td>
                <td>
                  <div>
                    <i class="glyphicon glyphicon-user"></i> {{physician.physician_count}}
                  </div>
                </td>

                <td valign="middle" *ngIf="user_role !=='partner'">
                  <div>{{physician.user_registered | date:'longDate'}}</div>
                </td>
                <td valign="middle" *ngIf="user_role !=='partner'">
                  <div>{{physician.specimen_submitted_date}}</div>
                </td>
                <td valign="middle" *ngIf="user_role !=='partner'">
                  <div>{{physician.dateDiff}} Days</div>
                </td>
              </tr>
            </ng-container>
            <ng-template #elseTemplate>
              <tr id="no_data_found" class="text-center">
                <td colspan="12" class="text-center">
                  <h4>{{statusMessage}}</h4>
                </td>
              </tr>
            </ng-template>

          </tbody>

          <!-- table footer -->
          <tfoot>
            <tr class="users_list">
              <th *ngIf="user_role !=='partner'">Data Collectors</th>
              <th>No. of Physicians</th>
              <th>User Registered</th>
              <th *ngIf="user_role !=='partner'">Last Specimen Date</th>
              <th *ngIf="user_role !=='partner'">Activation Time</th>
            </tr>

            <tr>
              <td colspan="6">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
              </td>
            </tr>

          </tfoot>
        </table>
      </div>

      <div class="col-md-6"></div>
      <!-- <div class="show_physician_list"><strong>Showing Number of Physician:
        </strong><span>{{total_showing_users}}</span>
      </div> -->

      <!-- <div class="show_physician_list" *ngIf="user_role =='aps_sales_manager' || user_role =='data_entry_oparator'">
        <strong>Total Number of Physician:
        </strong><span>{{total_physician}}</span>
      </div> -->

    </div>
  </div>
  <app-footer></app-footer>
</section>
<!-- </div> -->