.side-body .page-title:before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: #ccc solid 1px;
    margin-top: 19px;
    left: 0;
}
.page-title span.title {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: red;
    text-align: center;
    margin: 0;
    position: relative;
    padding: 0 10px;
    background: #fff;
}
.page-title span.title {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: red;
    text-align: center;
    margin: 0;
    position: relative;
    padding: 0 10px;
    background: #fff;
    left: 50%;
    margin-left: -10px;
}