<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->




  <div *ngIf="errMessage" class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>{{errMessage}}</strong>
  </div>

  <div class="app-container">
    <div class="content-container">

      <div class="clear" style="height:0px;"></div>
      <!-- Main Content -->
      <div class="" style="min-height:520px;">
        <div class="side-body">


          <div style=" margin: 0 auto -18px;  width: 100%; display: none;" id="error_message">
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <div id="error_announcement_name" style="color: #ff0000; font-size: 16px;"></div>
              <div id="error_description" style="color: #ff0000; font-size: 16px;"></div>
            </div>
          </div>
          <div class="card-title">
            <div class="title">
              <h1>Announcements Add</h1>
            </div>
          </div>
          <div class="buttonList">
            <button onclick="history.go(-1);" class="btn btn-info">
              << Back</button> </div> <div class="page-title" style="position:relative;">
                <span class="title"></span>
                <div class="clear" style="height:10px;"></div>
                <table class="table" cellpadding="2" cellspacing="2" width="100%"
                  style="border:1px solid #ccc; background:#f1f1f1;">
                  <!-- <tr>
                  <th align="center" style="text-align:center; background: #fff">
                    <a routerLink="/announcements-add" class="btn btn-primary">Add Announcements</a>
                  </th>
                </tr> -->
                </table>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="card">


                <div class="card-body">
                  <form [formGroup]="FormData" (ngSubmit)="add_announcement()">
                    <table class="table table-striped listing_table" cellspacing="0" width="100%">
                      <tr>
                        <td width="5%">Announcement Title</td>
                        <td width="30%">
                          <input type="text" formControlName="announcement_name" class="form-control" />
                          <app-field-error-display [displayError]="isFieldValid('announcement_name')"
                            errorMsg="Announcement Name is required.">
                          </app-field-error-display>
                        </td>

                      </tr>
                      <tr>
                        <td></td>
                        <td>
                        </td>

                      </tr>

                      <tr>
                        <td width="5%">Descriptions</td>
                        <td width="30%">
                          <ck-editor formControlName="descriptions" skin="moono-lisa" language="en"></ck-editor>
                          <!-- <textarea rows="4" formControlName="descriptions"></textarea> -->
                        </td>
                      </tr>
                      <tr>
                        <td width="5%">Announcements For</td>
                        <td width="30%">
                          <select formControlName="announcements_for" [(ngModel)]="announcements_for"
                            class="form-control input-sm" style="width:300px;">
                            <option value="1">Physician</option>
                            <option value="2">Data Collectors</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td width="5%">Status</td>
                        <td width="30%">
                          <select formControlName="is_active" [(ngModel)]="is_active" class="form-control input-sm"
                            style="width:300px;">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>
                          <a routerLink="/announcements" class="btn btn-default" style="margin-right: 10px;">Back</a>
                          <input class="btn btn-default" type="submit" name="addpage" value="Submit" />
                        </td>
                      </tr>
                    </table>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>