<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->


  <div class="content-wrap repres-mng">
    <div class="">
      <div id="primary" class="content-area col-md-12 abs_resl rp-manage">
        <div class="card-header">
          <div class="card-title">
            <div class="title">
              <h1>Data Collectors List</h1>
            </div>
          </div>
        </div>


        <!--/////////////////////////////////// search section//////////////////////////// -->

        <div style="padding-bottom: 5px; padding-top: 5px;">
          <div class="specimen_border">
            <div class="">
              <div class="">

                <form [formGroup]="searchForm" (ngSubmit)="searchData()">

                  <div class="col-md-1 entre_name speciman_top">
                    <div id="search_value_holder" style="margin-left: 0">
                      <select formControlName="status" [(ngModel)]='statusSelect' class="form-control">
                        <option value="">User status</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2 entre_name speciman_top">
                    <div id="search_value_holder" style="margin-left: 0">
                      <input type="text" formControlName="search_value" class="form-control"
                        placeholder="Search by Full First or Last Name">
                    </div>
                  </div>

                  <div class="col-md-1 entre_name speciman_top">
                    <select formControlName="from_month" [(ngModel)]='monthSelect' class="form-control">
                      <option value="">Month</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>

                  <div class="col-md-1 entre_name speciman_top">
                    <select formControlName="from_year" [(ngModel)]='yearSelect' class="form-control">
                      <option value="">Year</option>
                      <option *ngFor="let year of allyear" value="{{year}}">{{year}}</option>
                    </select>
                  </div>

                  <div class="col-md-2 entre_name speciman_top">
                    <select formControlName="state" class="form-control" [(ngModel)]='selectState'>
                      <option value="">Select State</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                  </div>

                  <div class="col-md-1 no_padding3">
                    <input type="submit" value="Search" class="btn btn-success">
                  </div>

                  <div style="width: auto;" class="col-md-1 reset_btn no_padding3"> <a href="javascript:void(0);"
                      (click)="ngOnInit();" class="btn btn-info"><i class="fa fa-repeat"></i> Reset</a></div>

                  <div class="col-md-2 speciman_top" style="width: auto;">
                    <input type="text" placeholder="Quick Table Search" class="form-control"
                      (keyup)='search_filter($event.target.value)'>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!-- alert message -->
        <div *ngIf="succMessage" class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>{{succMessage}}</strong>
        </div>

        <p class="clear"></p>
        <div class="clearfix"></div>
        <div class="table-responsive">
          <table class="display table table-responsive table-bordered" style="width:100%" [mfData]="data"
            #mf="mfDataTable" [mfRowsOnPage]="10">

            <thead>
              <tr class="users_list">
                <th class="sorting_asc" [width]="user_id !=='76514'?'15%':'25%'">
                  <mfDefaultSorter by="sales_reps_name">Data Collectors</mfDefaultSorter>
                </th>

                <th class="sorting_asc" [width]="user_id !=='76514'?'15%':'25%'">
                  <mfDefaultSorter by="regional_name">Regional Manager</mfDefaultSorter>
                </th>

                <th width="10%" class="sorting_asc">
                  <mfDefaultSorter by="short_tot_phy">No. of Physicians</mfDefaultSorter>
                </th>

                <th width="10%" *ngIf="user_id !=='76514'" style="display:none;">
                  <mfDefaultSorter by="short_charged_amt" >Charged Amount</mfDefaultSorter><span
                    class="glyphicon sort-icon"></span>
                </th>

                <th width="10%" *ngIf="user_id !=='76514'" style="display:none;">
                  <mfDefaultSorter by="short_paid_amt">Collected Amount</mfDefaultSorter><span
                    class="glyphicon sort-icon"></span>
                </th>

                <th width="10%" class="sorting_asc">
                  <mfDefaultSorter by="u_status">Status</mfDefaultSorter>
                </th>

                <th width="30%" class="sorting_asc">Action</th>
              </tr>
            </thead>



            <!-- table body -->
            <tbody>
              <ng-container *ngIf="!notFount else nodata">
                <tr *ngFor="let sales_reps of mf.data | filter:searchText">
                  <td>
                    <div>{{sales_reps.sales_reps_name}}</div>
                  </td>
                  <td valign="middle">
                    <div>{{sales_reps.regional_name}}</div>
                  </td>
                  <td valign="middle">
                    <div style="text-align: center ; cursor: pointer;">
                      <a routerLink="/sales-physician-listing/{{sales_reps.user_id}}" routerLinkActive="active"
                        rel="shadowbox;width=800;height=720;" title="Number of Physicians"><i
                          class="glyphicon glyphicon-user"></i>{{sales_reps.tot_phy}}</a>

                    </div>
                  </td>
                  <td valign="middle" *ngIf="user_id !=='76514'" style="display:none;">
                    <div>{{sales_reps.charged_amt}}</div>
                  </td>
                  <td valign="middle" *ngIf="user_id !=='76514'" style="display:none;">
                    <div>{{sales_reps.paid_amt}}</div>
                  </td>
                  <td valign="middle">
                    <div>{{sales_reps.u_status}}</div>
                  </td>
                  <td style="width:24%">
                    <div class="buttonList btn-group">

                      <ng-container *ngIf=" user_role === 'aps_sales_manager' || user_role==='sales_regional_manager' ||
                      user_role==='team_sales_manager' || user_role==='team_regional_Sales' ||
                      user_role==='regional_manager'">
                        <a class=" btn btn btn-primary" routerLink="/fees/{{sales_reps.user_id}}"
                          routerLinkActive="active" rel="shadowbox;width=800;height=720;" title="Commission!"> <i
                            class="fa fa-money"></i></a>
                      </ng-container>

                      <a class="btn btn-primary" routerLink="/view-sales-representative/{{sales_reps.user_id}}"
                        routerLinkActive="active" rel="shadowbox;width=800;height=720;" title="View"> <i
                          class="fa fa-eye"></i></a>

                      <a class="btn btn-info" type="button"
                        routerLink="/edit-sales-representative/{{sales_reps.user_id}}" routerLinkActive="active"
                        title="Edit"><i class="fa fa-pencil-square-o"></i></a>

                      <a href="javascript:void(0);" class="btn btn-danger" *ngIf="sales_reps.u_status==='Active'"
                        (click)="active_inactive(sales_reps.u_status,sales_reps.user_id)"
                        title="Click to Inactive"><i class="fa fa-lock"></i> Inactive</a>

                      <a href="javascript:void(0);" class="btn btn-success" *ngIf="sales_reps.u_status==='Inactive'"
                        (click)="active_inactive(sales_reps.u_status,sales_reps.user_id)" title="Click to Active">
                        <i class="fa fa-unlock"></i> Active</a>

                    </div>
                  </td>

                </tr>
              </ng-container>
              <ng-template #nodata>
                <tr>
                  <td colspan="7" class="text-center">
                    <h4>No data found</h4>
                  </td>
                </tr>
              </ng-template>
            </tbody>


            <tfoot>
              <tr class="users_list">
                <th class="sorting_asc" [width]="user_id !=='76514'?'15%':'25%'">Data Collectors</th>
                <th class="sorting_asc" [width]="user_id !=='76514'?'15%':'25%'">Regional Manager</th>
                <th width="10%" class="sorting_asc">No. of Physicians</th>
                <th width="10%" class="sorting_asc" *ngIf="user_id !=='76514'" style="display:none;">Charged Amount</th>
                <th width="10%" class="sorting_asc" *ngIf="user_id !=='76514'" style="display:none;">Collected Amount</th>

                <th width="10%" class="sorting_asc">Status</th>
                <th width="30%" class="sorting_asc">Action</th>
              </tr>
              <tr>
                <th colspan="3" style="text-align: center"><strong>Total</strong></th>
                <th colspan="1" style="display:none;"><strong><span style="color: #28a4c9">&nbsp;
                      <ng-container *ngIf="total_charged_amount; else elseTemplate">
                        {{total_charged_amount}}
                      </ng-container>

                      <ng-template #elseTemplate>
                        loading ...
                      </ng-template>

                    </span></strong></th>
                <th colspan="1" style="display:none;"><strong><span style="color: #28a4c9">&nbsp;
                      <ng-container *ngIf="total_paid_amount; else elseTemplate">
                        {{total_paid_amount}}
                      </ng-container>
                      <ng-template #elseTemplate>
                        loading ...
                      </ng-template>

                    </span></strong>
                </th>

                <th colspan="3"></th>
              </tr>

              <!-- <ng-container *ngIf="sales_list.total_users > 10"> -->
              <tr>
                <td colspan="7">
                  <ng-container *ngIf="total_showing_users > 10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                  </ng-container>
                </td>
              </tr>
              <!-- </ng-container> -->

              <ng-container *ngIf="!loadmorehide">
                <tr>
                  <td colspan="7">
                    <ng-container *ngIf="!reg_id">
                      <button class="btn btn-info" (click)="loadMore()">Load more</button>
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
            </tfoot>


          </table>
          <div class="row">
            <div class="col-md-4">
              <div class="show_salesRefs_list">Showing Data Collectors :<strong><span
                    style="color: #28a4c9">&nbsp;{{total_showing_users}}</span></strong></div>
            </div>

            <div class="col-md-8 pull-right">
              <ng-container *ngIf="!reg_id">
                <div class="show_salesRefs_list">Total Data Collectors :
                  <ng-container *ngIf="TotalSalesManager; else elseTemplate">
                    <strong ng-i><span style="color: #28a4c9">&nbsp;{{TotalSalesManager}}</span></strong>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <strong ng-i><span style="color: #28a4c9">&nbsp;Loading...</span></strong>
                  </ng-template>

                </div>

              </ng-container>

            </div>

            <div class="clearfix"></div>
          </div>
        </div>
        <p style="display:none;">Charged Amount is the amount that has been billed to insurance in the current month. Not all will be
          collected.<br />
          Collected Amount is amount collected by lab in the current month.<br />
          For more information about your billing and collections process, <a routerLink="/collections">Click
            here</a>.<br />
          Financial information last updated {{last_data_entry_date | date: 'MMMM dd, yyyy'}}
        </p>
        <a href="javascript: history.go(-1)" class="btn btn-primary pull-left">Back</a>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>