.side-body .page-title:before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: #ccc solid 1px;
    margin-top: 19px;
    left: 0;
}
.page-title span.title {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: red;
    text-align: center;
    margin: 0;
    position: relative;
    padding: 0 10px;
    background: #fff;
}
.page-title span.title {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: red;
    text-align: center;
    margin: 0;
    position: relative;
    padding: 0 10px;
    background: #fff;
    left: 50%;
    margin-left: -10px;
}
.btn-info {
    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #28a4c9;
    margin-right: 5px;
    margin-bottom:10px;
}
.btn-danger {
    background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
    background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}