<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <div *ngIf="succMessage" class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>{{succMessage}}</strong>
  </div>

  <div *ngIf="errMessage" class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>{{errMessage}}</strong>
  </div>


  <div class="app-container">
    <div class="content-container">

      <div class="clear" style="height:0px;"></div>
      <!-- Main Content -->
      <div class="" style="min-height:520px;">
        <div class="side-body">




          <div style=" margin: 0 auto -18px;  width: 100%; display: none;" id="error_message">
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <div id="error_announcement_name" style="color: #ff0000; font-size: 16px;"></div>
              <div id="error_description" style="color: #ff0000; font-size: 16px;"></div>
            </div>
          </div>
          <div class="card-title">
            <div class="title">
              <h1>Announcements</h1>
            </div>
          </div>
          <div class="buttonList">
            <button onclick="history.go(-1);" class="btn btn-info">
              << Back</button> </div> <div class="page-title" style="position:relative;">
                <span class="title"></span>
                <div class="clear" style="height:10px;"></div>
                <table class="table" cellpadding="2" cellspacing="2" width="100%"
                  style="border:1px solid #ccc; background:#f1f1f1;">
                  <tr>
                    <th align="center" style="text-align:center; background: #fff">
                      <a routerLink="/announcements-add" class="btn btn-primary">Add Announcements</a>
                    </th>
                  </tr>
                </table>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="card">

                <div class="card-body">
                  <table class="display table table-responsive table-bordered" style="width:100%" [mfData]="data"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                      <tr class="users_list">
                        <th width="15%">Announcements Title</th>
                        <th width="17%">Description</th>
                        <th width="10%">Added By</th>
                        <th width="15%">Announcements for</th>
                        <th width="8%">Status</th>
                        <th width="10%">Create Date</th>
                        <th width="10%">Modify Date</th>
                        <th width="16%">Action</th>
                      </tr>
                    </thead>

                    <tbody *ngIf="!notFount">
                      <tr *ngFor="let announce of mf.data; trackBy: trackByFn">
                        <td>{{announce.announcement_name}}</td>
                        <td [innerHTML]=announce.descriptions></td>
                        <td>{{announce.user_id}}</td>
                        <td *ngIf="announce.announcements_for =='1'">Physician</td>
                        <td *ngIf="announce.announcements_for =='2'">Data Collectors</td>
                        <td>{{announce.is_active}}</td>
                        <td>{{announce.create_date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{announce.modify_date | date: 'dd/MM/yyyy'}}</td>
                        <td>
                          <div class="buttonList">
                            <a routerLink="/announcements-edit/{{announce.id}}" class="btn btn-info"><i
                                class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                            <!-- <a class="btn btn-danger" (click)="delete_announcement(announce.id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a> -->

                            <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                              [popoverMessage]="popoverMessage" confirmText="Yes <i class='glyphicon glyphicon-ok'></i>"
                              cancelText="No <i class='glyphicon glyphicon-remove'></i>" placement="top"
                              (confirm)="delete_announcement(announce.id)" (cancel)="cancelClicked = true">
                              <i class="fa fa-trash-o"></i> Delete
                            </button>

                          </div>
                        </td>
                      </tr>
                    </tbody>

                    <tbody *ngIf="notFount">
                      <tr>
                        <td colspan="8" class="text-center">
                          <h3>No data found!</h3>
                        </td>
                      </tr>
                    </tbody>



                    <tfoot>
                      <tr class="users_list">
                        <th width="15%">Announcements Title</th>
                        <th width="17%">Description</th>
                        <th width="10%">Added By</th>
                        <th width="15%">Announcements for</th>
                        <th width="8%">Status</th>
                        <th width="10%">Create Date</th>
                        <th width="10%">Modify Date</th>
                        <th width="16%">Action</th>
                      </tr>

                      <tr>
                        <td colspan="8">
                          <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>

                  </table>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>