<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  fullScreen="true"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- side menu from dash-sidemenu component-->
<app-dash-sidemenu></app-dash-sidemenu>
<!-- side menu -->
<section class="right-panel col-sm-10 hightmatch hightmatch-block">
  <!-- app heder selector-->
  <app-header></app-header>
  <!-- app heder selector-->

  <!--top-header start-->

  <div class="content-wrap">
    <div class="">
      <div id="primary" class="content-area col-md-12">
        <div id="registration-form" class="form">
          <form [formGroup]="FormData" (ngSubmit)="update_data()">
            <div class="bg-primary heading edit_patner_hedding">
              Edit Physician Details
            </div>
            <div class="edit_patner_border">
              <div class="row">
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >First Name :&nbsp;<span>*</span></label
                    >
                    <input
                      type="text"
                      formControlName="first_name"
                      class="form-control required"
                      placeholder="Enter First Name"
                    />
                    <div
                      *ngIf="
                        FormData.controls['first_name'].touched &&
                        !FormData.controls['first_name'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['first_name'].hasError('required')
                        "
                        class="error"
                        >First name is required</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Last Name :&nbsp;<span>*</span></label
                    >
                    <input
                      type="text"
                      formControlName="last_name"
                      class="form-control"
                      placeholder="Enter Last Name"
                    />
                    <div
                      *ngIf="
                        FormData.controls['last_name'].touched &&
                        !FormData.controls['last_name'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['last_name'].hasError('required')
                        "
                        class="error"
                        >Last name is required</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >User Name :&nbsp;<span>*</span></label
                    >
                    <input
                      type="text"
                      formControlName="user_login"
                      class="form-control"
                      readonly="readonly"
                      placeholder="Enter User Name"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Email :&nbsp;<span>*</span></label
                    >
                    <input
                      type="email"
                      formControlName="user_email"
                      class="form-control"
                      placeholder="Enter Email"
                      [readonly]="
                        userRole !== 'aps_sales_manager' &&
                        userRole !== 'data_entry_oparator' &&
                        userRole !== 'regional_manager'
                      "
                    />
                    <div
                      *ngIf="
                        FormData.controls['user_email'].touched &&
                        !FormData.controls['user_email'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['user_email'].hasError('pattern')
                        "
                        class="error"
                        >Please enter a valid email.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label
                      >User Password :(<small>For ex. Ability@1234</small
                      >)</label
                    >
                    <input
                      type="password"
                      formControlName="edit_user_pass"
                      class="form-control"
                      placeholder="Enter User Password"
                    />
                    <div
                      *ngIf="
                        FormData.controls['edit_user_pass'].touched &&
                        !FormData.controls['edit_user_pass'].valid
                      "
                    >
                      <!-- <span
                        *ngIf="FormData.controls['edit_user_pass'].hasError(
                        'minlength'
                        )" class="error">Password minimum 6 characters</span> -->
                      <span
                        *ngIf="
                          FormData.controls['edit_user_pass'].hasError(
                            'pattern'
                          )
                        "
                        class="error"
                        >Password MUST contain at least 8 characters (one
                          digit, one lower case, one upper case, and one special
                          characters (!@#$%^&*))</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label>Confirm Password :</label>
                    <input
                      type="password"
                      formControlName="edit_con_pass"
                      class="form-control"
                      placeholder="Enter Confirm Password"
                    />
                    <div
                      *ngIf="
                        FormData.controls['edit_con_pass'].touched &&
                        !FormData.controls['edit_con_pass'].valid
                      "
                    >
                      <span
                        *ngIf="
                          FormData.controls['edit_con_pass'].hasError('equalTo')
                        "
                        class="error"
                      >
                        Password does not match.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Office Phone :</label>
                    <input
                      type="tel"
                      formControlName="mobile"
                      class="form-control"
                      placeholder="XXX-XXX-XXXX OR XXXXXXXXXX"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Website :</label>
                    <input
                      type="text"
                      formControlName="user_url"
                      class="form-control"
                      placeholder="http://www.example.com"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Address :</label>
                    <textarea
                      formControlName="address"
                      class="form-control"
                      placeholder="Enter Address"
                    ></textarea>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Second Addres :</label>
                    <textarea
                      formControlName="clinic_add"
                      class="form-control"
                      placeholder="Second Address"
                    ></textarea>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">State :</label>
                    <select formControlName="state" class="form-control">
                      <option value="">Select Any State</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Fax :</label>
                    <input
                      type="text"
                      formControlName="fax"
                      class="form-control"
                      placeholder="Fax"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Another Fax number :</label>
                    <input
                      type="text"
                      formControlName="anthr_fax"
                      class="form-control"
                      placeholder="Another Fax number"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Cell Phone :</label>
                    <input
                      type="text"
                      formControlName="cell_phone"
                      class="form-control"
                      placeholder="Cell Phone"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Office Manager Contact Name :</label
                    >
                    <input
                      type="text"
                      formControlName="manager_contact_name"
                      class="form-control"
                      placeholder="Office Manager Contact Name"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Office Manager Cell Number :</label
                    >
                    <input
                      type="text"
                      formControlName="manager_cell_number"
                      class="form-control"
                      placeholder="Office Manager Cell Number"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >National Provider Identifier :</label
                    >
                    <input
                      type="text"
                      formControlName="npi_api"
                      class="form-control"
                      placeholder="National Provider Identifier"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Assign Physician to Clinic Profile :</label
                    >
                    <select
                      formControlName="assign_clinic"
                      class="form-control"
                    >
                      <option value="">Select Clinic</option>
                      <option
                        *ngFor="let clinic of all_assign_clinic"
                        [ngValue]="clinic.id"
                        >{{ clinic.name }}</option
                      >
                    </select>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Combine Physicians Account :</label
                    >
                    <select
                      formControlName="combine_phy_acc"
                      class="form-control"
                    >
                      <option value=""
                        >Select Combine Physicians Account</option
                      >
                      <option
                        *ngFor="let physicians of all_com_physicians_name"
                        [ngValue]="physicians.id"
                      >
                        {{ physicians.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <ng-container *ngIf="user_role !== 'sales'">
                  <div class="col-md-6 no_padding">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Data Collectors :</label>
                      <select formControlName="sales_rep" class="form-control">
                        <option value="">Data Collectors</option>
                        <option
                          *ngFor="let sales of all_sales_rep"
                          [ngValue]="sales.id"
                          >{{ sales.name }}</option
                        >
                      </select>
                    </div>
                  </div>
                </ng-container>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Assign with Partner Company :</label
                    >
                    <select
                      formControlName="assign_partner"
                      class="form-control"
                    >
                      <option value="">Select Partner</option>
                      <option
                        *ngFor="let partner of all_partner_name"
                        [ngValue]="partner.id"
                        >{{ partner.name }}</option
                      >
                    </select>
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Clinic Name :</label>
                    <input
                      type="text"
                      formControlName="clinic_name"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Assign Physician's Specialty :</label
                    >
                    <select
                      formControlName="assign_specialty"
                      class="form-control"
                    >
                      <option value="">Select Specialty</option>
                      <option value="Physician">Physician</option>
                      <option value="Wound Care Specialist"
                        >Wound Care Specialist</option
                      >
                      <option value="DPM">DPM</option>
                      <option value="PCP">PCP</option>
                      <option value="Ortho">Ortho</option>
                      <option value="Nurse Practitioner"
                        >Nurse Practitioner</option
                      >
                      <option value="DO">DO</option>
                      <option value="Dermatologist">Dermatologist</option>
                      <option value="Geriatric">Geriatric</option>
                      <option value="Bariatric">Bariatric</option>
                      <option value="PA">PA</option>
                      <option value="OBGYN">OBGYN</option>
                    </select>
                  </div>
                </div>
                
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="account_id" class="new-status"
                      >SalesForce Account ID : &nbsp;&nbsp;</label
                    >
                    <input
                      type="text"
                      formControlName="account_id"
                      class="form-control"
                      placeholder="SalesForce Account ID"
                    />

                </div>
              </div>
                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Additional ways to get report : &nbsp;&nbsp;</label
                    >
                    <input
                      type="checkbox"
                      [(ngModel)]="report_recive_way_fax"
                      formControlName="report_recive_way_fax"
                      value="Fax"
                    />
                    Fax
                    <input
                      type="checkbox"
                      [(ngModel)]="report_recive_way_email"
                      formControlName="report_recive_way_email"
                      value="Email"
                    />
                    Email
                    <input
                      type="checkbox"
                      [(ngModel)]="report_recive_way_none"
                      formControlName="report_recive_way_none"
                      value="Email"
                    />
                    None
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="status" class="new-status"
                      >Send positive wound reports to PharmD :
                      &nbsp;&nbsp;</label
                    >
                    <input
                      type="radio"
                      value="Yes"
                      formControlName="wound_positive_send"
                    />
                    Yes
                    <input
                      type="radio"
                      value="No"
                      formControlName="wound_positive_send"
                    />
                    No
                  </div>
                </div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Send positive wounds to PharmD opt-in date :
                      &nbsp;&nbsp;</label
                    >
                    <input
                      class="form-control"
                      type="text"
                      formControlName="postive_wound_send_date"
                      readonly
                    />
                  </div>
                </div>

                <div class="clear"></div>

                <div class="col-md-6 no_padding">
                  <div class="form-group">
                    <label for="status" class="new-status"
                      >Status : &nbsp;&nbsp;</label
                    >
                    <input
                      type="radio"
                      value="Active"
                      [(ngModel)]="user_status"
                      formControlName="user_status"
                    />
                    Active
                    <input
                      type="radio"
                      value="Inactive"
                      [(ngModel)]="user_status"
                      formControlName="user_status"
                    />
                    Inactive
                  </div>
                </div>

                <div class="clear"></div>

                <div
                  class="col-md-1 no_padding2"
                  align="left"
                  style="margin-top:25px;"
                >
                  <a
                    href="javascript:void(0);"
                    onclick="window.history.back()"
                    class="btn btn-primary"
                  >
                    << Back</a
                  >
                </div>
                <div
                  class="col-md-2 no_padding1 pull-left"
                  align="left"
                  style="margin-top:25px;"
                >
                  <input
                    type="submit"
                    class="btn btn-primary"
                    name="submit"
                    value="Update"
                  />
                </div>
                <div class="clear">&nbsp;</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
